Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Add document verification metrics and school year seeder
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/SuperAdmin/DashboardController.php
  database/seeders/SchoolYearSeeder.php
  resources/js/components/document-metrics.tsx
  resources/js/pages/admin/dashboard.tsx
  resources/js/pages/super-admin/super-admin-dashboard.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Refactor school year to use SchoolYear model and revert documents to student-only
  app/Models/Document.php
  app/Models/Enrollment.php
  database/migrations/2025_10_23_200206_remove_enrollment_id_from_documents_table.php
  database/migrations/2025_10_23_200240_add_school_year_id_to_enrollments_table.php
  database/migrations/2025_10_23_200300_migrate_school_year_data_to_school_year_id.php
  database/seeders/SchoolYearSeeder.php
Due: php -l, ./vendor/bin/pint

feat: Phase 3 - Start school year form updates
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  resources/js/components/school-year-select.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Add missing DB facade import
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
Due: php -l, ./vendor/bin/pint

fix: Simplify SchoolYearSelect to not use react-hook-form
  resources/js/components/school-year-select.tsx
Due: prettier --write, eslint --fix

feat: Update SuperAdmin enrollment create form to use SchoolYear model
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  app/Http/Requests/SuperAdmin/StoreEnrollmentRequest.php
  resources/js/pages/super-admin/enrollments/create.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

test: Update StoreEnrollmentRequest tests for school_year_id
  tests/Unit/Http/Requests/SuperAdmin/StoreEnrollmentRequestTest.php
Due: php -l, ./vendor/bin/pint

feat: Add SchoolYearFactory for testing
  database/factories/SchoolYearFactory.php
Due: php -l, ./vendor/bin/pint

feat: Update SuperAdmin enrollment edit form to use SchoolYear model
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  app/Http/Requests/SuperAdmin/UpdateEnrollmentRequest.php
  resources/js/pages/super-admin/enrollments/edit.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Add SchoolYearSeeder to DatabaseSeeder
  database/seeders/DatabaseSeeder.php
Due: php -l, ./vendor/bin/pint

test: Update UpdateEnrollmentRequest tests for school_year_id
  tests/Unit/Http/Requests/SuperAdmin/UpdateEnrollmentRequestTest.php
Due: php -l, ./vendor/bin/pint

fix: Remove schoolYear relationship from enrollment edit
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  resources/js/pages/super-admin/enrollments/edit.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Update SuperAdmin grade level fee create form to use SchoolYear model
  app/Http/Controllers/SuperAdmin/GradeLevelFeeController.php
  app/Http/Requests/SuperAdmin/StoreGradeLevelFeeRequest.php
  resources/js/pages/super-admin/grade-level-fees/create.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Update SuperAdmin grade level fee edit form to use SchoolYear model
  app/Http/Controllers/SuperAdmin/GradeLevelFeeController.php
  app/Http/Requests/SuperAdmin/UpdateGradeLevelFeeRequest.php
  resources/js/pages/super-admin/grade-level-fees/edit.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Update Registrar grade level fee create form to use SchoolYear model
  app/Http/Controllers/Registrar/GradeLevelFeeController.php
  resources/js/pages/registrar/grade-level-fees/create.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Update Registrar grade level fee edit form to use SchoolYear model
  app/Http/Controllers/Registrar/GradeLevelFeeController.php
  resources/js/pages/registrar/grade-level-fees/edit.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

test: Update UpdateGradeLevelFeeRequest tests for school_year_id
  tests/Unit/Http/Requests/SuperAdmin/UpdateGradeLevelFeeRequestTest.php
Due: php -l, ./vendor/bin/pint

feat: Add school_year_id column to grade_level_fees table
  database/migrations/2025_10_24_005353_add_school_year_id_to_grade_level_fees_table.php
Due: php -l, ./vendor/bin/pint

feat: Add school_year_id to GradeLevelFee model
  app/Models/GradeLevelFee.php
Due: php -l, ./vendor/bin/pint

feat: Update grade level fees index filter to use school year select
  app/Http/Controllers/SuperAdmin/GradeLevelFeeController.php
  resources/js/pages/super-admin/grade-level-fees/grade-level-fees-table.tsx
  resources/js/pages/super-admin/grade-level-fees/index.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Update Registrar grade level fees index filter to use school year select
  app/Http/Controllers/Registrar/GradeLevelFeeController.php
  resources/js/pages/registrar/grade-level-fees/index.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
