Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: apply Laravel Pint code style fixes
  routes/web.php
Due: php -l, ./vendor/bin/pint

style: apply Prettier formatting for import order and Tailwind classes
  resources/js/layouts/auth/auth-simple-layout.tsx
  resources/js/pages/dashboard.tsx
Due: prettier --write, eslint --fix

chore: remove outdated CODEBASE_REVIEW.md file
  CODEBASE_REVIEW.md
Due: prettier --write

feat: add Spatie Laravel Permission package for RBAC
  composer.json
  composer.lock
  config/permission.php
Due: php -l, ./vendor/bin/pint, prettier --write

feat: add database migrations for RBAC system
  database/migrations/2025_09_18_013142_add_role_to_users_table.php
  database/migrations/2025_09_18_014012_create_permission_tables.php
  database/migrations/2025_09_18_014206_drop_role_column_from_users_table.php
Due: php -l, ./vendor/bin/pint

feat: implement comprehensive RBAC seeder
  database/seeders/DatabaseSeeder.php
  database/seeders/RolesAndPermissionsSeeder.php
Due: php -l, ./vendor/bin/pint

feat: integrate Spatie permissions with User model
  app/Models/User.php
  database/factories/UserFactory.php
Due: php -l, ./vendor/bin/pint

feat: implement role-based authentication redirects
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  routes/web.php
Due: php -l, ./vendor/bin/pint

test: add comprehensive RBAC test coverage
  tests/Feature/Auth/AuthenticationTest.php
  tests/Feature/Auth/EmailVerificationTest.php
  tests/Feature/Auth/PasswordConfirmationTest.php
  tests/Feature/Auth/PasswordResetTest.php
  tests/Feature/Auth/VerificationNotificationTest.php
  tests/Feature/DashboardTest.php
  tests/Feature/Settings/PasswordUpdateTest.php
  tests/Feature/Settings/ProfileUpdateTest.php
  tests/Pest.php
Due: php -l, ./vendor/bin/pint

fix: replace HTML links with Inertia.js Link components
  resources/js/pages/about.tsx
  resources/js/pages/application.tsx
  resources/js/pages/enrollment.tsx
  resources/js/pages/index.tsx
Due: prettier --write, eslint --fix

test: add Laravel Dusk for browser testing
  .env.dusk.local
  phpunit.dusk.xml
  tests/Browser/AuthenticationTest.php
  tests/Browser/EnrollmentFormTest.php
  tests/Browser/ExampleTest.php
  tests/Browser/NavigationTest.php
  tests/Browser/Pages/HomePage.php
  tests/Browser/Pages/Page.php
  tests/Browser/PermissionBasedUITest.php
  tests/Browser/SimpleNavigationTest.php
  tests/Browser/VisualClickTest.php
  tests/Browser/VisualNavigationTest.php
  tests/Browser/console/.gitignore
  tests/Browser/screenshots/.gitignore
  tests/Browser/source/.gitignore
  tests/DuskTestCase.php
Due: php -l, ./vendor/bin/pint

chore: update Docker and CI/CD configuration
  .github/workflows/deploy.yml
  docker-compose.yml
Due: prettier --write

style: fix code formatting issues for Laravel Pint
  app/Models/User.php
  database/factories/UserFactory.php
  database/migrations/2025_09_18_014206_drop_role_column_from_users_table.php
  database/seeders/RolesAndPermissionsSeeder.php
  tests/Browser/EnrollmentFormTest.php
  tests/Browser/ExampleTest.php
  tests/Browser/NavigationTest.php
  tests/Browser/VisualClickTest.php
  tests/Browser/VisualNavigationTest.php
  tests/Feature/Auth/AuthenticationTest.php
Due: php -l, ./vendor/bin/pint

fix: align deploy-secure workflow with working deploy workflow secrets
  .github/workflows/deploy-secure.yml
Due: prettier --write

fix: remove unsupported --message option from artisan down command
  .github/workflows/deploy-secure.yml
Due: prettier --write

fix: remove production flag and non-existent artisan commands
  .github/workflows/deploy-secure.yml
Due: prettier --write

fix: skip npm scripts during production deployment
  .github/workflows/deploy-secure.yml
  .github/workflows/deploy.yml
Due: prettier --write

fix: prevent husky from running in production deployments
  .github/workflows/deploy-secure.yml
  .github/workflows/deploy.yml
  package.json
Due: prettier --write

fix: simplify husky prepare script to not fail in production
  .github/workflows/deploy-secure.yml
  .github/workflows/deploy.yml
  package.json
Due: prettier --write

fix: use npx to run vite build directly
  .github/workflows/deploy-secure.yml
  .github/workflows/deploy.yml
Due: prettier --write

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
