Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Resolve Grade Level Fees School Year display and filtering issues
  app/Http/Controllers/Registrar/GradeLevelFeeController.php
  app/Http/Controllers/SuperAdmin/GradeLevelFeeController.php
  app/Models/GradeLevelFee.php
Due: php -l, ./vendor/bin/pint

fix: Handle nullable relationships in Receipts Create page to prevent blank screen
  resources/js/pages/super-admin/receipts/create.tsx
Due: prettier --write, eslint --fix

fix: Add specific notification messages and ensure all notifications are clickable
  app/Notifications/DocumentRejectedNotification.php
  app/Notifications/DocumentVerifiedNotification.php
  resources/js/components/notifications-dropdown.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Fix school year display and PDF Peso sign encoding issues
  app/Http/Controllers/Guardian/EnrollmentController.php
  app/Http/Controllers/InvoiceController.php
  resources/js/pages/guardian/enrollments/index.tsx
  resources/views/pdf/invoice.blade.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Remove redundant Invoices menu item from guardian sidebar
  resources/js/components/sidebars/guardian-sidebar.tsx
Due: prettier --write, eslint --fix

feat: implement conditional required fields for student enrollment
  app/Http/Requests/Guardian/StoreStudentRequest.php
  package-lock.json
  resources/js/pages/guardian/students/create.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

test: update Guardian StudentControllerTest for conditional required fields
  tests/Feature/Guardian/StudentControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: scope invoice routes under account types
  app/Http/Controllers/Guardian/InvoiceController.php
  resources/js/pages/guardian/dashboard.tsx
  resources/js/pages/shared/invoice.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: render school_year.name instead of school_year object
  resources/js/pages/shared/invoice.tsx
Due: prettier --write, eslint --fix

feat: add invoices index page with data table
  app/Http/Controllers/Guardian/InvoiceController.php
  resources/js/pages/guardian/invoices/index.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Add invoice controllers for Admin and Registrar roles, update tests to use role-scoped routes
  app/Http/Controllers/Admin/InvoiceController.php
  app/Http/Controllers/Registrar/InvoiceController.php
  routes/web.php
  tests/Feature/BillingControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: Add enrollment period status check and helpful messaging
  app/Http/Controllers/Guardian/StudentController.php
  resources/js/pages/guardian/students/show.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Add missing EnrollmentPeriod import
  app/Http/Controllers/Guardian/StudentController.php
Due: php -l, ./vendor/bin/pint

fix: Correct activePeriod.school_year object rendering in enrollment create page
  resources/js/pages/guardian/enrollments/create.tsx
Due: prettier --write, eslint --fix

docs: Update TESTING_GUIDE.md button labels to match actual implementation
  TESTING_GUIDE.md
  TESTING_GUIDE_VERIFICATION.md
Due: prettier --write

docs: Add comprehensive Models architecture documentation
  app/Models/README.md
Due: prettier --write

docs: Fix model relationship discrepancies in README.md
  app/Models/README.md
Due: prettier --write

fix: Add Gender enum and support 'Other' gender option (#391, #392)
  app/Enums/Gender.php
  app/Http/Requests/SuperAdmin/StoreStudentRequest.php
  app/Http/Requests/SuperAdmin/UpdateStudentRequest.php
  database/migrations/2025_10_28_091529_add_other_to_gender_enum_in_students_table.php
Due: php -l, ./vendor/bin/pint

fix: Add missing 'partially_paid' to invoice status validation (#393)
  app/Http/Requests/SuperAdmin/UpdateInvoiceRequest.php
Due: php -l, ./vendor/bin/pint

fix: Remove duplicate index on receipts.receipt_number (#390)
  database/migrations/2025_10_28_093116_remove_duplicate_receipt_number_index_from_receipts.php
Due: php -l, ./vendor/bin/pint

feat: Add Guardian/UpdateEnrollmentRequest for form validation (#395)
  app/Http/Controllers/Guardian/EnrollmentController.php
  app/Http/Requests/Guardian/UpdateEnrollmentRequest.php
Due: php -l, ./vendor/bin/pint

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
