Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: use single quotes for static strings in EnrollmentPeriodFactory
  database/factories/EnrollmentPeriodFactory.php
Due: php -l, ./vendor/bin/pint

feat(documents): implement document upload backend (TICKET-002)
  app/Http/Controllers/Guardian/DocumentController.php
  app/Http/Requests/StoreDocumentRequest.php
  app/Policies/StudentPolicy.php
  routes/web.php
  tests/Feature/Guardian/DocumentControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: add AuthorizesRequests trait and DocumentFactory
  app/Http/Controllers/Guardian/DocumentController.php
Due: php -l, ./vendor/bin/pint

feat(documents): build document upload UI component (TICKET-003)
  resources/js/components/documents/document-upload.tsx
  resources/js/components/documents/index.ts
  resources/js/pages/guardian/students/documents.tsx
Due: prettier --write, eslint --fix

fix: add missing use-toast hook
  resources/js/hooks/use-toast.ts
Due: prettier --write, eslint --fix

fix: add missing document-upload component and use-toast hook
  resources/js/components/documents/document-upload.tsx
  resources/js/hooks/use-toast.ts
Due: prettier --write, eslint --fix

feat(documents): document list and management UI (TICKET-004)
  resources/js/components/documents/document-list.tsx
  resources/js/pages/guardian/students/documents/index.tsx
Due: prettier --write, eslint --fix

fix: update guardian_students FK to reference guardians table and fix code style
  database/migrations/2025_10_11_181814_update_guardian_students_guardian_id_to_reference_guardians.php
Due: php -l, ./vendor/bin/pint

feat: Admin Dashboard and Enrollments Page Enhancements
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Admin/EnrollmentController.php
  resources/js/components/enrollment-card.tsx
  resources/js/components/enrollment-filters.tsx
  resources/js/components/enrollment-list.tsx
  resources/js/pages/admin/dashboard.tsx
  resources/js/pages/admin/enrollments/index.tsx
  resources/js/types/index.d.ts
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: ensure unique test data in search filter test to prevent false matches
  tests/Feature/Services/StudentServiceTest.php
Due: php -l, ./vendor/bin/pint

style: apply Laravel Pint code formatting
  app/Enums/EnrollmentStatus.php
  app/Http/Controllers/Registrar/EnrollmentController.php
  app/Services/InvoiceService.php
  database/migrations/2025_09_27_165843_add_invoice_id_and_payment_reference_to_enrollments_table.php
  tickets/README.md
Due: php -l, ./vendor/bin/pint, prettier --write

fix: correct InvoiceStatus enum usage and refresh enrollment after transaction
  app/Http/Controllers/Registrar/EnrollmentController.php
  app/Services/InvoiceService.php
Due: php -l, ./vendor/bin/pint

feat: Make dashboard, tuition, and invoice pages dynamic
  app/Http/Controllers/InvoiceController.php
  app/Http/Controllers/SuperAdmin/DashboardController.php
  app/Http/Controllers/TuitionController.php
  app/Models/Setting.php
  database/migrations/2025_10_13_020535_create_settings_table.php
  database/seeders/DatabaseSeeder.php
  database/seeders/SettingsSeeder.php
  package-lock.json
  resources/js/pages/shared/invoice.tsx
  resources/js/pages/shared/tuition.tsx
  resources/js/pages/super-admin/super-admin-dashboard.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

format
  resources/js/pages/admin/students/students-table.tsx
  resources/js/pages/admin/users/users-table.tsx
Due: prettier --write, eslint --fix

fix: update StudentServiceTest and DocumentControllerTest to use guardian.id FK
  app/Models/Student.php
  app/Models/User.php
  tests/Feature/Guardian/DocumentControllerTest.php
  tests/Feature/Services/StudentServiceTest.php
Due: php -l, ./vendor/bin/pint

fix: correct GuardianStudent relationship and test guardian FK references
  app/Models/GuardianStudent.php
  tests/Feature/Registrar/StudentControllerTest.php
Due: php -l, ./vendor/bin/pint

style: add blank line after trait use statement
  app/Http/Controllers/Guardian/DocumentController.php
Due: php -l, ./vendor/bin/pint

fix: correct all GuardianStudent FK references in tests to use Guardian model IDs
  tests/Feature/BillingControllerTest.php
  tests/Feature/EnrollmentPendingConstraintTest.php
  tests/Feature/Guardian/BillingControllerTest.php
  tests/Feature/Guardian/EnrollmentControllerTest.php
  tests/Feature/GuardianModelTest.php
  tests/Feature/TuitionControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: update GuardianStudentRelationshipTest to use guardian.id FK
  tests/Feature/GuardianStudentRelationshipTest.php
Due: php -l, ./vendor/bin/pint

fix: update test files to use guardian.id FK instead of user.id
  tests/Feature/EnrollmentControllerTest.php
  tests/Feature/Guardian/StudentControllerTest.php
  tests/Feature/StudentReportControllerTest.php
Due: php -l, ./vendor/bin/pint
