Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: resolve test issues with role middleware and factory defaults
  bootstrap/app.php
  bootstrap/cache/.gitignore
  database/factories/UserFactory.php
  storage/app/.gitignore
  storage/app/private/.gitignore
  storage/app/public/.gitignore
  storage/framework/.gitignore
  storage/framework/cache/.gitignore
  storage/framework/cache/data/.gitignore
  storage/framework/sessions/.gitignore
  storage/framework/testing/.gitignore
  storage/framework/views/.gitignore
  storage/logs/.gitignore
  tests/Feature/DashboardTest.php
Due: php -l, ./vendor/bin/pint

fix: update authentication test for users without roles
  tests/Feature/Auth/AuthenticationTest.php
Due: php -l, ./vendor/bin/pint

fix: create consistent navigation for public pages
  resources/js/components/public-nav.tsx
  resources/js/pages/about.tsx
  resources/js/pages/landing.tsx
Due: prettier --write, eslint --fix

feat: add role selection to registration form
  app/Http/Controllers/Auth/RegisteredUserController.php
  resources/js/pages/auth/register.tsx
  tests/Feature/Auth/RegistrationTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: add missing radio-group component from shadcn/ui
  package-lock.json
  package.json
  resources/js/components/ui/radio-group.tsx
  tests/Browser/RegistrationRoleSelectionTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

style: fix code style issues for CI/CD
  app/Http/Controllers/Auth/RegisteredUserController.php
Due: php -l, ./vendor/bin/pint

style: add newline at end of E2E test file
  tests/Browser/RegistrationRoleSelectionTest.php
Due: php -l, ./vendor/bin/pint

refactor: unify registration with improved role selection UI
  resources/js/components/register-dialog.tsx
  routes/auth.php
  tests/Browser/RegistrationRoleSelectionTest.php
  tests/Feature/Auth/RegistrationTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: update Sidebar to use dashboard_route from backend
  resources/js/components/Sidebar.tsx
Due: prettier --write, eslint --fix

types: add dashboard_route and roles to User interface
  resources/js/types/index.d.ts
Due: prettier --write, eslint --fix

feat: add dashboard_route and roles to shared Inertia data
  app/Http/Middleware/HandleInertiaRequests.php
Due: php -l, ./vendor/bin/pint

fix: make RolesAndPermissionsSeeder idempotent
  database/seeders/RolesAndPermissionsSeeder.php
Due: php -l, ./vendor/bin/pint

fix: add POST method to logout button in user menu
  resources/js/components/user-menu-content.tsx
Due: prettier --write, eslint --fix

fix: remove duplicate UI elements and improve logout functionality
  resources/js/components/PageLayout.tsx
  resources/js/components/Sidebar.tsx
Due: prettier --write, eslint --fix

fix: use $this->faker instead of fake() helper in UserFactory
  database/factories/UserFactory.php
Due: php -l, ./vendor/bin/pint

fix: rewrite DatabaseSeeder to work without Faker in production
  database/seeders/DatabaseSeeder.php
Due: php -l, ./vendor/bin/pint

fix: add explicit name field to package.json to prevent lock file conflicts
  package-lock.json
  package.json
Due: prettier --write

cleanup: remove redundant test@example.com user from seeder
  database/seeders/DatabaseSeeder.php
Due: php -l, ./vendor/bin/pint

feat: implement billing backend and remove online payment options
  app/Http/Controllers/BillingController.php
  app/Models/Enrollment.php
  app/Models/Student.php
  database/migrations/2025_09_21_171143_create_students_table.php
  database/migrations/2025_09_21_171150_create_enrollments_table.php
  resources/js/pages/invoice.tsx
  resources/js/pages/tuition.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: code style issues for PHP CS Fixer compliance
  app/Http/Controllers/BillingController.php
  app/Models/Student.php
Due: php -l, ./vendor/bin/pint
