Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Add CRUD feedback to Students (#330)
  resources/js/app.tsx
  resources/js/components/ui/confirmation-dialog.tsx
  resources/js/components/ui/sonner.tsx
  resources/js/pages/super-admin/students/columns.tsx
Due: prettier --write, eslint --fix

feat: Add CRUD feedback to Guardians (#331)
  resources/js/app.tsx
  resources/js/components/ui/confirmation-dialog.tsx
  resources/js/components/ui/sonner.tsx
  resources/js/pages/super-admin/guardians/create.tsx
  resources/js/pages/super-admin/guardians/edit.tsx
  resources/js/pages/super-admin/guardians/index.tsx
Due: prettier --write, eslint --fix

feat: Add CRUD feedback to Users (#332)
  resources/js/app.tsx
  resources/js/components/ui/confirmation-dialog.tsx
  resources/js/components/ui/sonner.tsx
  resources/js/pages/super-admin/users/users-table.tsx
Due: prettier --write, eslint --fix

docs: Update ticket statuses and create GitHub issues
  tickets/TICKET-025-fix-navigation-issues.md
Due: prettier --write

feat: Add dashboard statistics test data for seeder (issues #315-317)
  database/seeders/UserSeeder.php
Due: php -l, ./vendor/bin/pint

feat: Add payment receipt download functionality (Issue #343)
  app/Http/Controllers/Guardian/EnrollmentController.php
  resources/js/pages/guardian/enrollments/show.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Add document seeder data for dashboard statistics (Issues #321-322)
  database/seeders/UserSeeder.php
Due: php -l, ./vendor/bin/pint

fix: Add missing 'Enroll Student' button to complete enrollment workflow (Issue #346)
  resources/js/pages/guardian/students/columns.tsx
  resources/js/pages/guardian/students/show.tsx
Due: prettier --write, eslint --fix

feat: Add payment and invoice seeder data for dashboard statistics (Issues #318-320)
  database/seeders/UserSeeder.php
Due: php -l, ./vendor/bin/pint

fix: Cast enrollment ID to string for str_pad (PHPStan fix)
  database/seeders/UserSeeder.php
Due: php -l, ./vendor/bin/pint

fix: Exclude completed/enrolled students from enrollments index (Issue #358)
  app/Http/Controllers/Admin/EnrollmentController.php
  app/Http/Controllers/Registrar/EnrollmentController.php
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
Due: php -l, ./vendor/bin/pint

feat: Add sortable columns to Pending Documents table (Issue #357)
  app/Http/Controllers/Registrar/DocumentController.php
  resources/js/pages/registrar/documents/pending.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

test: Fix enrollment controller test to account for status filtering
  tests/Feature/EnrollmentControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: Resolve GradeLevelFeeFactory seeder error
  database/factories/GradeLevelFeeFactory.php
Due: php -l, ./vendor/bin/pint

fix: Ensure GradeLevelFeeFactory creates required SchoolYear and EnrollmentPeriod relationships
  database/factories/GradeLevelFeeFactory.php
Due: php -l, ./vendor/bin/pint

fix: Replace fake() helper with $this->faker in GradeLevelFeeFactory
  app/Http/Controllers/SuperAdmin/SchoolYearController.php
  app/Models/SchoolYear.php
  database/factories/GradeLevelFeeFactory.php
  resources/js/pages/super-admin/school-years/index.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Initialize Faker instance in GradeLevelFeeFactory if null
  database/factories/GradeLevelFeeFactory.php
Due: php -l, ./vendor/bin/pint

fix: Make GradeLevelFeeFactory work without Faker in production
  database/factories/GradeLevelFeeFactory.php
Due: php -l, ./vendor/bin/pint

fix: Use correct enum case KINDER in GradeLevelFeeFactory
  database/factories/GradeLevelFeeFactory.php
Due: php -l, ./vendor/bin/pint

feat: Move Faker to production dependency
  composer.json
  composer.lock
Due: prettier --write

fix: Resolve Grade Level Fees School Year display and filtering issues
  app/Http/Controllers/Registrar/GradeLevelFeeController.php
  app/Http/Controllers/SuperAdmin/GradeLevelFeeController.php
  app/Models/GradeLevelFee.php
Due: php -l, ./vendor/bin/pint

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
