Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: specify table name in pluck() to resolve SQL ambiguous column error
  app/Http/Controllers/InvoiceController.php
  app/Http/Controllers/TuitionController.php
Due: php -l, ./vendor/bin/pint

feat: add local CBHLC logo and update logo components
  docker-compose.yml
  public/images/cbhlc-logo.png
  resources/js/components/app-logo-icon.tsx
  resources/js/components/app-logo.tsx
Due: prettier --write, eslint --fix

fix: make admin New Enrollment button functional
  app/Http/Controllers/Admin/EnrollmentController.php
  resources/js/components/enrollment-list.tsx
  resources/js/pages/shared/enrollments/create.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: implement automatic enrollment period status updates (TICKET-011)
  app/Console/Commands/UpdateEnrollmentPeriodStatus.php
  app/Notifications/EnrollmentPeriodStatusChangedNotification.php
  routes/console.php
  tests/Feature/UpdateEnrollmentPeriodStatusCommandTest.php
  tickets/README.md
Due: php -l, ./vendor/bin/pint, prettier --write

style: apply Laravel Pint formatting
  app/Notifications/EnrollmentPeriodStatusChangedNotification.php
  tests/Feature/UpdateEnrollmentPeriodStatusCommandTest.php
Due: php -l, ./vendor/bin/pint

docs: update tickets README with PR #95 completion (TICKET-011)
  tickets/README.md
Due: prettier --write

feat: implement enrollment period CRUD backend (TICKET-008)
  app/Http/Controllers/SuperAdmin/EnrollmentPeriodController.php
  app/Http/Requests/StoreEnrollmentPeriodRequest.php
  app/Http/Requests/UpdateEnrollmentPeriodRequest.php
  routes/web.php
  tests/Feature/SuperAdmin/EnrollmentPeriodControllerTest.php
Due: php -l, ./vendor/bin/pint

feat: implement document verification workflow backend (TICKET-005)
  app/Http/Controllers/Registrar/DocumentController.php
  app/Http/Requests/Registrar/RejectDocumentRequest.php
  app/Notifications/DocumentRejectedNotification.php
  app/Notifications/DocumentVerifiedNotification.php
  app/Policies/DocumentPolicy.php
  routes/web.php
  tests/Feature/Registrar/DocumentControllerTest.php
Due: php -l, ./vendor/bin/pint

style: fix class attributes separation
  app/Http/Controllers/Registrar/DocumentController.php
Due: php -l, ./vendor/bin/pint

fix: add PHPDoc type hints for PHPStan in DocumentPolicy
  app/Policies/DocumentPolicy.php
Due: php -l, ./vendor/bin/pint

test: add comprehensive coverage for document verification workflow
  tests/Feature/Registrar/DocumentControllerTest.php
Due: php -l, ./vendor/bin/pint

feat: implement notification preferences backend (TICKET-012)
  app/Http/Controllers/Settings/NotificationPreferenceController.php
  app/Http/Requests/Settings/UpdateNotificationPreferencesRequest.php
  app/Models/NotificationPreference.php
  app/Models/User.php
  app/Notifications/EnrollmentPeriodStatusChangedNotification.php
  database/factories/NotificationPreferenceFactory.php
  database/migrations/2025_10_15_124144_create_notification_preferences_table.php
  routes/settings.php
  tests/Feature/Settings/NotificationPreferenceControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: add PHPDoc type hint for PHPStan in User model
  app/Models/User.php
Due: php -l, ./vendor/bin/pint

feat: Add comprehensive audit logging coverage (TICKET-015)
  app/Listeners/LogAuthenticationActivity.php
  app/Models/Document.php
  app/Models/Enrollment.php
  app/Models/GradeLevelFee.php
  app/Models/Guardian.php
  app/Models/Invoice.php
  app/Models/Payment.php
  app/Models/Student.php
  app/Models/User.php
  app/Observers/EnrollmentObserver.php
  app/Observers/InvoiceObserver.php
  app/Observers/PaymentObserver.php
  app/Observers/StudentObserver.php
  app/Providers/AppServiceProvider.php
  config/activitylog.php
  tests/Feature/ActivityLogTest.php
  tests/Feature/Observers/EnrollmentObserverTest.php
  tests/Feature/Observers/StudentObserverTest.php
Due: php -l, ./vendor/bin/pint

fix: Add PHPDoc type hints to LogAuthenticationActivity for PHPStan
  app/Listeners/LogAuthenticationActivity.php
Due: php -l, ./vendor/bin/pint

feat: implement document security and advanced validation (TICKET-006)
  app/Http/Controllers/Guardian/DocumentController.php
  app/Http/Requests/StoreDocumentRequest.php
  app/Policies/DocumentPolicy.php
  app/Providers/AppServiceProvider.php
  config/filesystems.php
  routes/web.php
  tests/Feature/DocumentSecurityTest.php
  tests/Feature/Guardian/DocumentControllerTest.php
Due: php -l, ./vendor/bin/pint

chore: Update dependencies and apply formatting fixes
  app/Console/Commands/UpdateEnrollmentPeriodStatus.php
  package-lock.json
  tests/Feature/Services/BaseServiceTest.php
Due: php -l, ./vendor/bin/pint, prettier --write

feat: connect enrollment dashboard to backend
  package-lock.json
  resources/js/components/enrollment-dashboard.tsx
  resources/js/pages/super-admin/enrollments/index.tsx
Due: prettier --write, eslint --fix

feat: connect enrollment dashboard to backend and fix style issues
  app/Console/Commands/UpdateEnrollmentPeriodStatus.php
  app/Http/Controllers/Guardian/DashboardController.php
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  composer.json
  composer.lock
  tests/Feature/Services/BaseServiceTest.php
  tests/Feature/Services/TestService.php
Due: php -l, ./vendor/bin/pint, prettier --write

refactor: Improve Guardian Dashboard data handling
  app/Console/Commands/UpdateEnrollmentPeriodStatus.php
  app/Http/Controllers/Guardian/DashboardController.php
  tests/Feature/Services/BaseServiceTest.php
Due: php -l, ./vendor/bin/pint

feat: implement enrollment period validation (TICKET-010)
  app/Http/Controllers/Guardian/EnrollmentController.php
  app/Http/Requests/Guardian/StoreEnrollmentRequest.php
  app/Models/Enrollment.php
  database/migrations/2025_10_15_154402_add_enrollment_period_id_to_enrollments_table.php
  tests/Feature/Guardian/EnrollmentPeriodValidationTest.php
Due: php -l, ./vendor/bin/pint

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
