Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

refactor: migrate all pages from PageLayout to AppLayout
  resources/js/components/PageLayout.tsx
  resources/js/components/Sidebar.tsx
  resources/js/pages/admin/dashboard.tsx
  resources/js/pages/application.tsx
  resources/js/pages/dashboard.tsx
  resources/js/pages/enrollments/create.tsx
  resources/js/pages/enrollments/index.tsx
  resources/js/pages/enrollments/show.tsx
  resources/js/pages/guardian/dashboard.tsx
  resources/js/pages/invoice.tsx
  resources/js/pages/registrar.tsx
  resources/js/pages/registrar/dashboard.tsx
  resources/js/pages/student/dashboard.tsx
  resources/js/pages/studentreport.tsx
  resources/js/pages/tuition.tsx
Due: prettier --write, eslint --fix

refactor: implement SOLID role-based sidebars with strategy pattern
  resources/js/components/sidebars/admin-sidebar.tsx
  resources/js/components/sidebars/guardian-sidebar.tsx
  resources/js/components/sidebars/registrar-sidebar.tsx
  resources/js/components/sidebars/sidebar-factory.tsx
  resources/js/components/sidebars/student-sidebar.tsx
  resources/js/components/sidebars/super-admin-sidebar.tsx
  resources/js/layouts/app/app-sidebar-layout.tsx
Due: prettier --write, eslint --fix

refactor: organize frontend pages with role-based folder structure
  app/Http/Controllers/InvoiceController.php
  app/Http/Controllers/Public/AboutController.php
  app/Http/Controllers/Public/ApplicationController.php
  app/Http/Controllers/Public/LandingController.php
  app/Http/Controllers/Public/RegistrarInfoController.php
  app/Http/Controllers/StudentReportController.php
  app/Http/Controllers/TuitionController.php
  resources/js/pages/dashboard.tsx
  resources/js/pages/index.tsx
  resources/js/pages/public/about.tsx
  resources/js/pages/public/application.tsx
  resources/js/pages/public/landing.tsx
  resources/js/pages/public/registrar.tsx
  resources/js/pages/public/welcome.tsx
  resources/js/pages/shared/enrollments/create.tsx
  resources/js/pages/shared/enrollments/index.tsx
  resources/js/pages/shared/enrollments/show.tsx
  resources/js/pages/shared/invoice.tsx
  resources/js/pages/shared/studentreport.tsx
  resources/js/pages/shared/tuition.tsx
  tests/Feature/BillingControllerTest.php
  tests/Feature/Http/Controllers/Public/AboutControllerTest.php
  tests/Feature/Http/Controllers/Public/ApplicationControllerTest.php
  tests/Feature/Http/Controllers/Public/LandingControllerTest.php
  tests/Feature/Http/Controllers/Public/RegistrarInfoControllerTest.php
  tests/Feature/StudentReportControllerTest.php
  tests/Feature/TuitionControllerTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

removed ig buttons, added login motal in enroll now button.
  resources/js/pages/public/about.tsx
  resources/js/pages/public/landing.tsx
Due: prettier --write, eslint --fix

Improved footer section landing page.
  resources/js/pages/public/landing.tsx
Due: prettier --write, eslint --fix

chore: add .envrc to .gitignore
  .gitignore
Due: none

feat: complete sidebar navigation for all user roles
  resources/js/components/sidebars/admin-sidebar.tsx
  resources/js/components/sidebars/guardian-sidebar.tsx
  resources/js/components/sidebars/registrar-sidebar.tsx
  resources/js/components/sidebars/student-sidebar.tsx
  resources/js/components/sidebars/super-admin-sidebar.tsx
Due: prettier --write, eslint --fix

feat: implement role-specific routing and placeholder views
  app/Http/Controllers/Admin/EnrollmentController.php
  app/Http/Controllers/Admin/StudentController.php
  app/Http/Controllers/Admin/UserController.php
  app/Http/Controllers/SharedController.php
  app/Http/Controllers/SuperAdmin/DashboardController.php
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  app/Http/Controllers/SuperAdmin/StudentController.php
  app/Http/Controllers/SuperAdmin/UserController.php
  resources/js/components/sidebars/admin-sidebar.tsx
  resources/js/components/sidebars/super-admin-sidebar.tsx
  resources/js/pages/admin/enrollments/edit.tsx
  resources/js/pages/admin/enrollments/index.tsx
  resources/js/pages/admin/enrollments/show.tsx
  resources/js/pages/admin/students/edit.tsx
  resources/js/pages/admin/students/index.tsx
  resources/js/pages/admin/students/show.tsx
  resources/js/pages/admin/users/edit.tsx
  resources/js/pages/admin/users/index.tsx
  resources/js/pages/admin/users/show.tsx
  resources/js/pages/shared/docs.tsx
  resources/js/pages/shared/help.tsx
  resources/js/pages/shared/parent-guide.tsx
  resources/js/pages/shared/resources.tsx
  resources/js/pages/shared/support.tsx
  resources/js/pages/super-admin/dashboard.tsx
  resources/js/pages/super-admin/enrollments/edit.tsx
  resources/js/pages/super-admin/enrollments/index.tsx
  resources/js/pages/super-admin/enrollments/show.tsx
  resources/js/pages/super-admin/students/edit.tsx
  resources/js/pages/super-admin/students/index.tsx
  resources/js/pages/super-admin/students/show.tsx
  resources/js/pages/super-admin/users/edit.tsx
  resources/js/pages/super-admin/users/index.tsx
  resources/js/pages/super-admin/users/show.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: correct TypeScript types in admin placeholder views
  resources/js/pages/admin/enrollments/edit.tsx
  resources/js/pages/admin/enrollments/index.tsx
  resources/js/pages/admin/enrollments/show.tsx
  resources/js/pages/admin/students/index.tsx
  resources/js/pages/admin/students/show.tsx
  resources/js/pages/admin/users/index.tsx
Due: prettier --write, eslint --fix

style: apply Pint formatting to routes file
  routes/web.php
Due: php -l, ./vendor/bin/pint

fix: update User model and tests for separate super-admin dashboard
  app/Models/User.php
  tests/Feature/Auth/AuthenticationTest.php
  tests/Feature/DashboardTest.php
Due: php -l, ./vendor/bin/pint

feat: implement complete CRUD operations for super admin with Gates and Form Requests
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  app/Http/Controllers/SuperAdmin/GradeLevelFeeController.php
  app/Http/Controllers/SuperAdmin/GuardianController.php
  app/Http/Controllers/SuperAdmin/InvoiceController.php
  app/Http/Controllers/SuperAdmin/PaymentController.php
  app/Http/Controllers/SuperAdmin/StudentController.php
  app/Http/Controllers/SuperAdmin/UserController.php
  app/Http/Requests/SuperAdmin/StoreEnrollmentRequest.php
  app/Http/Requests/SuperAdmin/StoreGradeLevelFeeRequest.php
  app/Http/Requests/SuperAdmin/StoreGuardianRequest.php
  app/Http/Requests/SuperAdmin/StoreInvoiceRequest.php
  app/Http/Requests/SuperAdmin/StorePaymentRequest.php
  app/Http/Requests/SuperAdmin/StoreStudentRequest.php
  app/Http/Requests/SuperAdmin/StoreUserRequest.php
  app/Http/Requests/SuperAdmin/UpdateEnrollmentRequest.php
  app/Http/Requests/SuperAdmin/UpdateGradeLevelFeeRequest.php
  app/Http/Requests/SuperAdmin/UpdateGuardianRequest.php
  app/Http/Requests/SuperAdmin/UpdateInvoiceRequest.php
  app/Http/Requests/SuperAdmin/UpdatePaymentRequest.php
  app/Http/Requests/SuperAdmin/UpdateStudentRequest.php
  app/Http/Requests/SuperAdmin/UpdateUserRequest.php
  app/Providers/AppServiceProvider.php
  routes/web.php
Due: php -l, ./vendor/bin/pint

style: apply Laravel Pint code formatting
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  app/Http/Controllers/SuperAdmin/GradeLevelFeeController.php
  app/Http/Controllers/SuperAdmin/GuardianController.php
  app/Http/Controllers/SuperAdmin/InvoiceController.php
  app/Http/Controllers/SuperAdmin/PaymentController.php
  app/Http/Controllers/SuperAdmin/StudentController.php
  app/Http/Controllers/SuperAdmin/UserController.php
  app/Http/Requests/SuperAdmin/StoreEnrollmentRequest.php
  app/Http/Requests/SuperAdmin/StoreGradeLevelFeeRequest.php
  app/Http/Requests/SuperAdmin/StoreGuardianRequest.php
  app/Http/Requests/SuperAdmin/StoreInvoiceRequest.php
  app/Http/Requests/SuperAdmin/StorePaymentRequest.php
  app/Http/Requests/SuperAdmin/StoreStudentRequest.php
  app/Http/Requests/SuperAdmin/StoreUserRequest.php
  app/Http/Requests/SuperAdmin/UpdateEnrollmentRequest.php
  app/Http/Requests/SuperAdmin/UpdateGradeLevelFeeRequest.php
  app/Http/Requests/SuperAdmin/UpdateGuardianRequest.php
  app/Http/Requests/SuperAdmin/UpdateInvoiceRequest.php
  app/Http/Requests/SuperAdmin/UpdatePaymentRequest.php
  app/Http/Requests/SuperAdmin/UpdateStudentRequest.php
  app/Http/Requests/SuperAdmin/UpdateUserRequest.php
Due: php -l, ./vendor/bin/pint

fix: resolve PHPStan issues and add missing service classes
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  app/Http/Controllers/SuperAdmin/GuardianController.php
  app/Http/Controllers/SuperAdmin/PaymentController.php
  app/Services/InvoiceService.php
  app/Services/PaymentService.php
Due: php -l, ./vendor/bin/pint

fix: add proper type checking for invoice relationships
  app/Http/Controllers/SuperAdmin/PaymentController.php
  app/Services/InvoiceService.php
  app/Services/PaymentService.php
Due: php -l, ./vendor/bin/pint

fix: correct enum comparison in EnrollmentController destroy method
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
Due: php -l, ./vendor/bin/pint

test: add tests for SuperAdmin Form Requests and Service classes
  app/Services/InvoiceService.php
  app/Services/PaymentService.php
  tests/Unit/Http/Requests/SuperAdmin/StoreEnrollmentRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/StoreStudentRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/StoreUserRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/UpdateUserRequestTest.php
  tests/Unit/Services/InvoiceServiceTest.php
  tests/Unit/Services/PaymentServiceTest.php
Due: php -l, ./vendor/bin/pint

test: add comprehensive tests for super admin CRUD form requests and services
  tests/Unit/Http/Requests/SuperAdmin/StoreStudentRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/StoreUserRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/UpdateEnrollmentRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/UpdateGradeLevelFeeRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/UpdateGuardianRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/UpdateInvoiceRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/UpdatePaymentRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/UpdateStudentRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/UpdateUserRequestTest.php
  tests/Unit/Services/InvoiceServiceTest.php
  tests/Unit/Services/PaymentServiceTest.php
Due: php -l, ./vendor/bin/pint

style: fix Pint formatting in test files
  tests/Unit/Http/Requests/SuperAdmin/UpdateGuardianRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/UpdateStudentRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/UpdateUserRequestTest.php
Due: php -l, ./vendor/bin/pint

test: add comprehensive tests for admin controllers
  tests/Feature/Http/Controllers/Admin/DashboardControllerTest.php
  tests/Feature/Http/Controllers/Admin/EnrollmentControllerTest.php
  tests/Feature/Http/Controllers/Admin/StudentControllerTest.php
  tests/Feature/Http/Controllers/Admin/UserControllerTest.php
Due: php -l, ./vendor/bin/pint

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
