Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat: implement school information management system (TICKET-022)
  app/Http/Controllers/Public/ContactController.php
  app/Http/Controllers/SuperAdmin/SchoolInformationController.php
  app/Models/SchoolInformation.php
  database/migrations/2025_10_17_022043_create_school_information_table.php
  database/seeders/SchoolInformationSeeder.php
  resources/js/pages/ContactUs.tsx
  resources/js/pages/super-admin/school-information/index.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: add TypeScript type annotations for map callbacks
  resources/js/pages/super-admin/school-information/index.tsx
Due: prettier --write, eslint --fix

docs: update ticket documentation for TICKET-022 completion
  tickets/README.md
Due: prettier --write

docs: add EPIC-004 and TICKET-022 documentation
  tickets/EPIC-004-communication-system.md
  tickets/TICKET-022-school-information-management.md
Due: prettier --write

docs: create 5 new tickets for frontend completion (TICKET-025 to TICKET-029)
  tickets/TICKET-025-fix-navigation-issues.md
  tickets/TICKET-026-super-admin-grade-level-fees-pages.md
  tickets/TICKET-027-super-admin-guardians-pages.md
  tickets/TICKET-028-super-admin-invoices-pages.md
  tickets/TICKET-029-super-admin-payments-pages.md
Due: prettier --write

fix: resolve navigation issues in user sidebars (TICKET-025)
  app/Http/Middleware/HandleInertiaRequests.php
  app/Models/User.php
  resources/js/components/sidebars/guardian-sidebar.tsx
  resources/js/components/sidebars/registrar-sidebar.tsx
  resources/js/components/sidebars/student-sidebar.tsx
  resources/js/types/index.d.ts
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: add TypeScript type to usePage hook in StudentSidebar
  resources/js/components/sidebars/student-sidebar.tsx
Due: prettier --write, eslint --fix

feat: add Super Admin Grade Level Fees CRUD pages (TICKET-026)
  resources/js/pages/super-admin/grade-level-fees/create.tsx
  resources/js/pages/super-admin/grade-level-fees/edit.tsx
  resources/js/pages/super-admin/grade-level-fees/index.tsx
  resources/js/pages/super-admin/grade-level-fees/show.tsx
Due: prettier --write, eslint --fix

feat: add Super Admin Guardians CRUD pages (TICKET-027)
  resources/js/pages/super-admin/guardians/create.tsx
  resources/js/pages/super-admin/guardians/edit.tsx
  resources/js/pages/super-admin/guardians/index.tsx
  resources/js/pages/super-admin/guardians/show.tsx
Due: prettier --write, eslint --fix

fix: resolve multiple issues in grade level fees pages
  resources/js/pages/super-admin/grade-level-fees/create.tsx
  resources/js/pages/super-admin/grade-level-fees/edit.tsx
  resources/js/pages/super-admin/grade-level-fees/index.tsx
Due: prettier --write, eslint --fix

fix: correct gradeLevels prop name and convert enum to string values
  app/Http/Controllers/SuperAdmin/GradeLevelFeeController.php
Due: php -l, ./vendor/bin/pint

fix: add missing other_fees and payment_terms columns to grade_level_fees
  app/Http/Requests/SuperAdmin/StoreGradeLevelFeeRequest.php
  app/Http/Requests/SuperAdmin/UpdateGradeLevelFeeRequest.php
  app/Models/GradeLevelFee.php
  database/migrations/2025_10_17_033642_add_other_fees_and_payment_terms_to_grade_level_fees_table.php
Due: php -l, ./vendor/bin/pint

fix: add mutators to convert fee amounts from dollars to cents
  app/Models/GradeLevelFee.php
  resources/js/pages/super-admin/grade-level-fees/create.tsx
  resources/js/pages/super-admin/grade-level-fees/edit.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: handle undefined fee values in edit form with null coalescing
  resources/js/pages/super-admin/grade-level-fees/edit.tsx
Due: prettier --write, eslint --fix

fix: remove redundant mutators, rely on MoneyCast for dollar-to-cents conversion
  app/Models/GradeLevelFee.php
Due: php -l, ./vendor/bin/pint

fix: append virtual money attributes for JSON serialization
  app/Models/GradeLevelFee.php
Due: php -l, ./vendor/bin/pint

fix: add unique constraint validation for grade_level + school_year
  app/Http/Requests/SuperAdmin/StoreGradeLevelFeeRequest.php
  app/Http/Requests/SuperAdmin/UpdateGradeLevelFeeRequest.php
Due: php -l, ./vendor/bin/pint

fix: add PHPDoc annotations for virtual properties to satisfy PHPStan
  app/Models/GradeLevelFee.php
Due: php -l, ./vendor/bin/pint

feat: replace basic table with TanStack DataTable for grade level fees
  resources/js/pages/super-admin/grade-level-fees/grade-level-fees-table.tsx
  resources/js/pages/super-admin/grade-level-fees/index.tsx
Due: prettier --write, eslint --fix

feat: add grade level fees to navigation and change search to dropdown
  app/Http/Controllers/SuperAdmin/GradeLevelFeeController.php
  resources/js/components/sidebars/super-admin-sidebar.tsx
  resources/js/pages/super-admin/grade-level-fees/grade-level-fees-table.tsx
  resources/js/pages/super-admin/grade-level-fees/index.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix
