Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat: implement enrollment period validation (TICKET-010)
  app/Http/Controllers/Guardian/EnrollmentController.php
  app/Http/Requests/Guardian/StoreEnrollmentRequest.php
  app/Models/Enrollment.php
  database/migrations/2025_10_15_154402_add_enrollment_period_id_to_enrollments_table.php
  tests/Feature/Guardian/EnrollmentPeriodValidationTest.php
Due: php -l, ./vendor/bin/pint

test: fix existing tests to include enrollment period setup
  tests/Feature/EnrollmentControllerTest.php
  tests/Feature/EnrollmentPendingConstraintTest.php
Due: php -l, ./vendor/bin/pint

refactor: convert EnrollmentPeriodValidationTest to Pest style
  tests/Feature/Guardian/EnrollmentPeriodValidationTest.php
Due: php -l, ./vendor/bin/pint

feat: complete enrollment period validation implementation (TICKET-010)
  app/Enums/EnrollmentPeriodStatus.php
  app/Http/Requests/Guardian/StoreEnrollmentRequest.php
  tests/Feature/EnrollmentControllerTest.php
  tests/Feature/EnrollmentPendingConstraintTest.php
  tests/Feature/Guardian/EnrollmentPeriodValidationTest.php
Due: php -l, ./vendor/bin/pint

feat: add stub React components for enrollment period CRUD views
  resources/js/pages/super-admin/enrollment-periods/create.tsx
  resources/js/pages/super-admin/enrollment-periods/edit.tsx
  resources/js/pages/super-admin/enrollment-periods/index.tsx
  resources/js/pages/super-admin/enrollment-periods/show.tsx
Due: prettier --write, eslint --fix

fix: correct React component paths to match PascalCase Inertia paths
  resources/js/pages/SuperAdmin/EnrollmentPeriods/create.tsx
  resources/js/pages/SuperAdmin/EnrollmentPeriods/edit.tsx
  resources/js/pages/SuperAdmin/EnrollmentPeriods/index.tsx
  resources/js/pages/SuperAdmin/EnrollmentPeriods/show.tsx
Due: prettier --write, eslint --fix

fix: use correct kebab-case naming convention for Inertia paths
  app/Http/Controllers/SuperAdmin/EnrollmentPeriodController.php
  resources/js/pages/super-admin/enrollment-periods/create.tsx
  resources/js/pages/super-admin/enrollment-periods/edit.tsx
  resources/js/pages/super-admin/enrollment-periods/index.tsx
  resources/js/pages/super-admin/enrollment-periods/show.tsx
  tests/Feature/SuperAdmin/EnrollmentPeriodControllerTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: correct Inertia component paths to use kebab-case convention
  app/Http/Controllers/Registrar/DocumentController.php
  resources/js/pages/registrar/documents/pending.tsx
  tests/Feature/Registrar/DocumentControllerTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: correct Inertia paths to kebab-case and add Vite build to pre-push
  app/Http/Controllers/Settings/NotificationPreferenceController.php
  resources/js/pages/settings/notifications.tsx
  scripts/test-local.sh
  tests/Feature/Settings/NotificationPreferenceControllerTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Implement Contact Us page and update contact information
  app/Http/Controllers/Public/ContactController.php
  package-lock.json
  resources/js/components/public-nav.tsx
  resources/js/components/ui/textarea.tsx
  resources/js/global.d.ts
  resources/js/pages/ContactUs.tsx
  resources/js/pages/public/about.tsx
  resources/js/pages/public/landing.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Update ContactController.php to render ContactUs
  app/Http/Controllers/Public/ContactController.php
Due: php -l, ./vendor/bin/pint

format
  app/Http/Controllers/Public/ContactController.php
Due: php -l, ./vendor/bin/pint

fix: Apply Pint code style fixes
  app/Http/Controllers/Public/ContactController.php
  routes/web.php
Due: php -l, ./vendor/bin/pint

feat: Implement Contact Us page and update contact information
  app/Http/Controllers/Public/ContactController.php
  resources/js/components/public-nav.tsx
  resources/js/components/ui/textarea.tsx
  resources/js/global.d.ts
  resources/js/pages/ContactUs.tsx
  resources/js/pages/public/about.tsx
  resources/js/pages/public/landing.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Resolve PHPStan static analysis issues
  app/Console/Commands/UpdateEnrollmentPeriodStatus.php
  app/Http/Controllers/Public/ContactController.php
  package-lock.json
  resources/js/pages/ContactUs.tsx
  routes/web.php
  tests/Feature/Services/BaseServiceTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Add Contact link to PublicNav and functionalize Contact Us button on landing page
  resources/js/components/public-nav.tsx
  resources/js/pages/ContactUs.tsx
  resources/js/pages/public/about.tsx
  resources/js/pages/public/landing.tsx
Due: prettier --write, eslint --fix

fix: Resolve PHPStan static analysis issues
  routes/web.php
Due: php -l, ./vendor/bin/pint

fix: Resolve PHPStan static analysis issues
  app/Http/Controllers/Public/RegistrarInfoController.php
  tests/Feature/Http/Controllers/Public/RegistrarInfoControllerTest.php
Due: php -l, ./vendor/bin/pint

feat: Update app name and favicon
  config/app.php
  public/apple-touch-icon.png
  public/favicon.png
  public/favicon.svg
  resources/views/app.blade.php
Due: php -l, ./vendor/bin/pint

fix: update test command to use Sail for Pest testing
  scripts/test-local.sh
Due: none

refactor: optimize pre-push hooks with logging and timing (TICKET-023)
  .gitignore
  .husky/pre-push
  scripts/test-local.sh
Due: none
