Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

Refactor #394: Complete remaining enum refactoring (Quarter cleanup) (#443)
  app/Http/Requests/Guardian/StoreEnrollmentRequest.php
  app/Http/Requests/Guardian/UpdateEnrollmentRequest.php
  app/Http/Requests/SuperAdmin/StoreEnrollmentRequest.php
  app/Http/Requests/SuperAdmin/UpdateEnrollmentRequest.php
  tests/Unit/Http/Requests/SuperAdmin/StoreEnrollmentRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/UpdateEnrollmentRequestTest.php
Due: php -l, ./vendor/bin/pint

Feature #394: Create PaymentPlan and EnrollmentType enums
  app/Enums/EnrollmentType.php
  app/Enums/PaymentPlan.php
  app/Http/Requests/Guardian/StoreEnrollmentRequest.php
  app/Http/Requests/SuperAdmin/StoreEnrollmentRequest.php
  app/Http/Requests/SuperAdmin/UpdateEnrollmentRequest.php
Due: php -l, ./vendor/bin/pint

Add tests for PaymentPlan and EnrollmentType enums
  tests/Unit/Enums/EnrollmentTypeTest.php
  tests/Unit/Enums/PaymentPlanTest.php
Due: php -l, ./vendor/bin/pint

Feature #394: Create PaymentPlan and EnrollmentType enums - Complete enum refactoring\! (#444)
  app/Enums/EnrollmentType.php
  app/Enums/PaymentPlan.php
  app/Http/Requests/Guardian/StoreEnrollmentRequest.php
  app/Http/Requests/SuperAdmin/StoreEnrollmentRequest.php
  app/Http/Requests/SuperAdmin/UpdateEnrollmentRequest.php
  tests/Unit/Enums/EnrollmentTypeTest.php
  tests/Unit/Enums/PaymentPlanTest.php
Due: php -l, ./vendor/bin/pint

Fix #355: Make occupation field optional in guardian registration
  app/Http/Controllers/Auth/RegisteredUserController.php
  resources/js/pages/auth/register.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Update tests: Remove occupation from required fields validation
  tests/Feature/Auth/RegistrationTest.php
  tests/Feature/RegistrationTest.php
Due: php -l, ./vendor/bin/pint

Fix #355: Make occupation field optional in guardian registration (#445)
  app/Http/Controllers/Auth/RegisteredUserController.php
  resources/js/pages/auth/register.tsx
  tests/Feature/Auth/RegistrationTest.php
  tests/Feature/RegistrationTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix(guardian): resolve issues in enrollment view
  app/Http/Controllers/Guardian/EnrollmentController.php
  resources/js/pages/guardian/enrollments/index.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat(certificate): Dynamic school info and hardcoded names
  app/Http/Controllers/Guardian/EnrollmentController.php
  resources/views/pdf/enrollment-certificate.blade.php
Due: php -l, ./vendor/bin/pint

fix(payment-history): Resolve PDF display issues
  app/Http/Controllers/Guardian/EnrollmentController.php
  resources/views/pdf/payment-history.blade.php
Due: php -l, ./vendor/bin/pint

feat: Display billing information in a structured format
  resources/js/pages/guardian/billing/show.tsx
Due: prettier --write, eslint --fix

feat: Display billing information in a structured format (#462)
  resources/js/pages/guardian/billing/show.tsx
Due: prettier --write, eslint --fix

chore: add CONTRIBUTING & GitHub issue/PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore: add CONTRIBUTING, ROADMAP and GitHub templates
  CONTRIBUTING.md
  ROADMAP.md
Due: prettier --write

chore: add public/favicon.svg (placeholder)
  public/favicon.svg
Due: none

chore: add CONTRIBUTING and GitHub templates (#488)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  ROADMAP.md
Due: prettier --write

chore: add favicon.svg (#489)
  public/favicon.svg
Due: none

fix: Use correct PaymentMethod enum values in receipt creation form
  resources/js/pages/super-admin/receipts/create.tsx
Due: prettier --write, eslint --fix

fix: resolve create receipt button not working (issue #430)
  database/migrations/2025_10_25_111906_create_receipts_table.php
  resources/js/pages/super-admin/receipts/create.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: resolve test failures caused by Carbon month overflow
  tests/Feature/Services/DashboardServiceTest.php
Due: php -l, ./vendor/bin/pint

Fix: Create Receipt Button Not Working (Issue #430) (#490)
  database/migrations/2025_10_25_111906_create_receipts_table.php
  resources/js/pages/super-admin/receipts/create.tsx
  tests/Feature/Services/DashboardServiceTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: resolve Create Student form issues (#455, #453, #456)
  resources/js/pages/super-admin/students/create.tsx
Due: prettier --write, eslint --fix

fix: resolve Create Student form issues (#455, #453, #456) (#491)
  resources/js/pages/super-admin/students/create.tsx
Due: prettier --write, eslint --fix

feat: add Pest v4 browser testing to catch UI bugs
  .gitignore
  .husky/pre-push
  composer.json
  composer.lock
  package-lock.json
  package.json
  tests/Browser/SmokeTest.php
  tests/Browser/VisibleBrowserDemo.php
  tests/Pest.php
Due: php -l, ./vendor/bin/pint, prettier --write

feat: add Pest v4 browser testing to catch UI bugs (#493)
  .gitignore
  .husky/pre-push
  composer.json
  composer.lock
  package-lock.json
  package.json
  tests/Browser/SmokeTest.php
  tests/Browser/VisibleBrowserDemo.php
  tests/Pest.php
Due: php -l, ./vendor/bin/pint, prettier --write

fix: resolve delete student not working issue (#459)
  database/migrations/2025_09_27_004249_add_created_by_to_grade_level_fees_table.php
  database/migrations/2025_10_21_090452_add_receipt_number_to_payments_table.php
  database/migrations/2025_10_24_090830_drop_school_year_columns_from_tables.php
  resources/js/pages/super-admin/students/columns.tsx
  tests/Browser/DeleteStudentTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: resolve delete student not working issue (#459) (#494)
  database/migrations/2025_09_27_004249_add_created_by_to_grade_level_fees_table.php
  database/migrations/2025_10_21_090452_add_receipt_number_to_payments_table.php
  database/migrations/2025_10_24_090830_drop_school_year_columns_from_tables.php
  resources/js/pages/super-admin/students/columns.tsx
  tests/Browser/DeleteStudentTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: resolve enrollment status not updating issue (#458)
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  tests/Browser/UpdateEnrollmentStatusTest.php
Due: php -l, ./vendor/bin/pint
