Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Update Registrar grade level fees index filter to use school year select
  app/Http/Controllers/Registrar/GradeLevelFeeController.php
  resources/js/pages/registrar/grade-level-fees/index.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

style: Update Registrar grade level fees table to match shadcn DataTable styling
  resources/js/pages/registrar/grade-level-fees/index.tsx
Due: prettier --write, eslint --fix

feat: Implement proper shadcn DataTable for Registrar grade level fees
  resources/js/pages/registrar/grade-level-fees/grade-level-fees-table.tsx
  resources/js/pages/registrar/grade-level-fees/index.tsx
Due: prettier --write, eslint --fix

feat: Update Registrar grade level fee filter to use select dropdown
  app/Http/Controllers/Registrar/GradeLevelFeeController.php
  resources/js/pages/registrar/grade-level-fees/grade-level-fees-table.tsx
  resources/js/pages/registrar/grade-level-fees/index.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Remove non-existent description column from Registrar search query
  app/Http/Controllers/Registrar/GradeLevelFeeController.php
Due: php -l, ./vendor/bin/pint

fix: Update GradeLevelFeeFactory to include school_year_id
  database/factories/GradeLevelFeeFactory.php
Due: php -l, ./vendor/bin/pint

fix: Update EnrollmentPeriodValidationTest to use GradeLevelFee factory
  tests/Feature/Guardian/EnrollmentPeriodValidationTest.php
Due: php -l, ./vendor/bin/pint

fix: Update remaining tests to use GradeLevelFee factory
  tests/Feature/Services/BillingServiceTest.php
  tests/Feature/Services/EnrollmentServiceTest.php
  tests/Feature/TuitionControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: Update all remaining tests to use GradeLevelFee factory
  tests/Feature/GradeLevelFeeTest.php
  tests/Feature/Guardian/BillingControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: Final test fixes for remaining 4 failing tests
  tests/Feature/Guardian/BillingControllerTest.php
  tests/Feature/Services/EnrollmentServiceTest.php
  tests/Feature/TuitionControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: Set explicit school_year on enrollments in BillingControllerTest
  tests/Feature/Guardian/BillingControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: Use form requests in Registrar GradeLevelFeeController
  app/Http/Controllers/Registrar/GradeLevelFeeController.php
Due: php -l, ./vendor/bin/pint

fix: Use permission check instead of role check in form requests
  app/Http/Requests/SuperAdmin/StoreGradeLevelFeeRequest.php
  app/Http/Requests/SuperAdmin/UpdateGradeLevelFeeRequest.php
Due: php -l, ./vendor/bin/pint

fix: Update GradeLevelFeeSeeder to use factory with school_year_id
  database/seeders/GradeLevelFeeSeeder.php
Due: php -l, ./vendor/bin/pint

feat: Update enrollment period forms to use SchoolYear dropdown
  app/Http/Controllers/SuperAdmin/EnrollmentPeriodController.php
  app/Http/Requests/StoreEnrollmentPeriodRequest.php
  app/Http/Requests/UpdateEnrollmentPeriodRequest.php
  resources/js/pages/super-admin/enrollment-periods/create.tsx
  resources/js/pages/super-admin/enrollment-periods/edit.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Update EnrollmentPeriod factory and tests for school_year_id
  database/factories/EnrollmentPeriodFactory.php
  tests/Feature/SuperAdmin/EnrollmentPeriodControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: Correct SchoolYearSelect import path
  resources/js/pages/super-admin/enrollment-periods/create.tsx
  resources/js/pages/super-admin/enrollment-periods/edit.tsx
Due: prettier --write, eslint --fix

fix: Define SchoolYear interface locally in enrollment period forms
  resources/js/pages/super-admin/enrollment-periods/create.tsx
  resources/js/pages/super-admin/enrollment-periods/edit.tsx
Due: prettier --write, eslint --fix

fix: Add start_date and end_date to SchoolYear factory creation
  database/factories/EnrollmentPeriodFactory.php
  tests/Feature/SuperAdmin/EnrollmentPeriodControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: Update all enrollment period tests to use school_year_id
  tests/Feature/SuperAdmin/EnrollmentPeriodControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: Adjust EnrollmentPeriodFactory date ranges to prevent overlap
  database/factories/EnrollmentPeriodFactory.php
Due: php -l, ./vendor/bin/pint

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
