Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: add automated payment reminder system
  app/Console/Commands/SendPaymentReminders.php
  app/Mail/PaymentOverdueNotice.php
  app/Mail/PaymentReminder.php
  app/Models/PaymentReminder.php
  database/migrations/2025_10_21_094118_create_payment_reminders_table.php
  resources/views/emails/payment-overdue.blade.php
  resources/views/emails/payment-reminder.blade.php
  routes/console.php
Due: php -l, ./vendor/bin/pint

fix: cast diffInDays to int for PHPStan
  app/Console/Commands/SendPaymentReminders.php
Due: php -l, ./vendor/bin/pint

feat: add enrollment certificate PDF download
  app/Http/Controllers/Guardian/EnrollmentController.php
  resources/js/pages/guardian/enrollments/show.tsx
  resources/views/pdf/enrollment-certificate.blade.php
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: implement enrollment list filtering and search functionality
  app/Http/Controllers/Guardian/EnrollmentController.php
  resources/js/pages/guardian/enrollments/index.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat(backend): add info request functionality for enrollment applications
  app/Http/Controllers/Guardian/EnrollmentController.php
  app/Http/Controllers/Registrar/EnrollmentController.php
  app/Mail/EnrollmentInfoRequested.php
  app/Models/Enrollment.php
  database/migrations/2025_10_21_111025_add_info_request_fields_to_enrollments_table.php
  resources/views/emails/enrollments/info-requested.blade.php
  routes/web.php
Due: php -l, ./vendor/bin/pint

fix: correct foreignId after() method chaining in migration
  database/migrations/2025_10_21_111025_add_info_request_fields_to_enrollments_table.php
Due: php -l, ./vendor/bin/pint

feat: implement invoice PDF download functionality (ticket 008)
  app/Http/Controllers/InvoiceController.php
  resources/js/pages/shared/invoice.tsx
  resources/views/pdf/invoice.blade.php
  routes/web.php
  tickets/README.md
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

docs: add comprehensive testing guide for client
  .gitignore
  TESTING_GUIDE.md
Due: prettier --write

fix(seeder): replace fake() helper with mt_rand in InvoiceSeeder
  database/seeders/InvoiceSeeder.php
Due: php -l, ./vendor/bin/pint

ignore
  .gitignore
Due: none

feat: implement school information CRUD tests and update testing guide (ticket 031)
  tests/Feature/SuperAdmin/SchoolInformationTest.php
Due: php -l, ./vendor/bin/pint

fix: add SchoolInformationSeeder to DatabaseSeeder
  database/seeders/DatabaseSeeder.php
Due: php -l, ./vendor/bin/pint

refactor: make school information form structure frontend-driven
  app/Http/Controllers/SuperAdmin/SchoolInformationController.php
  database/seeders/SchoolInformationSeeder.php
  resources/js/pages/super-admin/school-information/index.tsx
  tests/Feature/SuperAdmin/SchoolInformationTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: create Guardian record on user registration to prevent 404
  app/Http/Controllers/Auth/RegisteredUserController.php
  tests/Feature/Auth/RegistrationTest.php
Due: php -l, ./vendor/bin/pint

fix: auto-select guardian and add missing enrollment form fields
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  app/Http/Requests/SuperAdmin/StoreEnrollmentRequest.php
  resources/js/pages/super-admin/enrollments/create.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: add PHPStan type hints for Guardian model
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
Due: php -l, ./vendor/bin/pint

test: update StoreEnrollmentRequest test to remove guardian_id requirement
  tests/Unit/Http/Requests/SuperAdmin/StoreEnrollmentRequestTest.php
Due: php -l, ./vendor/bin/pint

fix: exclude students with existing enrollments from create enrollment dropdown
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
Due: php -l, ./vendor/bin/pint

fix: display guardian contact information in user show page
  app/Http/Controllers/SuperAdmin/UserController.php
  resources/js/pages/super-admin/users/show.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: add contact fields to registration form
  app/Http/Controllers/Auth/RegisteredUserController.php
  resources/js/pages/auth/register.tsx
  tests/Feature/Auth/RegistrationTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: update RegistrationTest to include new required contact fields
  tests/Feature/RegistrationTest.php
Due: php -l, ./vendor/bin/pint

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
