Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix Issue #220: Add Section and Adviser fields to Enrollment Details
  app/Models/Enrollment.php
  database/migrations/2025_10_22_102909_add_section_and_adviser_to_enrollments_table.php
  resources/js/pages/guardian/enrollments/show.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix Issue #225: Add name accessor to Guardian model
  app/Models/Guardian.php
Due: php -l, ./vendor/bin/pint

Fix Issue #187: Add success message to guardian registration
  app/Http/Controllers/Auth/RegisteredUserController.php
Due: php -l, ./vendor/bin/pint

Fix Issue #226: Add year/month dropdowns to date picker
  resources/js/components/ui/date-picker.tsx
Due: prettier --write, eslint --fix

Fix Issue #192: Expand Other Fees into detailed breakdown
  resources/js/pages/super-admin/grade-level-fees/create.tsx
  resources/js/pages/super-admin/grade-level-fees/edit.tsx
Due: prettier --write, eslint --fix

Fix Issue #197: Add Guardian Profile section to Profile Settings
  app/Http/Controllers/Settings/ProfileController.php
  app/Http/Requests/Settings/ProfileUpdateRequest.php
  resources/js/pages/settings/profile.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix Issue #199: Add Upload New tab to student documents page
  resources/js/pages/guardian/students/show.tsx
Due: prettier --write, eslint --fix

Fix Issue #232: Add null check for guardian name in registrar enrollment view
  resources/js/pages/registrar/enrollments/show.tsx
Due: prettier --write, eslint --fix

Fix Issue #231: Improve registration button feedback
  resources/js/pages/auth/register.tsx
Due: prettier --write, eslint --fix

Fix Issue #227: Use enrollment stored amounts in billing page
  app/Http/Controllers/Guardian/BillingController.php
Due: php -l, ./vendor/bin/pint

Fix tests: Add enrollment amounts to billing tests
  tests/Feature/Guardian/BillingControllerTest.php
Due: php -l, ./vendor/bin/pint

Fix all billing tests with enrollment amounts
  tests/Feature/Guardian/BillingControllerTest.php
Due: php -l, ./vendor/bin/pint

Fix Issue #224: Add Inertia-compatible notification routes
  app/Http/Middleware/HandleInertiaRequests.php
  resources/js/components/notifications-dropdown.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix Issue #238: Fix undefined route helper in users index
  resources/js/pages/super-admin/users/index.tsx
Due: prettier --write, eslint --fix

Fix guardian registration: Add transaction and better error handling
  app/Http/Controllers/Auth/RegisteredUserController.php
Due: php -l, ./vendor/bin/pint

Fix: Use empty string for missing last name (not duplicate first name)
  app/Http/Controllers/Auth/RegisteredUserController.php
Due: php -l, ./vendor/bin/pint

Update registration to use separate first_name and last_name fields
  app/Http/Controllers/Auth/RegisteredUserController.php
  resources/js/pages/auth/register.tsx
  tests/Feature/Auth/RegistrationTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Update register dialog with all required fields
  resources/js/components/register-dialog.tsx
Due: prettier --write, eslint --fix

Update all registration tests to use first_name and last_name
  tests/Feature/Auth/RegistrationTest.php
  tests/Feature/RegistrationTest.php
Due: php -l, ./vendor/bin/pint

Fix 502 error: Make Guardian name accessor null-safe
  app/Models/Guardian.php
Due: php -l, ./vendor/bin/pint

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
