Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: update RegistrationTest to include new required contact fields
  tests/Feature/RegistrationTest.php
Due: php -l, ./vendor/bin/pint

fix: hardcode update URL in super-admin users edit page
  resources/js/pages/super-admin/users/edit.tsx
Due: prettier --write, eslint --fix

fix: improve text readability on landing page (Issue #180)
  resources/js/components/public-nav.tsx
  resources/js/pages/public/landing.tsx
Due: prettier --write, eslint --fix

fix: add missing required fields to enrollment edit form (Issue #182)
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  resources/js/pages/super-admin/enrollments/edit.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: add migration for missing enrollment fields
  database/migrations/2025_10_21_163345_add_type_previous_school_payment_plan_to_enrollments_table.php
Due: php -l, ./vendor/bin/pint

feat: display new enrollment fields on show page
  resources/js/pages/super-admin/enrollments/show.tsx
Due: prettier --write, eslint --fix

fix(enrollments): resolve search and input issues
  resources/js/pages/registrar/enrollments/enrollments-table.tsx
  resources/js/pages/registrar/enrollments/index.tsx
Due: prettier --write, eslint --fix

feat: add type, previous school, and payment plan fields to enrollment model
  app/Models/Enrollment.php
Due: php -l, ./vendor/bin/pint

Add document statistics summary to student show page
  resources/js/pages/guardian/students/show.tsx
Due: prettier --write, eslint --fix

Fix guardian enrollment submit button validation
  app/Http/Requests/Guardian/StoreEnrollmentRequest.php
Due: php -l, ./vendor/bin/pint

Fix: Registrar tables search filter
  resources/js/pages/registrar/enrollments/enrollments-table.tsx
  resources/js/pages/registrar/students/students-table.tsx
Due: prettier --write, eslint --fix

Fix multiple GitHub issues (#205-#216)
  app/Http/Controllers/Guardian/EnrollmentController.php
  app/Http/Controllers/Registrar/DocumentController.php
  app/Http/Controllers/Registrar/EnrollmentController.php
  app/Http/Controllers/SuperAdmin/StudentController.php
  app/Http/Requests/SuperAdmin/UpdateStudentRequest.php
  database/migrations/2025_10_22_001500_update_grade_level_fees_unique_constraint.php
  package-lock.json
  resources/js/pages/registrar/documents/pending.tsx
  resources/js/pages/registrar/enrollments/enrollments-table.tsx
  resources/js/pages/registrar/enrollments/show.tsx
  resources/js/pages/super-admin/users/create.tsx
  resources/js/pages/super-admin/users/index.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix TypeScript error in enrollments table
  resources/js/pages/registrar/enrollments/enrollments-table.tsx
Due: prettier --write, eslint --fix

Fix test cases for gender validation
  tests/Unit/Http/Requests/SuperAdmin/UpdateStudentRequestTest.php
Due: php -l, ./vendor/bin/pint

Fix Issue #216: Complete Guardian Enrollment Details page
  resources/js/pages/guardian/enrollments/show.tsx
Due: prettier --write, eslint --fix

Fix Issue #211: Send email notification after enrollment approval
  app/Http/Controllers/Registrar/EnrollmentController.php
Due: php -l, ./vendor/bin/pint

Fix Issue #212, #213, #215: Reload enrollments table after status changes
  resources/js/pages/registrar/enrollments/enrollments-table.tsx
Due: prettier --write, eslint --fix

Fix Issue #202: Invoice enrollment dropdown now shows enrollments
  app/Http/Controllers/SuperAdmin/InvoiceController.php
Due: php -l, ./vendor/bin/pint

Fix Issue #203: Create Guardian form now works
  resources/js/pages/super-admin/guardians/create.tsx
Due: prettier --write, eslint --fix

Fix Issue #204: Update Guardian form now works
  app/Http/Requests/SuperAdmin/StoreGuardianRequest.php
  app/Http/Requests/SuperAdmin/UpdateGuardianRequest.php
  resources/js/pages/super-admin/guardians/create.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix tests: Remove relationship_type from Guardian tests
  tests/Unit/Http/Requests/SuperAdmin/UpdateGuardianRequestTest.php
Due: php -l, ./vendor/bin/pint

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
