Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

style: apply Laravel Pint code formatting
  tests/Feature/Http/Controllers/Admin/DashboardControllerTest.php
  tests/Feature/Http/Controllers/Admin/EnrollmentControllerTest.php
  tests/Feature/Http/Controllers/Admin/StudentControllerTest.php
  tests/Feature/Http/Controllers/Admin/UserControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: update registrar pages to use AppLayout for consistency
  resources/js/pages/registrar/enrollments/index.tsx
  resources/js/pages/registrar/enrollments/show.tsx
  resources/js/pages/registrar/students/create.tsx
  resources/js/pages/registrar/students/edit.tsx
  resources/js/pages/registrar/students/index.tsx
  resources/js/pages/registrar/students/show.tsx
  tests/Feature/Http/Controllers/Registrar/LayoutTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: update guardian pages to use AppLayout for consistency
  resources/js/pages/guardian/billing/index.tsx
  resources/js/pages/guardian/billing/show.tsx
  resources/js/pages/guardian/enrollments/create.tsx
  resources/js/pages/guardian/enrollments/edit.tsx
  resources/js/pages/guardian/enrollments/index.tsx
  resources/js/pages/guardian/enrollments/show.tsx
  resources/js/pages/guardian/students/create.tsx
  resources/js/pages/guardian/students/edit.tsx
  resources/js/pages/guardian/students/index.tsx
  resources/js/pages/guardian/students/show.tsx
  tests/Feature/Http/Controllers/Guardian/LayoutTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: simplify registration to guardian-only
  app/Http/Controllers/Auth/RegisteredUserController.php
  routes/auth.php
Due: php -l, ./vendor/bin/pint

fix: resolve TypeScript errors with form property usage
  .gitignore
  resources/js/components/delete-user.tsx
  resources/js/components/login-dialog.tsx
  resources/js/components/register-dialog.tsx
  resources/js/pages/auth/confirm-password.tsx
  resources/js/pages/auth/forgot-password.tsx
  resources/js/pages/auth/login.tsx
  resources/js/pages/auth/register.tsx
  resources/js/pages/auth/reset-password.tsx
  resources/js/pages/auth/verify-email.tsx
  resources/js/pages/settings/password.tsx
  resources/js/pages/settings/profile.tsx
Due: prettier --write, eslint --fix

test: update registration tests for guardian-only flow
  tests/Feature/Auth/RegistrationTest.php
Due: php -l, ./vendor/bin/pint

test: update duplicate registration test file
  tests/Feature/RegistrationTest.php
Due: php -l, ./vendor/bin/pint

feat: add grade level fee management for registrars
  app/Http/Controllers/Registrar/GradeLevelFeeController.php
  database/migrations/2025_09_27_004249_add_created_by_to_grade_level_fees_table.php
  database/seeders/RolesAndPermissionsSeeder.php
  resources/js/components/sidebars/registrar-sidebar.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

test: add tests for registrar fee management permissions
  tests/Feature/RegistrarGradeLevelFeeTest.php
Due: php -l, ./vendor/bin/pint

fix: add newlines to end of files for Pint compliance
  app/Http/Controllers/Registrar/GradeLevelFeeController.php
  database/migrations/2025_09_27_004249_add_created_by_to_grade_level_fees_table.php
  tests/Feature/RegistrarGradeLevelFeeTest.php
Due: php -l, ./vendor/bin/pint

fix: resolve Pint formatting issues
  app/Http/Controllers/Registrar/GradeLevelFeeController.php
Due: php -l, ./vendor/bin/pint

fix: apply Pint formatting with correct not operator spacing
  app/Http/Controllers/Registrar/GradeLevelFeeController.php
Due: php -l, ./vendor/bin/pint

feat: add React views for registrar grade level fee management
  resources/js/pages/registrar/grade-level-fees/create.tsx
  resources/js/pages/registrar/grade-level-fees/edit.tsx
  resources/js/pages/registrar/grade-level-fees/index.tsx
  resources/js/pages/registrar/grade-level-fees/show.tsx
Due: prettier --write, eslint --fix

fix: replace Switch with Checkbox and use native textarea element
  resources/js/pages/registrar/grade-level-fees/create.tsx
  resources/js/pages/registrar/grade-level-fees/edit.tsx
Due: prettier --write, eslint --fix

feat: enhance enrollment status flow with payment tracking
  app/Enums/EnrollmentStatus.php
  app/Http/Controllers/Registrar/EnrollmentController.php
  app/Models/Enrollment.php
  app/Services/InvoiceService.php
  database/migrations/2025_09_27_165843_add_invoice_id_and_payment_reference_to_enrollments_table.php
  routes/web.php
  tests/Feature/Services/DashboardServiceTest.php
  tests/Unit/Enums/EnrollmentStatusTest.php
Due: php -l, ./vendor/bin/pint

fix(dashboard): remove unused message variable
  resources/js/components/super-admin-dashboard.tsx
  resources/js/pages/super-admin/dashboard.tsx
Due: prettier --write, eslint --fix

fix(dashboard): remove unused message from dashboard data
  app/Http/Controllers/SuperAdmin/DashboardController.php
Due: php -l, ./vendor/bin/pint

feat: Add admin enrollment and student index pages
  app/Http/Controllers/Admin/StudentController.php
  resources/js/components/admin/enrollment/admin-enrollment-index.tsx
  resources/js/components/admin/student/admin-student-index.tsx
  resources/js/pages/admin/enrollments/index.tsx
  resources/js/pages/admin/students/edit.tsx
  resources/js/pages/admin/students/index.tsx
  resources/js/pages/admin/students/show.tsx
  resources/js/pages/admin/users/index.tsx
  tests/Feature/Http/Controllers/Admin/StudentControllerTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feature Added Admin Enrollment Index
  resources/js/components/enrollment-card.tsx
  resources/js/components/enrollment-filters.tsx
  resources/js/components/enrollment-header.tsx
  resources/js/components/enrollment-list.tsx
  resources/js/pages/admin/enrollments/index.tsx
  resources/js/types/index.d.ts
Due: prettier --write, eslint --fix

feat: implement frontend for users and students pages
  package-lock.json
  package.json
  resources/js/pages/super-admin/students/index.tsx
  resources/js/pages/super-admin/students/students-table.tsx
  resources/js/pages/super-admin/users/index.tsx
  resources/js/pages/super-admin/users/users-table.tsx
Due: prettier --write, eslint --fix
