Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: add missing fields to guardian student create form
  resources/js/pages/guardian/students/create.tsx
Due: prettier --write, eslint --fix

fix: add missing fields to guardian student edit form
  app/Http/Controllers/Guardian/StudentController.php
  resources/js/pages/guardian/students/edit.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: add missing fields to guardian student show page
  app/Http/Controllers/Guardian/StudentController.php
  resources/js/pages/guardian/students/show.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: add birth_place, nationality, and religion to Student fillable fields
  app/Models/Student.php
Due: php -l, ./vendor/bin/pint

feat: add birth_place, nationality, and religion columns to students table
  database/migrations/2025_10_20_212738_add_birth_place_nationality_religion_to_students_table.php
Due: php -l, ./vendor/bin/pint

fix: use Guardian model for dashboard and add missing announcement fields
  app/Http/Controllers/Guardian/DashboardController.php
Due: php -l, ./vendor/bin/pint

test: create Guardian record for guardian user in dashboard tests
  tests/Feature/DashboardTest.php
Due: php -l, ./vendor/bin/pint

test: fix search test by explicitly setting email and student_id to prevent random matches
  tests/Feature/Registrar/StudentControllerTest.php
Due: php -l, ./vendor/bin/pint

feat: add document upload functionality to guardian student creation
  app/Http/Controllers/Guardian/StudentController.php
  app/Http/Requests/Guardian/StoreStudentRequest.php
  resources/js/pages/guardian/students/create.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: display uploaded documents on guardian student show page
  app/Http/Controllers/Guardian/StudentController.php
  resources/js/pages/guardian/students/show.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

test: update student creation tests to include required document uploads
  tests/Feature/Guardian/StudentControllerTest.php
Due: php -l, ./vendor/bin/pint

feat: add download buttons for documents on student show page
  resources/js/pages/guardian/students/show.tsx
Due: prettier --write, eslint --fix

feat: add inline image previews and full-size view for documents
  resources/js/pages/guardian/students/show.tsx
Due: prettier --write, eslint --fix

docs: update tickets README with missing features from user journey analysis
  tickets/README.md
Due: prettier --write

chore: allow ticket markdown files in git
  .gitignore
Due: none

docs: add ticket 001 - backend PDF generation for invoices
  tickets/001-backend-pdf-generation.md
Due: prettier --write

docs: add ticket 002 - enrollment certificate download
  tickets/002-enrollment-certificate-download.md
Due: prettier --write

docs: add ticket 003 - enrollment list filtering and DataTable
  tickets/003-enrollment-list-filtering-datatable.md
Due: prettier --write

docs: add ticket 004 - request more info functionality
  tickets/004-request-more-info-functionality.md
Due: prettier --write

ignore
  .gitignore
Due: none

feat: add payment history PDF download for guardian enrollments
  app/Http/Controllers/Guardian/EnrollmentController.php
  composer.json
  composer.lock
  resources/js/pages/guardian/enrollments/show.tsx
  resources/views/pdf/payment-history.blade.php
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: add official payment receipt PDF download
  app/Http/Controllers/PaymentController.php
  database/migrations/2025_10_21_090452_add_receipt_number_to_payments_table.php
  resources/views/pdf/payment-receipt.blade.php
  routes/web.php
Due: php -l, ./vendor/bin/pint

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
