Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

Fix #447: Correct enrollment update status comparison (#504)
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  tests/Browser/SuperAdminEnrollmentUpdateTest.php
Due: php -l, ./vendor/bin/pint

Fix #446: Document upload issue - server configuration
  tests/Browser/GuardianUploadLargeDocsTest.php
Due: php -l, ./vendor/bin/pint

Fix #446: Document upload issue - server configuration (#505)
  tests/Browser/GuardianUploadLargeDocsTest.php
Due: php -l, ./vendor/bin/pint

feat: add payment status field to enrollment edit form (#449)
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  app/Http/Requests/SuperAdmin/UpdateEnrollmentRequest.php
  resources/js/pages/super-admin/enrollments/edit.tsx
  tests/Browser/SuperAdminEnrollmentUpdateTest.php
  tests/Unit/Http/Requests/SuperAdmin/UpdateEnrollmentRequestTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix(billing): resolve billing page errors and refactor hardcoded data
  app/Http/Controllers/Guardian/BillingController.php
  resources/js/pages/guardian/billing/billing-module.tsx
  resources/js/pages/guardian/billing/index.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: resolve invoice notification 404 error (#450)
  app/Http/Controllers/Guardian/InvoiceController.php
  tests/Browser/GuardianInvoiceNotificationTest.php
  tests/Feature/BillingControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: resolve invoice notification 404 error (#450) (#509)
  app/Http/Controllers/Guardian/InvoiceController.php
  tests/Browser/GuardianInvoiceNotificationTest.php
  tests/Feature/BillingControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: payment notification shows correct amount and includes invoice link (#451)
  app/Notifications/PaymentReceivedNotification.php
  tests/Browser/GuardianPaymentNotificationTest.php
Due: php -l, ./vendor/bin/pint

feat: add payment status field to enrollment edit form (#449) (#507)
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  app/Http/Requests/SuperAdmin/UpdateEnrollmentRequest.php
  resources/js/pages/super-admin/enrollments/edit.tsx
  tests/Browser/SuperAdminEnrollmentUpdateTest.php
  tests/Unit/Http/Requests/SuperAdmin/UpdateEnrollmentRequestTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: payment notification shows correct amount and includes invoice link (#451) (#510)
  app/Notifications/PaymentReceivedNotification.php
  tests/Browser/GuardianPaymentNotificationTest.php
Due: php -l, ./vendor/bin/pint

fix: extend DatePicker year range to support future dates up to 10 years (#452)
  resources/js/components/ui/date-picker.tsx
  tests/Browser/SuperAdminEnrollmentPeriodYearRangeTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: extend DatePicker year range to support future dates (#452) (#511)
  resources/js/components/ui/date-picker.tsx
  tests/Browser/SuperAdminEnrollmentPeriodYearRangeTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: prevent email spam during seeding and add Playwright to Docker
  .husky/pre-push
  database/seeders/EnrollmentPeriodSeeder.php
  database/seeders/UserSeeder.php
  docker-compose.yml
  docker/8.0/Dockerfile
  docker/8.0/php.ini
  docker/8.0/start-container
  docker/8.0/supervisord.conf
  docker/8.1/Dockerfile
  docker/8.1/php.ini
  docker/8.1/start-container
  docker/8.1/supervisord.conf
  docker/8.2/Dockerfile
  docker/8.2/php.ini
  docker/8.2/start-container
  docker/8.2/supervisord.conf
  docker/8.3/Dockerfile
  docker/8.3/php.ini
  docker/8.3/start-container
  docker/8.3/supervisord.conf
  docker/8.4/Dockerfile
  docker/8.4/php.ini
  docker/8.4/start-container
  docker/8.4/supervisord.conf
  docker/mariadb/create-testing-database.sh
  docker/mysql/create-testing-database.sh
  docker/pgsql/create-testing-database.sql
  package-lock.json
  tests/Browser/VisibleBrowserDemo.php
Due: php -l, ./vendor/bin/pint, prettier --write

fix: prevent email spam during seeding and add Playwright to Docker (#515)
  .husky/pre-push
  database/seeders/EnrollmentPeriodSeeder.php
  database/seeders/UserSeeder.php
  docker-compose.yml
  docker/8.0/Dockerfile
  docker/8.0/php.ini
  docker/8.0/start-container
  docker/8.0/supervisord.conf
  docker/8.1/Dockerfile
  docker/8.1/php.ini
  docker/8.1/start-container
  docker/8.1/supervisord.conf
  docker/8.2/Dockerfile
  docker/8.2/php.ini
  docker/8.2/start-container
  docker/8.2/supervisord.conf
  docker/8.3/Dockerfile
  docker/8.3/php.ini
  docker/8.3/start-container
  docker/8.3/supervisord.conf
  docker/8.4/Dockerfile
  docker/8.4/php.ini
  docker/8.4/start-container
  docker/8.4/supervisord.conf
  docker/mariadb/create-testing-database.sh
  docker/mysql/create-testing-database.sh
  docker/pgsql/create-testing-database.sql
  package-lock.json
  tests/Browser/VisibleBrowserDemo.php
Due: php -l, ./vendor/bin/pint, prettier --write

Fix: Make pre-push hook fully Docker-native
  .husky/pre-push
  package-lock.json
  scripts/test-local.sh
  tests/Browser/LoginPageTest.php
Due: php -l, ./vendor/bin/pint, prettier --write

feat(dashboard): make upcoming deadlines dynamic
  app/Http/Controllers/Registrar/DashboardController.php
  phpstan.neon
Due: php -l, ./vendor/bin/pint

Fix: Make pre-push hook fully Docker-native (#516)
  .husky/pre-push
  package-lock.json
  scripts/test-local.sh
  tests/Browser/LoginPageTest.php
Due: php -l, ./vendor/bin/pint, prettier --write

Fix #512: Add missing Delete text to guardian delete button
  resources/js/pages/super-admin/guardians/index.tsx
  tests/Browser/Issue512Test.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix #513: Correct document storage path to prevent 404 errors
  app/Http/Controllers/Guardian/DocumentController.php
  tests/Browser/Issue513Test.php
  tests/Feature/Guardian/DocumentControllerTest.php
Due: php -l, ./vendor/bin/pint

Fix #506: Improve New Enrollment button error handling with toast notifications
  app/Http/Controllers/Guardian/EnrollmentController.php
  resources/js/pages/guardian/enrollments/index.tsx
  tests/Browser/Issue506Test.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix #506: Update tests to match new flash message behavior
  tests/Feature/Guardian/EnrollmentPeriodValidationTest.php
Due: php -l, ./vendor/bin/pint

Fix #456: Update Student button failing for students 18+ years old
  app/Http/Requests/Guardian/UpdateStudentRequest.php
  tests/Browser/Issue456Test.php
Due: php -l, ./vendor/bin/pint

Fix #459: Allow guardians to delete students from their account
  app/Policies/StudentPolicy.php
  tests/Browser/Issue459Test.php
Due: php -l, ./vendor/bin/pint

Fix #446: Improve document upload validation for Grade 1+ students
  app/Http/Requests/Guardian/StoreStudentRequest.php
  tests/Browser/Issue446Test.php
Due: php -l, ./vendor/bin/pint

Fix #512: Add missing Delete text to guardian delete button (#518)
  resources/js/pages/super-admin/guardians/index.tsx
  tests/Browser/Issue512Test.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix #513: Correct document storage path to prevent 404 errors (#522)
  app/Http/Controllers/Guardian/DocumentController.php
  tests/Browser/Issue513Test.php
  tests/Feature/Guardian/DocumentControllerTest.php
Due: php -l, ./vendor/bin/pint

Fix #506: New Enrollment button not working (#524)
  app/Http/Controllers/Guardian/EnrollmentController.php
  resources/js/pages/guardian/enrollments/index.tsx
  tests/Browser/Issue506Test.php
  tests/Feature/Guardian/EnrollmentPeriodValidationTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix #456: Update Student button failing for students 18+ years old (#526)
  app/Http/Requests/Guardian/UpdateStudentRequest.php
  tests/Browser/Issue456Test.php
Due: php -l, ./vendor/bin/pint
