Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix: Resolve document deletion and receipt policy issues
  app/Http/Controllers/Guardian/DocumentController.php
  app/Policies/ReceiptPolicy.php
  resources/js/components/ui/data-table.tsx
  resources/js/pages/admin/enrollments/index.tsx
  resources/js/pages/guardian/enrollments/index.tsx
  resources/js/pages/guardian/invoices/index.tsx
  resources/js/pages/guardian/payments/index.tsx
  resources/js/pages/guardian/receipts/index.tsx
  resources/js/pages/super-admin/enrollments/index.tsx
  resources/js/pages/super-admin/invoices/index.tsx
  resources/js/pages/super-admin/payments/index.tsx
  resources/js/pages/super-admin/receipts/index.tsx
  resources/js/pages/super-admin/school-years/index.tsx
  resources/js/pages/super-admin/settings/index.tsx
  tests/Feature/DocumentSecurityTest.php
  tests/Feature/Guardian/DocumentControllerTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix: Resolve TypeError and 403 errors in various React components and policies
  app/Http/Controllers/Guardian/ReceiptController.php
  app/Policies/ReceiptPolicy.php
  resources/js/pages/guardian/invoices/index.tsx
  resources/js/pages/guardian/payments/index.tsx
  resources/js/pages/guardian/receipts/index.tsx
  resources/js/pages/super-admin/receipts/index.tsx
  resources/js/pages/super-admin/school-years/index.tsx
  resources/js/pages/super-admin/settings/index.tsx
  tests/Feature/Policies/ReceiptPolicyTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

chore: Update default user emails in UserSeeder
  database/seeders/UserSeeder.php
Due: php -l, ./vendor/bin/pint

change super admin name temporarily
  database/seeders/UserSeeder.php
Due: php -l, ./vendor/bin/pint

chore: Update default user emails in UserSeeder (#588)
  database/seeders/UserSeeder.php
Due: php -l, ./vendor/bin/pint

fix: Resolve system-wide email notification duplicates (#544)
  app/Http/Controllers/Auth/RegisteredUserController.php
  app/Http/Controllers/Guardian/EnrollmentController.php
Due: php -l, ./vendor/bin/pint

test: Update Issue519 tests to match new notification system
  tests/Feature/Issue519EnrollmentSubmissionTest.php
Due: php -l, ./vendor/bin/pint

test: Fix Mail assertion method
  tests/Feature/Issue519EnrollmentSubmissionTest.php
Due: php -l, ./vendor/bin/pint

test: Use Event::fake() instead of Mail/Notification assertions
  tests/Feature/Issue519EnrollmentSubmissionTest.php
Due: php -l, ./vendor/bin/pint

test: Remove Event::fake() that was breaking enrollment tests
  tests/Feature/Issue519EnrollmentSubmissionTest.php
Due: php -l, ./vendor/bin/pint

fix: Resolve system-wide email notification duplicates (#544) (#589)
  app/Http/Controllers/Auth/RegisteredUserController.php
  app/Http/Controllers/Guardian/EnrollmentController.php
  tests/Feature/Issue519EnrollmentSubmissionTest.php
Due: php -l, ./vendor/bin/pint

feat: Implement and fix downloadable documents across roles
  app/Http/Controllers/Admin/EnrollmentController.php
  app/Http/Controllers/Registrar/EnrollmentController.php
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  app/Http/Controllers/SuperAdmin/InvoiceController.php
  resources/js/pages/admin/enrollments/show.tsx
  resources/js/pages/registrar/enrollments/show.tsx
  resources/js/pages/super-admin/enrollments/show.tsx
  resources/js/pages/super-admin/invoices/show.tsx
  resources/views/pdf/enrollment-certificate.blade.php
  resources/views/pdf/invoice.blade.php
  resources/views/pdf/payment-history.blade.php
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix(invoice): Resolve undefined variables in invoice PDF generation and add SchoolInformation
  app/Http/Controllers/Guardian/InvoiceController.php
Due: php -l, ./vendor/bin/pint

feat: Implement admin payment management
  app/Http/Controllers/Admin/PaymentController.php
  app/Http/Controllers/NotificationController.php
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  app/Http/Controllers/SuperAdmin/PaymentController.php
  resources/js/pages/admin/payments/columns.tsx
  resources/js/pages/admin/payments/index.tsx
  resources/js/pages/super-admin/enrollments/show.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Improve enrollment UX
  app/Http/Controllers/Admin/EnrollmentController.php
  app/Http/Controllers/Registrar/EnrollmentController.php
  app/Http/Controllers/Registrar/StudentController.php
  app/Models/Enrollment.php
  resources/js/components/status-badges/EnrollmentStatusBadge.tsx
  resources/js/pages/admin/enrollments/show.tsx
  resources/js/pages/guardian/enrollments/show.tsx
  resources/js/pages/registrar/enrollments/columns.tsx
  resources/js/pages/registrar/enrollments/enrollments-table.tsx
  resources/js/pages/registrar/enrollments/index.tsx
  resources/js/pages/registrar/enrollments/show.tsx
  resources/js/pages/registrar/students/edit.tsx
  resources/js/pages/registrar/students/enrollments.tsx
  resources/js/pages/registrar/students/students-table.tsx
  resources/js/pages/super-admin/enrollments/show.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Queue email verification notification to prevent rate limiting
  app/Notifications/CustomVerifyEmailNotification.php
Due: php -l, ./vendor/bin/pint

feat: Implement Laravel Horizon for queue management
  app/Providers/HorizonServiceProvider.php
  bootstrap/providers.php
  composer.json
  composer.lock
  config/horizon.php
Due: php -l, ./vendor/bin/pint, prettier --write

feat: Implement Laravel Horizon for queue management with email notification queueing (#596)
  app/Notifications/CustomVerifyEmailNotification.php
  app/Providers/HorizonServiceProvider.php
  bootstrap/providers.php
  composer.json
  composer.lock
  config/horizon.php
Due: php -l, ./vendor/bin/pint, prettier --write

feat: Queue all email notifications and mails for async processing
  app/Mail/EnrollmentStatusUpdated.php
  app/Notifications/DocumentRejectedNotification.php
  app/Notifications/DocumentVerifiedNotification.php
  app/Notifications/EnrollmentApprovedNotification.php
  app/Notifications/EnrollmentPeriodStatusChangedNotification.php
  app/Notifications/EnrollmentRejectedNotification.php
  app/Notifications/EnrollmentSubmittedNotification.php
  app/Notifications/InvoiceCreatedNotification.php
  app/Notifications/NewEnrollmentCreatedNotification.php
  app/Notifications/NewEnrollmentForReviewNotification.php
  app/Notifications/NewStudentCreatedNotification.php
  app/Notifications/NewUserRegisteredNotification.php
  app/Notifications/PaymentReceivedNotification.php
  app/Notifications/ReceiptGeneratedNotification.php
  app/Notifications/TestNotification.php
Due: php -l, ./vendor/bin/pint

feat: Queue all email notifications and mails for async processing (#597)
  app/Mail/EnrollmentStatusUpdated.php
  app/Notifications/DocumentRejectedNotification.php
  app/Notifications/DocumentVerifiedNotification.php
  app/Notifications/EnrollmentApprovedNotification.php
  app/Notifications/EnrollmentPeriodStatusChangedNotification.php
  app/Notifications/EnrollmentRejectedNotification.php
  app/Notifications/EnrollmentSubmittedNotification.php
  app/Notifications/InvoiceCreatedNotification.php
  app/Notifications/NewEnrollmentCreatedNotification.php
  app/Notifications/NewEnrollmentForReviewNotification.php
  app/Notifications/NewStudentCreatedNotification.php
  app/Notifications/NewUserRegisteredNotification.php
  app/Notifications/PaymentReceivedNotification.php
  app/Notifications/ReceiptGeneratedNotification.php
  app/Notifications/TestNotification.php
Due: php -l, ./vendor/bin/pint

feat: Add super admin features to registrar role
  app/Http/Controllers/Registrar/EnrollmentPeriodController.php
  app/Http/Controllers/Registrar/GuardianController.php
  app/Http/Controllers/Registrar/PaymentController.php
  app/Http/Controllers/Registrar/ReceiptController.php
  app/Http/Controllers/Registrar/SchoolYearController.php
  resources/js/components/sidebars/registrar-sidebar.tsx
  resources/js/pages/registrar/enrollment-periods/create.tsx
  resources/js/pages/registrar/enrollment-periods/edit.tsx
  resources/js/pages/registrar/enrollment-periods/index.tsx
  resources/js/pages/registrar/enrollment-periods/show.tsx
  resources/js/pages/registrar/guardians/create.tsx
  resources/js/pages/registrar/guardians/edit.tsx
  resources/js/pages/registrar/guardians/index.tsx
  resources/js/pages/registrar/guardians/show.tsx
  resources/js/pages/registrar/invoices/columns.tsx
  resources/js/pages/registrar/invoices/create.tsx
  resources/js/pages/registrar/invoices/edit.tsx
  resources/js/pages/registrar/invoices/index.tsx
  resources/js/pages/registrar/invoices/show.tsx
  resources/js/pages/registrar/payments/columns.tsx
  resources/js/pages/registrar/payments/create.tsx
  resources/js/pages/registrar/payments/edit.tsx
  resources/js/pages/registrar/payments/index.tsx
  resources/js/pages/registrar/payments/show.tsx
  resources/js/pages/registrar/receipts/create.tsx
  resources/js/pages/registrar/receipts/edit.tsx
  resources/js/pages/registrar/receipts/index.tsx
  resources/js/pages/registrar/receipts/show.tsx
  resources/js/pages/registrar/school-years/create.tsx
  resources/js/pages/registrar/school-years/edit.tsx
  resources/js/pages/registrar/school-years/index.tsx
  resources/js/pages/registrar/school-years/show.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Add super admin features to registrar role (#599)
  app/Http/Controllers/Registrar/EnrollmentPeriodController.php
  app/Http/Controllers/Registrar/GuardianController.php
  app/Http/Controllers/Registrar/PaymentController.php
  app/Http/Controllers/Registrar/ReceiptController.php
  app/Http/Controllers/Registrar/SchoolYearController.php
  resources/js/components/sidebars/registrar-sidebar.tsx
  resources/js/pages/registrar/enrollment-periods/create.tsx
  resources/js/pages/registrar/enrollment-periods/edit.tsx
  resources/js/pages/registrar/enrollment-periods/index.tsx
  resources/js/pages/registrar/enrollment-periods/show.tsx
  resources/js/pages/registrar/guardians/create.tsx
  resources/js/pages/registrar/guardians/edit.tsx
  resources/js/pages/registrar/guardians/index.tsx
  resources/js/pages/registrar/guardians/show.tsx
  resources/js/pages/registrar/invoices/columns.tsx
  resources/js/pages/registrar/invoices/create.tsx
  resources/js/pages/registrar/invoices/edit.tsx
  resources/js/pages/registrar/invoices/index.tsx
  resources/js/pages/registrar/invoices/show.tsx
  resources/js/pages/registrar/payments/columns.tsx
  resources/js/pages/registrar/payments/create.tsx
  resources/js/pages/registrar/payments/edit.tsx
  resources/js/pages/registrar/payments/index.tsx
  resources/js/pages/registrar/payments/show.tsx
  resources/js/pages/registrar/receipts/create.tsx
  resources/js/pages/registrar/receipts/edit.tsx
  resources/js/pages/registrar/receipts/index.tsx
  resources/js/pages/registrar/receipts/show.tsx
  resources/js/pages/registrar/school-years/create.tsx
  resources/js/pages/registrar/school-years/edit.tsx
  resources/js/pages/registrar/school-years/index.tsx
  resources/js/pages/registrar/school-years/show.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Add super admin features to administrator role
  app/Http/Controllers/Admin/DocumentController.php
  app/Http/Controllers/Admin/GuardianController.php
  app/Http/Controllers/Admin/ReceiptController.php
  app/Http/Controllers/Admin/SchoolYearController.php
  app/Http/Controllers/Admin/SettingController.php
  resources/js/components/sidebars/admin-sidebar.tsx
  resources/js/pages/admin/documents/index.tsx
  resources/js/pages/admin/documents/show.tsx
  resources/js/pages/admin/guardians/create.tsx
  resources/js/pages/admin/guardians/edit.tsx
  resources/js/pages/admin/guardians/index.tsx
  resources/js/pages/admin/guardians/show.tsx
  resources/js/pages/admin/receipts/create.tsx
  resources/js/pages/admin/receipts/edit.tsx
  resources/js/pages/admin/receipts/index.tsx
  resources/js/pages/admin/receipts/show.tsx
  resources/js/pages/admin/school-years/create.tsx
  resources/js/pages/admin/school-years/edit.tsx
  resources/js/pages/admin/school-years/index.tsx
  resources/js/pages/admin/school-years/show.tsx
  resources/js/pages/admin/settings/create.tsx
  resources/js/pages/admin/settings/edit.tsx
  resources/js/pages/admin/settings/index.tsx
  resources/js/pages/admin/settings/show.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Add super admin features to administrator role (#600)
  app/Http/Controllers/Admin/DocumentController.php
  app/Http/Controllers/Admin/GuardianController.php
  app/Http/Controllers/Admin/ReceiptController.php
  app/Http/Controllers/Admin/SchoolYearController.php
  app/Http/Controllers/Admin/SettingController.php
  resources/js/components/sidebars/admin-sidebar.tsx
  resources/js/pages/admin/documents/index.tsx
  resources/js/pages/admin/documents/show.tsx
  resources/js/pages/admin/guardians/create.tsx
  resources/js/pages/admin/guardians/edit.tsx
  resources/js/pages/admin/guardians/index.tsx
  resources/js/pages/admin/guardians/show.tsx
  resources/js/pages/admin/receipts/create.tsx
  resources/js/pages/admin/receipts/edit.tsx
  resources/js/pages/admin/receipts/index.tsx
  resources/js/pages/admin/receipts/show.tsx
  resources/js/pages/admin/school-years/create.tsx
  resources/js/pages/admin/school-years/edit.tsx
  resources/js/pages/admin/school-years/index.tsx
  resources/js/pages/admin/school-years/show.tsx
  resources/js/pages/admin/settings/create.tsx
  resources/js/pages/admin/settings/edit.tsx
  resources/js/pages/admin/settings/index.tsx
  resources/js/pages/admin/settings/show.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Revert temporary user seeder changes
  database/seeders/UserSeeder.php
Due: php -l, ./vendor/bin/pint

feat: Add comprehensive smoke tests for all user roles
  tests/Browser/AdminRoutesSmokeTest.php
  tests/Browser/AuthRoutesSmokeTest.php
  tests/Browser/GuardianRoutesSmokeTest.php
  tests/Browser/PublicRoutesSmokeTest.php
  tests/Browser/RegistrarRoutesSmokeTest.php
  tests/Browser/StudentRoutesSmokeTest.php
  tests/Browser/SuperAdminRoutesSmokeTest.php
Due: php -l, ./vendor/bin/pint

chore: Include browser tests in coverage calculation
  .husky/pre-push
Due: none

chore: Add Browser test suite to phpunit.xml
  phpunit.xml
Due: none

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
