Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore: update react-day-picker to 9.11.1 and add icon size variants
  package-lock.json
  package.json
  resources/js/components/ui/button.tsx
Due: prettier --write, eslint --fix

feat: implement Super Admin Payments CRUD pages (TICKET-029)
  app/Http/Requests/SuperAdmin/StorePaymentRequest.php
  app/Http/Requests/SuperAdmin/UpdatePaymentRequest.php
  resources/js/pages/super-admin/payments/columns.tsx
  resources/js/pages/super-admin/payments/create.tsx
  resources/js/pages/super-admin/payments/edit.tsx
  resources/js/pages/super-admin/payments/index.tsx
  resources/js/pages/super-admin/payments/show.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: update UpdatePaymentRequestTest to remove status field assertions
  tests/Unit/Http/Requests/SuperAdmin/UpdatePaymentRequestTest.php
Due: php -l, ./vendor/bin/pint

fix: add Payments navigation link to super admin sidebar
  resources/js/components/sidebars/super-admin-sidebar.tsx
Due: prettier --write, eslint --fix

fix: convert Laravel decimal strings to numbers before calling toFixed in payment forms
  resources/js/pages/super-admin/payments/create.tsx
  resources/js/pages/super-admin/payments/edit.tsx
Due: prettier --write, eslint --fix

fix: add processed_by column and relationship to Payment model
  app/Models/Payment.php
  database/factories/PaymentFactory.php
  database/migrations/2025_10_17_183707_add_processed_by_to_payments_table.php
Due: php -l, ./vendor/bin/pint

docs: update tickets README with completed TICKET-025 to TICKET-029
  tickets/README.md
Due: prettier --write

feat: Implement SuperAdmin CRUD UI for Users and Students with UI fixes and error resolutions
  app/Http/Controllers/SuperAdmin/UserController.php
  package-lock.json
  package.json
  resources/js/pages/super-admin/students/edit.tsx
  resources/js/pages/super-admin/students/show.tsx
  resources/js/pages/super-admin/students/students-table.tsx
  resources/js/pages/super-admin/users/edit.tsx
  resources/js/pages/super-admin/users/show.tsx
  resources/js/pages/super-admin/users/users-table.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

docs: create TICKET-030 for Super Admin Enrollments CRUD modernization
  tickets/TICKET-030-super-admin-enrollments-crud-modernization.md
Due: prettier --write

feat: modernize super admin enrollments CRUD pages
  resources/js/pages/super-admin/enrollments/columns.tsx
  resources/js/pages/super-admin/enrollments/create.tsx
  resources/js/pages/super-admin/enrollments/index.tsx
Due: prettier --write, eslint --fix

feat: implement enrollment edit page
  resources/js/pages/super-admin/enrollments/edit.tsx
Due: prettier --write, eslint --fix

fix: add optional chaining for guardian.user.email in enrollment edit
  resources/js/pages/super-admin/enrollments/edit.tsx
Due: prettier --write, eslint --fix

fix: remove undefined documents relationship from enrollment show method
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
Due: php -l, ./vendor/bin/pint

feat: implement comprehensive enrollment show page
  resources/js/pages/super-admin/enrollments/show.tsx
Due: prettier --write, eslint --fix

feat: Implement view enrollment and student details, fix export issues, and align UI
  resources/js/pages/registrar/enrollments/enrollments-table.tsx
  resources/js/pages/registrar/enrollments/show.tsx
  resources/js/pages/registrar/students/show.tsx
  resources/js/pages/registrar/students/students-table.tsx
Due: prettier --write, eslint --fix

fix: properly format enum data for enrollment edit and create pages
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
Due: php -l, ./vendor/bin/pint

fix: change reference_number to enrollment_id to match database schema
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  resources/js/pages/super-admin/enrollments/columns.tsx
  resources/js/pages/super-admin/enrollments/edit.tsx
  resources/js/pages/super-admin/enrollments/show.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix
