Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Modernize Guardian enrollment and student creation views, fix ESLint errors
  resources/js/pages/guardian/enrollments/index.tsx
  resources/js/pages/guardian/enrollments/show.tsx
  resources/js/pages/guardian/students/create.tsx
Due: prettier --write, eslint --fix

feat: Modernize Registrar enrollment and student show views
  resources/js/pages/registrar/enrollments/show.tsx
  resources/js/pages/registrar/students/show.tsx
Due: prettier --write, eslint --fix

feat: Modernize Super Admin student and user show/edit views
  resources/js/pages/super-admin/students/edit.tsx
  resources/js/pages/super-admin/students/show.tsx
  resources/js/pages/super-admin/users/edit.tsx
  resources/js/pages/super-admin/users/show.tsx
Due: prettier --write, eslint --fix

feat: Implement document verification UI and improve pages
  resources/js/pages/registrar/dashboard.tsx
  resources/js/pages/registrar/documents/pending.tsx
Due: prettier --write, eslint --fix

feat: Implement super admin CRUD UI changes
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  app/Http/Controllers/SuperAdmin/StudentController.php
  resources/js/pages/super-admin/enrollments/columns.tsx
  resources/js/pages/super-admin/enrollments/index.tsx
  resources/js/pages/super-admin/students/columns.tsx
  resources/js/pages/super-admin/students/index.tsx
  resources/js/pages/super-admin/students/students-table.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Add deployment script and Nginx configuration for cbhlc.com
  deployment-script.sh
  nginx.conf
Due: none

fix: Update deployment script and Nginx configuration for correct directory structure
  deployment-script.sh
  nginx.conf
Due: none

fix: properly transform guardian data and improve text contrast on show page
  app/Http/Controllers/SuperAdmin/GuardianController.php
  resources/js/pages/super-admin/guardians/show.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Implement enrollment management UI and API enhancements
  app/Http/Controllers/Registrar/EnrollmentController.php
  package-lock.json
  resources/js/pages/admin/enrollments/columns.tsx
  resources/js/pages/admin/enrollments/index.tsx
  resources/js/pages/admin/enrollments/show.tsx
  resources/js/pages/registrar/dashboard.tsx
  resources/js/pages/registrar/enrollments/enrollments-table.tsx
  resources/js/pages/registrar/enrollments/index.tsx
  resources/js/pages/super-admin/enrollments/show.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Implement enrollment management UI and API enhancements
  resources/js/pages/registrar/enrollments/enrollments-table.tsx
Due: prettier --write, eslint --fix

feat: Implement enrollment management UI and API enhancements
  resources/js/pages/admin/enrollments/index.tsx
Due: prettier --write, eslint --fix

fix: add enrollment status to student show page
  app/Http/Controllers/SuperAdmin/StudentController.php
Due: php -l, ./vendor/bin/pint

feat: Guardian sidebar and documents page
  app/Http/Controllers/Guardian/DocumentController.php
  database/seeders/RolesAndPermissionsSeeder.php
  resources/js/components/sidebars/guardian-sidebar.tsx
  resources/js/pages/guardian/documents/index.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: setup Resend email service for production
  composer.json
  composer.lock
Due: prettier --write

docs: add RESEND_API_KEY to .env.example
  .env.example
Due: none

feat: Admin sidebar and placeholder pages
  app/Http/Controllers/Admin/AuditLogController.php
  app/Http/Controllers/Admin/DocumentController.php
  app/Http/Controllers/Admin/EnrollmentPeriodController.php
  app/Http/Controllers/Admin/GradeLevelFeeController.php
  app/Http/Controllers/Admin/PaymentController.php
  app/Http/Controllers/Admin/ReportController.php
  app/Http/Controllers/Admin/SchoolInformationController.php
  resources/js/components/sidebars/admin-sidebar.tsx
  resources/js/pages/admin/audit-logs/index.tsx
  resources/js/pages/admin/documents/pending.tsx
  resources/js/pages/admin/enrollment-periods/index.tsx
  resources/js/pages/admin/grade-level-fees/index.tsx
  resources/js/pages/admin/payments/index.tsx
  resources/js/pages/admin/reports/index.tsx
  resources/js/pages/admin/school-information/index.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: remove unnecessary nullsafe operator on birthdate field
  app/Http/Controllers/SuperAdmin/StudentController.php
  test-resend.php
Due: php -l, ./vendor/bin/pint

chore: remove test-resend.php file
  test-resend.php
Due: php -l, ./vendor/bin/pint

fix: guardian student create page grade level dropdown and validation
  app/Http/Controllers/Guardian/StudentController.php
  app/Http/Requests/Guardian/StoreStudentRequest.php
  resources/js/pages/guardian/students/create.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

test: add grade_level to Guardian StudentController tests
  tests/Feature/Guardian/StudentControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: remove invalid required attribute from Select components
  resources/js/pages/guardian/students/create.tsx
Due: prettier --write, eslint --fix

fix: import route helper function in guardian student create
  resources/js/pages/guardian/students/create.tsx
Due: prettier --write, eslint --fix

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
