Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: resolve enrollment status not updating issue (#458) (#495)
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  tests/Browser/UpdateEnrollmentStatusTest.php
Due: php -l, ./vendor/bin/pint

fix: resolve view enrollments 404 error (#457)
  app/Http/Controllers/SuperAdmin/StudentController.php
  resources/js/pages/super-admin/students/enrollments.tsx
  routes/web.php
  tests/Browser/ViewEnrollmentsTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

refactor: use foreach instead of map for PHPStan compatibility
  app/Http/Controllers/SuperAdmin/StudentController.php
Due: php -l, ./vendor/bin/pint

test: add feature tests for student enrollments view
  tests/Feature/SuperAdmin/StudentEnrollmentsTest.php
Due: php -l, ./vendor/bin/pint

Fix #457: Add View Enrollments page for students (#496)
  app/Http/Controllers/SuperAdmin/StudentController.php
  resources/js/pages/super-admin/students/enrollments.tsx
  routes/web.php
  tests/Browser/ViewEnrollmentsTest.php
  tests/Feature/SuperAdmin/StudentEnrollmentsTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: correct payment history amount display using payments() relationship
  app/Http/Controllers/Guardian/EnrollmentController.php
  resources/js/pages/guardian/enrollments/show.tsx
  tests/Browser/PaymentHistoryTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

refactor: use foreach instead of map for PHPStan compatibility
  app/Http/Controllers/Guardian/EnrollmentController.php
Due: php -l, ./vendor/bin/pint

Fix #492: Correct payment history amount display (#497)
  app/Http/Controllers/Guardian/EnrollmentController.php
  resources/js/pages/guardian/enrollments/show.tsx
  tests/Browser/PaymentHistoryTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Standardize payment terms and make payment plan nullable in enrollments
  database/migrations/2025_10_31_131050_standardize_payment_terms_in_grade_level_fees_table.php
  database/migrations/2025_10_31_135403_make_payment_plan_nullable_in_enrollments_table.php
Due: php -l, ./vendor/bin/pint

refactor: Update PaymentPlan enum and billing service to remove 'quarterly' term
  app/Enums/PaymentPlan.php
  app/Services/BillingService.php
  tests/Unit/Enums/PaymentPlanTest.php
Due: php -l, ./vendor/bin/pint

refactor: Update grade level fee requests and tests to reflect payment plan changes
  app/Http/Requests/SuperAdmin/StoreGradeLevelFeeRequest.php
  app/Http/Requests/SuperAdmin/UpdateGradeLevelFeeRequest.php
  tests/Unit/Http/Requests/SuperAdmin/StoreGradeLevelFeeRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/UpdateGradeLevelFeeRequestTest.php
Due: php -l, ./vendor/bin/pint

refactor: Update billing and enrollment controllers and feature tests
  app/Http/Controllers/Guardian/BillingController.php
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  tests/Feature/Guardian/BillingControllerTest.php
Due: php -l, ./vendor/bin/pint

feat: Update UI components to reflect payment plan changes
  resources/js/pages/guardian/billing/billing-module.tsx
  resources/js/pages/guardian/enrollments/create.tsx
  resources/js/pages/registrar/grade-level-fees/create.tsx
  resources/js/pages/registrar/grade-level-fees/edit.tsx
  resources/js/pages/super-admin/enrollments/create.tsx
  resources/js/pages/super-admin/grade-level-fees/create.tsx
  resources/js/pages/super-admin/grade-level-fees/edit.tsx
Due: prettier --write, eslint --fix

chore: Update factories, seeders, and documentation for payment plan changes
  app/Models/README.md
  database/factories/GradeLevelFeeFactory.php
  database/seeders/GradeLevelFeeSeeder.php
Due: php -l, ./vendor/bin/pint, prettier --write

feat: verify enrollment_periods migration and add enum casting (#474)
  app/Models/EnrollmentPeriod.php
  tests/Browser/EnrollmentPeriodMigrationTest.php
  tests/Feature/Guardian/EnrollmentPeriodValidationTest.php
  tests/Feature/SuperAdmin/EnrollmentPeriodControllerTest.php
  tests/Feature/UpdateEnrollmentPeriodStatusCommandTest.php
Due: php -l, ./vendor/bin/pint

feat: verify enrollment_periods migration and add enum casting (#474) (#499)
  app/Models/EnrollmentPeriod.php
  tests/Browser/EnrollmentPeriodMigrationTest.php
  tests/Feature/Guardian/EnrollmentPeriodValidationTest.php
  tests/Feature/SuperAdmin/EnrollmentPeriodControllerTest.php
  tests/Feature/UpdateEnrollmentPeriodStatusCommandTest.php
Due: php -l, ./vendor/bin/pint

feat: verify documents migration and add comprehensive tests (#470)
  tests/Browser/DocumentsMigrationTest.php
Due: php -l, ./vendor/bin/pint

feat: verify documents migration and add comprehensive tests (#470) (#500)
  tests/Browser/DocumentsMigrationTest.php
Due: php -l, ./vendor/bin/pint

feat: add audit logs cleanup command with scheduling (#485)
  app/Console/Commands/CleanAuditLogs.php
  routes/console.php
  tests/Feature/CleanAuditLogsCommandTest.php
Due: php -l, ./vendor/bin/pint

feat: add audit logs cleanup command with scheduling (#485) (#501)
  app/Console/Commands/CleanAuditLogs.php
  routes/console.php
  tests/Feature/CleanAuditLogsCommandTest.php
Due: php -l, ./vendor/bin/pint

fix: prevent 500 error when guardian adds student (#448)
  app/Listeners/NotifyRegistrarOfNewStudent.php
  tests/Browser/GuardianAddStudentTest.php
Due: php -l, ./vendor/bin/pint

fix: prevent 500 error when guardian adds student (#448) (#502)
  app/Listeners/NotifyRegistrarOfNewStudent.php
  tests/Browser/GuardianAddStudentTest.php
Due: php -l, ./vendor/bin/pint

Fix #455 #456: Super Admin student create/update failures
  app/Http/Controllers/SuperAdmin/StudentController.php
  app/Http/Requests/SuperAdmin/StoreStudentRequest.php
  app/Http/Requests/SuperAdmin/UpdateStudentRequest.php
  tests/Browser/SuperAdminStudentCrudTest.php
  tests/Unit/Http/Requests/SuperAdmin/StoreStudentRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/UpdateStudentRequestTest.php
Due: php -l, ./vendor/bin/pint

Fix #455 #456: Super Admin student create/update failures (#503)
  app/Http/Controllers/SuperAdmin/StudentController.php
  app/Http/Requests/SuperAdmin/StoreStudentRequest.php
  app/Http/Requests/SuperAdmin/UpdateStudentRequest.php
  tests/Browser/SuperAdminStudentCrudTest.php
  tests/Unit/Http/Requests/SuperAdmin/StoreStudentRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/UpdateStudentRequestTest.php
Due: php -l, ./vendor/bin/pint

Fix #447: Correct enrollment update status comparison
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  tests/Browser/SuperAdminEnrollmentUpdateTest.php
Due: php -l, ./vendor/bin/pint

Fix #447: Correct enrollment update status comparison (#504)
  app/Http/Controllers/SuperAdmin/EnrollmentController.php
  tests/Browser/SuperAdminEnrollmentUpdateTest.php
Due: php -l, ./vendor/bin/pint
