Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(tests): Correct failing browser tests
  app/Http/Controllers/Admin/EnrollmentController.php
  resources/js/pages/shared/enrollments/create.tsx
  tests/Browser/AdminRoutesSmokeTest.php
  tests/Browser/AuthRoutesSmokeTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Correct Inertia view paths in AdminSchoolYearController
  app/Http/Controllers/Admin/SchoolYearController.php
Due: php -l, ./vendor/bin/pint

fix: Correct all remaining Admin controller view paths
  app/Http/Controllers/Admin/DocumentController.php
  app/Http/Controllers/Admin/GuardianController.php
  app/Http/Controllers/Admin/ReceiptController.php
  app/Http/Controllers/Admin/SettingController.php
Due: php -l, ./vendor/bin/pint

test: Improve Admin smoke tests to detect console and network errors
  tests/Browser/AdminRoutesSmokeTest.php
  tests/Pest.php
Due: php -l, ./vendor/bin/pint

test: Add console error detection to all user type smoke tests
  tests/Browser/AuthRoutesSmokeTest.php
  tests/Browser/GuardianRoutesSmokeTest.php
  tests/Browser/PublicRoutesSmokeTest.php
  tests/Browser/RegistrarRoutesSmokeTest.php
  tests/Browser/SmokeTest.php
  tests/Browser/StudentRoutesSmokeTest.php
  tests/Browser/SuperAdminRoutesSmokeTest.php
Due: php -l, ./vendor/bin/pint

fix: Correct Inertia view paths in all Admin controllers (#607) (#619)
  app/Http/Controllers/Admin/DocumentController.php
  app/Http/Controllers/Admin/GuardianController.php
  app/Http/Controllers/Admin/ReceiptController.php
  app/Http/Controllers/Admin/SchoolYearController.php
  app/Http/Controllers/Admin/SettingController.php
  tests/Browser/AdminRoutesSmokeTest.php
  tests/Browser/AuthRoutesSmokeTest.php
  tests/Browser/GuardianRoutesSmokeTest.php
  tests/Browser/PublicRoutesSmokeTest.php
  tests/Browser/RegistrarRoutesSmokeTest.php
  tests/Browser/SmokeTest.php
  tests/Browser/StudentRoutesSmokeTest.php
  tests/Browser/SuperAdminRoutesSmokeTest.php
  tests/Pest.php
Due: php -l, ./vendor/bin/pint

fix: Make console error helpers compatible with Pest v4
  tests/Pest.php
Due: php -l, ./vendor/bin/pint

fix: Make console error helpers compatible with Pest v4 (#620)
  tests/Pest.php
Due: php -l, ./vendor/bin/pint

fix: Copy missing Admin React pages from super-admin
  resources/js/pages/admin/enrollment-periods/create.tsx
  resources/js/pages/admin/enrollment-periods/edit.tsx
  resources/js/pages/admin/enrollment-periods/show.tsx
  resources/js/pages/admin/enrollments/create.tsx
  resources/js/pages/admin/grade-level-fees/create.tsx
  resources/js/pages/admin/grade-level-fees/edit.tsx
  resources/js/pages/admin/grade-level-fees/show.tsx
  resources/js/pages/admin/invoices/index.tsx
  resources/js/pages/admin/payments/create.tsx
  resources/js/pages/admin/payments/edit.tsx
  resources/js/pages/admin/payments/show.tsx
  resources/js/pages/admin/receipts/create.tsx
  resources/js/pages/admin/receipts/edit.tsx
  resources/js/pages/admin/receipts/show.tsx
  resources/js/pages/admin/users/create.tsx
Due: prettier --write, eslint --fix

fix: Update Admin pages to use correct admin paths and component names
  resources/js/pages/admin/enrollment-periods/create.tsx
  resources/js/pages/admin/enrollment-periods/edit.tsx
  resources/js/pages/admin/enrollment-periods/show.tsx
  resources/js/pages/admin/enrollments/create.tsx
  resources/js/pages/admin/grade-level-fees/create.tsx
  resources/js/pages/admin/grade-level-fees/edit.tsx
  resources/js/pages/admin/grade-level-fees/show.tsx
  resources/js/pages/admin/invoices/index.tsx
  resources/js/pages/admin/payments/create.tsx
  resources/js/pages/admin/payments/edit.tsx
  resources/js/pages/admin/payments/show.tsx
  resources/js/pages/admin/receipts/create.tsx
  resources/js/pages/admin/receipts/edit.tsx
  resources/js/pages/admin/receipts/show.tsx
  resources/js/pages/admin/users/create.tsx
Due: prettier --write, eslint --fix

fix: Add missing Admin students create page
  resources/js/pages/admin/students/create.tsx
Due: prettier --write, eslint --fix

fix: Replace remaining super-admin route() calls with admin routes
  resources/js/pages/admin/invoices/index.tsx
  resources/js/pages/admin/receipts/edit.tsx
  resources/js/pages/admin/users/create.tsx
Due: prettier --write, eslint --fix

test: Skip Admin smoke tests for routes without controller methods
  tests/Browser/AdminRoutesSmokeTest.php
Due: php -l, ./vendor/bin/pint

feat: Add GuardianPolicy for authorization
  app/Policies/GuardianPolicy.php
Due: php -l, ./vendor/bin/pint

fix: Correct Admin ReportController Inertia render path
  app/Http/Controllers/Admin/ReportController.php
Due: php -l, ./vendor/bin/pint

fix: Fix Admin StudentController show and receipts create test
  app/Http/Controllers/Admin/StudentController.php
  tests/Browser/AdminRoutesSmokeTest.php
Due: php -l, ./vendor/bin/pint

fix: Use super-admin student show page and data structure for Admin
  app/Http/Controllers/Admin/StudentController.php
  resources/js/pages/admin/students/show.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Add missing CRUD methods to Admin controllers
  app/Http/Controllers/Admin/DocumentController.php
  app/Http/Controllers/Admin/GradeLevelFeeController.php
  app/Http/Controllers/Admin/PaymentController.php
  app/Http/Controllers/Admin/StudentController.php
  app/Http/Controllers/Admin/UserController.php
Due: php -l, ./vendor/bin/pint

test: Remove skip() from Admin smoke tests and update text expectations
  tests/Browser/AdminRoutesSmokeTest.php
Due: php -l, ./vendor/bin/pint

test: Fix text expectations for grade-level-fees and users create tests
  tests/Browser/AdminRoutesSmokeTest.php
Due: php -l, ./vendor/bin/pint

feat: Add GradeLevelFeePolicy and UserPolicy for authorization
  app/Policies/GradeLevelFeePolicy.php
  app/Policies/UserPolicy.php
Due: php -l, ./vendor/bin/pint

fix: Add missing columns.tsx for admin invoices index
  resources/js/pages/admin/invoices/columns.tsx
Due: prettier --write, eslint --fix

fix: Replace stub Admin pages with full implementations from super-admin
  app/Http/Controllers/Admin/AuditLogController.php
  app/Http/Controllers/Admin/GradeLevelFeeController.php
  app/Http/Controllers/Admin/InvoiceController.php
  app/Http/Controllers/Admin/PaymentController.php
  app/Http/Controllers/Admin/SchoolInformationController.php
  app/Http/Controllers/Admin/StudentController.php
  app/Http/Controllers/Admin/UserController.php
  resources/js/pages/admin/audit-logs/index.tsx
  resources/js/pages/admin/enrollment-periods/index.tsx
  resources/js/pages/admin/grade-level-fees/grade-level-fees-table.tsx
  resources/js/pages/admin/grade-level-fees/index.tsx
  resources/js/pages/admin/school-information/index.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Copy missing Admin React pages from super-admin (#622)
  app/Http/Controllers/Admin/AuditLogController.php
  app/Http/Controllers/Admin/DocumentController.php
  app/Http/Controllers/Admin/GradeLevelFeeController.php
  app/Http/Controllers/Admin/InvoiceController.php
  app/Http/Controllers/Admin/PaymentController.php
  app/Http/Controllers/Admin/ReportController.php
  app/Http/Controllers/Admin/SchoolInformationController.php
  app/Http/Controllers/Admin/StudentController.php
  app/Http/Controllers/Admin/UserController.php
  app/Policies/GradeLevelFeePolicy.php
  app/Policies/GuardianPolicy.php
  app/Policies/UserPolicy.php
  resources/js/pages/admin/audit-logs/index.tsx
  resources/js/pages/admin/enrollment-periods/create.tsx
  resources/js/pages/admin/enrollment-periods/edit.tsx
  resources/js/pages/admin/enrollment-periods/index.tsx
  resources/js/pages/admin/enrollment-periods/show.tsx
  resources/js/pages/admin/enrollments/create.tsx
  resources/js/pages/admin/grade-level-fees/create.tsx
  resources/js/pages/admin/grade-level-fees/edit.tsx
  resources/js/pages/admin/grade-level-fees/grade-level-fees-table.tsx
  resources/js/pages/admin/grade-level-fees/index.tsx
  resources/js/pages/admin/grade-level-fees/show.tsx
  resources/js/pages/admin/invoices/columns.tsx
  resources/js/pages/admin/invoices/index.tsx
  resources/js/pages/admin/payments/create.tsx
  resources/js/pages/admin/payments/edit.tsx
  resources/js/pages/admin/payments/show.tsx
  resources/js/pages/admin/receipts/create.tsx
  resources/js/pages/admin/receipts/edit.tsx
  resources/js/pages/admin/receipts/show.tsx
  resources/js/pages/admin/school-information/index.tsx
  resources/js/pages/admin/students/create.tsx
  resources/js/pages/admin/students/show.tsx
  resources/js/pages/admin/users/create.tsx
  tests/Browser/AdminRoutesSmokeTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Update smoke tests for all user types
  tests/Browser/GuardianRoutesSmokeTest.php
  tests/Browser/PublicRoutesSmokeTest.php
  tests/Browser/RegistrarRoutesSmokeTest.php
  tests/Browser/SuperAdminRoutesSmokeTest.php
Due: php -l, ./vendor/bin/pint

fix: Address smoke test failures across all user roles
  app/Http/Controllers/Registrar/StudentController.php
  resources/js/pages/registrar/documents/pending.tsx
  resources/js/pages/registrar/students/create.tsx
  resources/js/pages/super-admin/documents/pending.tsx
  tests/Browser/AdminRoutesSmokeTest.php
  tests/Browser/GuardianRoutesSmokeTest.php
  tests/Browser/RegistrarRoutesSmokeTest.php
  tests/Browser/SmokeTest.php
  tests/Browser/SuperAdminRoutesSmokeTest.php
  tests/Feature/Registrar/StudentControllerTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Create missing SuperAdmin pages and skip failing tests
  resources/js/pages/super-admin/reports/index.tsx
  resources/js/pages/super-admin/settings/index.tsx
  tests/Browser/GuardianRoutesSmokeTest.php
  tests/Browser/RegistrarRoutesSmokeTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Add SuperAdmin routes and controllers for reports, settings, and pending documents
  app/Http/Controllers/SuperAdmin/DocumentController.php
  app/Http/Controllers/SuperAdmin/ReportController.php
  app/Http/Controllers/SuperAdmin/SettingController.php
  routes/web.php
Due: php -l, ./vendor/bin/pint

fix: Remove duplicate SuperAdmin settings route
  app/Http/Controllers/SuperAdmin/SettingController.php
  resources/js/pages/super-admin/settings/index.tsx
  routes/web.php
  tests/Browser/SuperAdminRoutesSmokeTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Add afterEach hook to prevent root-owned test directories
  tests/Pest.php
Due: php -l, ./vendor/bin/pint

chore: Update skip reason for guardian enrollment edit test
  tests/Browser/GuardianRoutesSmokeTest.php
Due: php -l, ./vendor/bin/pint

security: Update Symfony to fix CVE-2025-64500
  composer.lock
Due: none

fix: Update smoke test text expectations and fix test issues (#623)
  app/Http/Controllers/Registrar/StudentController.php
  app/Http/Controllers/SuperAdmin/DocumentController.php
  app/Http/Controllers/SuperAdmin/ReportController.php
  composer.lock
  resources/js/pages/registrar/documents/pending.tsx
  resources/js/pages/registrar/students/create.tsx
  resources/js/pages/super-admin/documents/pending.tsx
  resources/js/pages/super-admin/reports/index.tsx
  routes/web.php
  tests/Browser/AdminRoutesSmokeTest.php
  tests/Browser/GuardianRoutesSmokeTest.php
  tests/Browser/RegistrarRoutesSmokeTest.php
  tests/Browser/SmokeTest.php
  tests/Browser/SuperAdminRoutesSmokeTest.php
  tests/Feature/Registrar/StudentControllerTest.php
  tests/Pest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Add registrar view-only permissions and complete sidebar navigation
  app/Policies/EnrollmentPeriodPolicy.php
  resources/js/components/sidebars/admin-sidebar.tsx
  resources/js/components/sidebars/guardian-sidebar.tsx
  resources/js/components/sidebars/registrar-sidebar.tsx
  resources/js/components/sidebars/student-sidebar.tsx
  resources/js/components/sidebars/super-admin-sidebar.tsx
  resources/js/pages/registrar/enrollment-periods/index.tsx
  resources/js/pages/registrar/enrollment-periods/show.tsx
  resources/js/pages/registrar/school-years/index.tsx
  resources/js/pages/registrar/school-years/show.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix
