Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

Add EnrollmentPeriod seeder
  database/seeders/DatabaseSeeder.php
  database/seeders/EnrollmentPeriodSeeder.php
Due: php -l, ./vendor/bin/pint

Fix: Include payment_terms in grade level fees unique validation
  app/Http/Requests/SuperAdmin/StoreGradeLevelFeeRequest.php
  app/Http/Requests/SuperAdmin/UpdateGradeLevelFeeRequest.php
Due: php -l, ./vendor/bin/pint

Add actual tuition fees from school with down payment support
  app/Models/GradeLevelFee.php
  database/migrations/2025_10_22_134504_add_down_payment_to_grade_level_fees_table.php
  database/seeders/GradeLevelFeeSeeder.php
  tuition-fees.csv
Due: php -l, ./vendor/bin/pint

Fix: Add Grades 4-6 and correct all tuition fees to match school documents
  database/seeders/GradeLevelFeeSeeder.php
Due: php -l, ./vendor/bin/pint

chore: add CSV files to gitignore and remove tuition fees data file
  .gitignore
  tuition-fees.csv
Due: none

Fix CI/CD: Remove duplicate workflow runs
  .github/workflows/ci.yml
Due: prettier --write

Add GradeLevelFeeSeeder to DatabaseSeeder
  database/seeders/DatabaseSeeder.php
Due: php -l, ./vendor/bin/pint

Fix: Change DatePicker to show both year and month dropdowns
  resources/js/components/ui/date-picker.tsx
Due: prettier --write, eslint --fix

feat: Implement email verification for public registration
  app/Http/Controllers/Auth/EmailVerificationPromptController.php
  app/Http/Controllers/Auth/RegisteredUserController.php
  app/Models/User.php
  app/Notifications/CustomVerifyEmailNotification.php
  resources/js/pages/auth/verify-email.tsx
  tests/Feature/Auth/RegistrationTest.php
  tests/Feature/Auth/VerificationNotificationTest.php
  tests/Feature/RegistrationTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Add PaymentSeeder to create payment records for enrollments
  database/seeders/DatabaseSeeder.php
  database/seeders/PaymentSeeder.php
Due: php -l, ./vendor/bin/pint

fix: Replace fake() with Faker instance in PaymentSeeder
  database/seeders/PaymentSeeder.php
Due: php -l, ./vendor/bin/pint

fix: Display receipt_number instead of payment_number in invoice payment history
  resources/js/pages/super-admin/invoices/show.tsx
Due: prettier --write, eslint --fix

feat: Enhance super-admin dashboard with quick actions and system management
  resources/js/components/super-admin-dashboard.tsx
Due: prettier --write, eslint --fix

feat: Add comprehensive stats to super-admin dashboard
  app/Http/Controllers/SuperAdmin/DashboardController.php
  resources/js/components/super-admin-dashboard.tsx
  resources/js/pages/super-admin/super-admin-dashboard.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Add comprehensive stats to admin dashboard
  app/Http/Controllers/Admin/DashboardController.php
  resources/js/components/super-admin-dashboard.tsx
  resources/js/pages/admin/dashboard.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

refactor: Create shared ComprehensiveDashboard component
  resources/js/components/comprehensive-dashboard.tsx
  resources/js/pages/admin/dashboard.tsx
  resources/js/pages/super-admin/super-admin-dashboard.tsx
Due: prettier --write, eslint --fix

feat: Add expanded dashboard with complete user journey metrics
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/SuperAdmin/DashboardController.php
  resources/js/components/expanded-dashboard.tsx
  resources/js/pages/admin/dashboard.tsx
  resources/js/pages/super-admin/super-admin-dashboard.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Add SchoolYear model and enrollment_id to documents
  app/Models/Document.php
  app/Models/SchoolYear.php
  database/migrations/2025_10_23_175755_create_school_years_table.php
  database/migrations/2025_10_23_175835_add_enrollment_id_to_documents_table.php
Due: php -l, ./vendor/bin/pint

feat: Add document verification metrics and school year seeder
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/SuperAdmin/DashboardController.php
  database/seeders/SchoolYearSeeder.php
  resources/js/components/document-metrics.tsx
  resources/js/pages/admin/dashboard.tsx
  resources/js/pages/super-admin/super-admin-dashboard.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix
