Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

Add Pest v4 browser tests for Registrar happy path
  tests/Browser/RegistrarBrowserTest.php
Due: php -l, ./vendor/bin/pint

Fix null middle_name bug and add student list browser tests
  resources/js/pages/registrar/students/students-table.tsx
  tests/Browser/RegistrarBrowserTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Add Pest v4 browser tests for Registrar workflows (#571)
  resources/js/pages/registrar/students/students-table.tsx
  tests/Browser/RegistrarBrowserTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix: InvoiceControllerTest failures for guardian invoices
  tests/Feature/Guardian/InvoiceControllerTest.php
Due: php -l, ./vendor/bin/pint

Feat: Implement enrollment status filtering for SuperAdmin and Registrar student lists
  app/Http/Controllers/Registrar/StudentController.php
  app/Http/Controllers/SuperAdmin/StudentController.php
Due: php -l, ./vendor/bin/pint

fix: Replace manual Role::create() with RolesAndPermissionsSeeder in 12 test files
  tests/Feature/ActivityLogTest.php
  tests/Feature/Admin/EnrollmentPeriodControllerTest.php
  tests/Feature/Admin/ReportControllerTest.php
  tests/Feature/Guardian/DashboardControllerTest.php
  tests/Feature/Guardian/DocumentControllerTest.php
  tests/Feature/Guardian/InvoiceControllerTest.php
  tests/Feature/Models/ReceiptTest.php
  tests/Feature/Registrar/DocumentControllerTest.php
  tests/Feature/Settings/NotificationPreferenceControllerTest.php
  tests/Feature/SuperAdmin/EnrollmentPeriodControllerTest.php
  tests/Feature/SuperAdmin/SchoolInformationTest.php
  tests/Feature/UpdateEnrollmentPeriodStatusCommandTest.php
Due: php -l, ./vendor/bin/pint

Fix: Resolve invoice and student controller test failures and update variable name
  app/Http/Controllers/InvoiceController.php
  tests/Feature/Guardian/InvoiceControllerTest.php
  tests/Feature/Registrar/StudentControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: Add RolesAndPermissionsSeeder to all test files using RefreshDatabase
  tests/Feature/Api/EnrollmentPeriodControllerTest.php
  tests/Feature/Console/CacheSettingsCommandTest.php
  tests/Feature/EnrollmentPeriodModelTest.php
  tests/Feature/Models/SettingTest.php
  tests/Feature/Services/BaseServiceTest.php
  tests/Feature/Services/EmailNotificationTest.php
Due: php -l, ./vendor/bin/pint

fix: Replace DatabaseMigrations with RefreshDatabase in RegistrarHappyPathTest
  tests/Feature/Registrar/RegistrarHappyPathTest.php
Due: php -l, ./vendor/bin/pint

fix: Add parallel testing database isolation for SQLite
  phpunit.xml
  tests/TestCase.php
Due: php -l, ./vendor/bin/pint

fix: Ensure database synchronization before HTTP requests in parallel tests
  tests/Feature/Registrar/RegistrarHappyPathTest.php
Due: php -l, ./vendor/bin/pint

fix: Remove 2 flaky parallel tests from RegistrarHappyPathTest
  tests/Feature/Registrar/RegistrarHappyPathTest.php
Due: php -l, ./vendor/bin/pint

Registrar Browser Tests + Bug Fix: Add 10 passing browser tests and fix null middle_name error (#570)
  phpunit.xml
  resources/js/pages/registrar/students/students-table.tsx
  tests/Browser/RegistrarBrowserTest.php
  tests/Feature/ActivityLogTest.php
  tests/Feature/Admin/EnrollmentPeriodControllerTest.php
  tests/Feature/Admin/ReportControllerTest.php
  tests/Feature/Api/EnrollmentPeriodControllerTest.php
  tests/Feature/Console/CacheSettingsCommandTest.php
  tests/Feature/EnrollmentPeriodModelTest.php
  tests/Feature/Guardian/DashboardControllerTest.php
  tests/Feature/Guardian/DocumentControllerTest.php
  tests/Feature/Guardian/InvoiceControllerTest.php
  tests/Feature/Models/ReceiptTest.php
  tests/Feature/Models/SettingTest.php
  tests/Feature/Registrar/DocumentControllerTest.php
  tests/Feature/Registrar/RegistrarHappyPathTest.php
  tests/Feature/Services/BaseServiceTest.php
  tests/Feature/Services/EmailNotificationTest.php
  tests/Feature/Settings/NotificationPreferenceControllerTest.php
  tests/Feature/SuperAdmin/EnrollmentPeriodControllerTest.php
  tests/Feature/SuperAdmin/SchoolInformationTest.php
  tests/Feature/UpdateEnrollmentPeriodStatusCommandTest.php
  tests/TestCase.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Refactor enrollment fee calculation and balance updates
  app/Console/Commands/RecalculateEnrollmentBalances.php
  app/Http/Controllers/Guardian/DocumentController.php
  app/Http/Controllers/Registrar/EnrollmentController.php
  app/Models/Enrollment.php
  app/Observers/EnrollmentObserver.php
  app/Observers/PaymentObserver.php
  config/filesystems.php
  resources/js/pages/registrar/enrollments/show.tsx
  resources/js/pages/registrar/students/index.tsx
  resources/js/pages/registrar/students/students-table.tsx
  tests/Feature/EnrollmentTest.php
  tests/Feature/Guardian/DocumentControllerTest.php
  tests/Feature/Observers/EnrollmentObserverTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

chore: Remove experimental parallel testing configuration
  phpunit.xml
  tests/TestCase.php
Due: php -l, ./vendor/bin/pint

feat: Add registrar document download access (#553)
  app/Http/Controllers/Registrar/EnrollmentController.php
  dev.sh
  routes/web.php
  tests/Browser/Registrar/DocumentDownloadTest.php
Due: php -l, ./vendor/bin/pint

chore: Remove experimental parallel testing configuration (#576)
  phpunit.xml
  tests/TestCase.php
Due: php -l, ./vendor/bin/pint

feat: Add registrar document download access (#553) (#577)
  app/Http/Controllers/Registrar/EnrollmentController.php
  dev.sh
  routes/web.php
  tests/Browser/Registrar/DocumentDownloadTest.php
Due: php -l, ./vendor/bin/pint

fix: Add missing Cache facade import
  app/Http/Controllers/Public/AboutController.php
  app/Http/Controllers/Public/LandingController.php
  app/Http/Controllers/SuperAdmin/SchoolInformationController.php
  app/Http/Requests/SuperAdmin/StoreSettingRequest.php
  app/Http/Requests/SuperAdmin/UpdateSettingRequest.php
  resources/js/pages/public/about.tsx
  resources/js/pages/public/landing.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Remove hardcoded school information
  resources/js/pages/public/about.tsx
  resources/js/pages/public/landing.tsx
Due: prettier --write, eslint --fix

fix: Add RefreshDatabase trait to failing tests
  tests/Feature/ExampleTest.php
  tests/Feature/Http/Controllers/Public/AboutControllerTest.php
  tests/Feature/Http/Controllers/Public/LandingControllerTest.php
Due: php -l, ./vendor/bin/pint

feat: Improve student update and fix UI bugs
  app/Http/Controllers/SuperAdmin/StudentController.php
  app/Http/Requests/SuperAdmin/UpdateStudentRequest.php
  resources/js/components/ui/confirmation-dialog.tsx
  resources/js/pages/super-admin/students/edit.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Improve superadmin student update and fix UI bugs
  app/Http/Controllers/SuperAdmin/StudentController.php
  app/Http/Controllers/TuitionController.php
  app/Http/Requests/SuperAdmin/UpdateStudentRequest.php
  resources/js/components/ui/confirmation-dialog.tsx
  resources/js/pages/shared/tuition.tsx
  resources/js/pages/super-admin/receipts/edit.tsx
  resources/js/pages/super-admin/students/edit.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Implement dedicated guardian billing modules and fix notification redirect
  app/Http/Controllers/Guardian/BillingController.php
  app/Http/Controllers/Guardian/PaymentController.php
  app/Http/Controllers/Guardian/ReceiptController.php
  app/Http/Controllers/NotificationController.php
  app/Notifications/ReceiptGeneratedNotification.php
  app/Policies/PaymentPolicy.php
  app/Policies/ReceiptPolicy.php
  guardian_commit_message.txt
  resources/js/components/app-sidebar.tsx
  resources/js/components/nav-main.tsx
  resources/js/components/sidebars/admin-sidebar.tsx
  resources/js/components/sidebars/guardian-sidebar.tsx
  resources/js/components/sidebars/registrar-sidebar.tsx
  resources/js/components/sidebars/student-sidebar.tsx
  resources/js/components/sidebars/super-admin-sidebar.tsx
  resources/js/pages/guardian/billing/show.tsx
  resources/js/pages/guardian/payments/index.tsx
  resources/js/pages/guardian/receipts/index.tsx
  resources/js/pages/guardian/receipts/show.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix: Resolve document deletion and receipt policy issues
  app/Http/Controllers/Guardian/DocumentController.php
  app/Policies/ReceiptPolicy.php
  resources/js/components/ui/data-table.tsx
  resources/js/pages/admin/enrollments/index.tsx
  resources/js/pages/guardian/enrollments/index.tsx
  resources/js/pages/guardian/invoices/index.tsx
  resources/js/pages/guardian/payments/index.tsx
  resources/js/pages/guardian/receipts/index.tsx
  resources/js/pages/super-admin/enrollments/index.tsx
  resources/js/pages/super-admin/invoices/index.tsx
  resources/js/pages/super-admin/payments/index.tsx
  resources/js/pages/super-admin/receipts/index.tsx
  resources/js/pages/super-admin/school-years/index.tsx
  resources/js/pages/super-admin/settings/index.tsx
  tests/Feature/DocumentSecurityTest.php
  tests/Feature/Guardian/DocumentControllerTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix
