Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Complete GradeLevelFee refactor to use enrollment_period_id
  app/Models/GradeLevelFee.php
  app/Services/EnrollmentService.php
  database/factories/GradeLevelFeeFactory.php
  database/migrations/2025_10_25_032013_refactor_grade_level_fee_to_belong_to_enrollment_period.php
  tests/Feature/GradeLevelFeeTest.php
  tests/Feature/Guardian/EnrollmentPeriodValidationTest.php
  tests/Feature/Observers/EnrollmentObserverTest.php
Due: php -l, ./vendor/bin/pint

feat: Implement admin email verification notifications (Issue #297)
  app/Events/UserEmailVerified.php
  app/Http/Controllers/Auth/VerifyEmailController.php
  app/Http/Controllers/SuperAdmin/DashboardController.php
  app/Listeners/SendEmailVerificationNotifications.php
  app/Models/EmailVerificationEvent.php
  app/Notifications/UserEmailVerifiedNotification.php
  database/migrations/2025_10_25_220516_create_email_verification_events_table.php
  tests/Feature/EmailVerificationNotificationTest.php
Due: php -l, ./vendor/bin/pint

fix: Add PHPStan ignore comment for map closure type resolution
  app/Http/Controllers/SuperAdmin/DashboardController.php
Due: php -l, ./vendor/bin/pint

fix: Replace fake() with $this->faker in all factory files
  database/factories/DocumentFactory.php
  database/factories/EnrollmentPeriodFactory.php
  database/factories/GradeLevelFeeFactory.php
  database/factories/GuardianFactory.php
  database/factories/InvoiceFactory.php
  database/factories/NotificationPreferenceFactory.php
  database/factories/PaymentFactory.php
  database/factories/ReceiptFactory.php
  database/factories/StudentFactory.php
Due: php -l, ./vendor/bin/pint

feat: Add create student page and button to students index
  resources/js/pages/super-admin/students/create.tsx
  resources/js/pages/super-admin/students/index.tsx
Due: prettier --write, eslint --fix

feat: Add complete SchoolYear CRUD for Super Admin with navigation
  app/Http/Controllers/SuperAdmin/SchoolYearController.php
  app/Http/Requests/SuperAdmin/StoreSchoolYearRequest.php
  app/Http/Requests/SuperAdmin/UpdateSchoolYearRequest.php
  app/Policies/SchoolYearPolicy.php
  resources/js/components/sidebars/super-admin-sidebar.tsx
  resources/js/pages/super-admin/school-years/create.tsx
  resources/js/pages/super-admin/school-years/edit.tsx
  resources/js/pages/super-admin/school-years/index.tsx
  resources/js/pages/super-admin/school-years/show.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Correct route parameter format in SchoolYear edit form
  resources/js/pages/super-admin/school-years/edit.tsx
Due: prettier --write, eslint --fix

feat: Add complete Document management CRUD for Super Admin with navigation
  app/Http/Controllers/SuperAdmin/DocumentController.php
  app/Http/Requests/SuperAdmin/RejectDocumentRequest.php
  resources/js/components/sidebars/super-admin-sidebar.tsx
  resources/js/pages/super-admin/documents/index.tsx
  resources/js/pages/super-admin/documents/show.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Add complete Receipt CRUD for Super Admin with navigation
  app/Http/Controllers/SuperAdmin/ReceiptController.php
  app/Http/Requests/SuperAdmin/StoreReceiptRequest.php
  app/Http/Requests/SuperAdmin/UpdateReceiptRequest.php
  app/Policies/ReceiptPolicy.php
  resources/js/components/sidebars/super-admin-sidebar.tsx
  resources/js/pages/super-admin/receipts/create.tsx
  resources/js/pages/super-admin/receipts/edit.tsx
  resources/js/pages/super-admin/receipts/index.tsx
  resources/js/pages/super-admin/receipts/show.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Add complete Setting CRUD for Super Admin with navigation
  app/Http/Controllers/SuperAdmin/SettingController.php
  app/Http/Requests/SuperAdmin/StoreSettingRequest.php
  app/Http/Requests/SuperAdmin/UpdateSettingRequest.php
  app/Models/Setting.php
  app/Policies/SettingPolicy.php
  resources/js/components/sidebars/super-admin-sidebar.tsx
  resources/js/pages/super-admin/settings/create.tsx
  resources/js/pages/super-admin/settings/edit.tsx
  resources/js/pages/super-admin/settings/index.tsx
  resources/js/pages/super-admin/settings/show.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Add policy tests for Receipt and SchoolYear (WIP)
  tests/Unit/Policies/ReceiptPolicyTest.php
  tests/Unit/Policies/SchoolYearPolicyTest.php
Due: php -l, ./vendor/bin/pint

Add tests for files with 0% coverage to exceed 60% threshold
  tests/Feature/Models/InvoiceItemTest.php
  tests/Feature/Models/PaymentReminderTest.php
  tests/Feature/Notifications/EnrollmentApprovedNotificationTest.php
  tests/Feature/Notifications/NewEnrollmentForReviewNotificationTest.php
  tests/Feature/Policies/ReceiptPolicyTest.php
  tests/Feature/Policies/SchoolYearPolicyTest.php
Due: php -l, ./vendor/bin/pint

test: Add comprehensive tests for StoreReceiptRequest and StoreSchoolYearRequest
  tests/Unit/Http/Requests/SuperAdmin/StoreReceiptRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/StoreSchoolYearRequestTest.php
Due: php -l, ./vendor/bin/pint

test: Add comprehensive tests for StoreGradeLevelFeeRequest, StoreGuardianRequest, StoreInvoiceRequest, and StorePaymentRequest
  tests/Unit/Http/Requests/SuperAdmin/StoreGradeLevelFeeRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/StoreGuardianRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/StoreInvoiceRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/StorePaymentRequestTest.php
Due: php -l, ./vendor/bin/pint

fix: Correct validation rules for student create/update forms (#323)
  app/Http/Requests/SuperAdmin/StoreStudentRequest.php
  app/Http/Requests/SuperAdmin/UpdateStudentRequest.php
  tests/Unit/Http/Requests/SuperAdmin/StoreStudentRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/UpdateStudentRequestTest.php
Due: php -l, ./vendor/bin/pint

fix: Add proper Inertia options to student delete operation (#324)
  resources/js/pages/super-admin/students/columns.tsx
Due: prettier --write, eslint --fix

fix: Add auto-filtering for enrollments status, grade, and school year (#326)
  resources/js/pages/super-admin/enrollments/index.tsx
Due: prettier --write, eslint --fix

feat: Add site-wide toast notification system (#327)
  resources/js/app.tsx
  resources/js/components/ui/sonner.tsx
Due: prettier --write, eslint --fix

feat: Add reusable ConfirmationDialog component (#328)
  resources/js/components/ui/confirmation-dialog.tsx
Due: prettier --write, eslint --fix

feat: Add CRUD feedback to Enrollments (#329)
  resources/js/app.tsx
  resources/js/components/ui/confirmation-dialog.tsx
  resources/js/components/ui/sonner.tsx
  resources/js/pages/guardian/enrollments/edit.tsx
  resources/js/pages/super-admin/enrollments/columns.tsx
Due: prettier --write, eslint --fix

feat: Add CRUD feedback to Students (#330)
  resources/js/app.tsx
  resources/js/components/ui/confirmation-dialog.tsx
  resources/js/components/ui/sonner.tsx
  resources/js/pages/super-admin/students/columns.tsx
Due: prettier --write, eslint --fix

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
