Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

Fix #481, #545: Refactor reporting backend to use string-based grade_level schema (#547)
  app/Http/Controllers/Admin/ReportController.php
  routes/web.php
  tests/Feature/Admin/ReportControllerTest.php
Due: php -l, ./vendor/bin/pint

Add script to fix wayfinder:generate permissions
  scripts/fix-permissions.sh
Due: none

refactor: Ensure consistent status colors across all user roles
  resources/js/components/status-badges/EnrollmentPeriodStatusBadge.tsx
  resources/js/components/status-badges/SchoolYearStatusBadge.tsx
  resources/js/components/status-badges/index.ts
  resources/js/pages/guardian/billing/billing-module.tsx
  resources/js/pages/guardian/enrollments/index.tsx
  resources/js/pages/guardian/enrollments/show.tsx
  resources/js/pages/guardian/students/columns.tsx
  resources/js/pages/guardian/students/guardian-dashboard.tsx
  resources/js/pages/guardian/students/show.tsx
  resources/js/pages/registrar/enrollments/enrollments-table.tsx
  resources/js/pages/registrar/enrollments/show.tsx
  resources/js/pages/registrar/students/students-table.tsx
  resources/js/pages/student/dashboard.tsx
  resources/js/pages/super-admin/enrollment-periods/index.tsx
  resources/js/pages/super-admin/enrollment-periods/show.tsx
  resources/js/pages/super-admin/school-years/index.tsx
  resources/js/pages/super-admin/students/columns.tsx
  resources/js/pages/super-admin/students/enrollments.tsx
Due: prettier --write, eslint --fix

Add document download functionality for Registrar/Admin
  app/Http/Controllers/Admin/DocumentController.php
  app/Http/Controllers/Registrar/DocumentController.php
  app/Http/Controllers/SuperAdmin/DocumentController.php
  routes/web.php
Due: php -l, ./vendor/bin/pint

Add document download functionality for Registrar/Admin (#554)
  app/Http/Controllers/Admin/DocumentController.php
  app/Http/Controllers/Registrar/DocumentController.php
  app/Http/Controllers/SuperAdmin/DocumentController.php
  routes/web.php
Due: php -l, ./vendor/bin/pint

feat: Implement proper billing notification and invoice generation flow
  app/Http/Controllers/NotificationController.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Notifications/EnrollmentApprovedNotification.php
  app/Notifications/InvoiceCreatedNotification.php
  app/Observers/InvoiceObserver.php
  app/Services/EnrollmentService.php
  composer.json
  composer.lock
  resources/js/pages/guardian/billing/billing-module.tsx
  resources/views/app.blade.php
  tests/Feature/Http/Controllers/NotificationControllerTest.php
  tests/Feature/Http/Controllers/Public/AboutControllerTest.php
  tests/Feature/Http/Controllers/Public/ApplicationControllerTest.php
  tests/Feature/Http/Controllers/Public/LandingControllerTest.php
  tests/Feature/Services/EnrollmentServiceTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix #528: Change Guardian DocumentController index to return Inertia page instead of JSON
  app/Http/Controllers/Guardian/DocumentController.php
Due: php -l, ./vendor/bin/pint

Update DocumentControllerTest to expect Inertia response instead of JSON
  tests/Feature/Guardian/DocumentControllerTest.php
Due: php -l, ./vendor/bin/pint

Fix #528: Guardian DocumentController index returns Inertia page instead of JSON (#557)
  app/Http/Controllers/Guardian/DocumentController.php
  tests/Feature/Guardian/DocumentControllerTest.php
Due: php -l, ./vendor/bin/pint

feat: Implement proper billing notification and invoice generation flow
  app/Http/Controllers/Guardian/BillingController.php
  app/Http/Controllers/Guardian/EnrollmentController.php
  app/Http/Controllers/NotificationController.php
  app/Http/Controllers/SuperAdmin/InvoiceController.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Models/Enrollment.php
  app/Notifications/EnrollmentApprovedNotification.php
  app/Notifications/InvoiceCreatedNotification.php
  app/Observers/InvoiceObserver.php
  app/Observers/PaymentObserver.php
  app/Services/EnrollmentService.php
  composer.json
  composer.lock
  database/factories/EnrollmentFactory.php
  resources/js/pages/guardian/billing/billing-module.tsx
  resources/js/pages/guardian/billing/show.tsx
  resources/js/pages/guardian/enrollments/show.tsx
  resources/views/app.blade.php
  tests/Feature/Guardian/BillingControllerTest.php
  tests/Feature/Http/Controllers/NotificationControllerTest.php
  tests/Feature/Http/Controllers/Public/AboutControllerTest.php
  tests/Feature/Http/Controllers/Public/ApplicationControllerTest.php
  tests/Feature/Http/Controllers/Public/LandingControllerTest.php
  tests/Feature/Services/EnrollmentServiceTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Implement guardian invoice view and tuition page enhancements
  app/Http/Controllers/Guardian/InvoiceController.php
  app/Http/Controllers/Registrar/EnrollmentController.php
  app/Http/Controllers/SuperAdmin/PaymentController.php
  app/Http/Controllers/TuitionController.php
  app/Models/Enrollment.php
  app/Services/EnrollmentService.php
  resources/js/pages/guardian/invoices/index.tsx
  resources/js/pages/shared/tuition.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Add happy path tests for Guardian Dashboard and Invoice controllers
  tests/Feature/Guardian/DashboardControllerTest.php
  tests/Feature/Guardian/InvoiceControllerTest.php
Due: php -l, ./vendor/bin/pint

Add happy path tests for Guardian Dashboard and Invoice controllers (#561)
  tests/Feature/Guardian/DashboardControllerTest.php
  tests/Feature/Guardian/InvoiceControllerTest.php
Due: php -l, ./vendor/bin/pint

Fix: Remove duplicated code in BillingControllerTest.php\n\nFeat: Guardian invoice and tuition enhancements.
  database/seeders/PaymentSeeder.php
  tests/Feature/BillingControllerTest.php
  tests/Feature/TuitionControllerTest.php
Due: php -l, ./vendor/bin/pint

Improve DocumentController test coverage from 56.3% to 80.6%
  tests/Feature/Guardian/DocumentControllerTest.php
Due: php -l, ./vendor/bin/pint

Fix: Correctly retrieve and paginate enrollments in InvoiceController index method.
  app/Http/Controllers/InvoiceController.php
Due: php -l, ./vendor/bin/pint

Refactor: Rename BillingControllerTest to InvoiceControllerTest and update class name.
  tests/Feature/Guardian/InvoiceControllerTest.php
Due: php -l, ./vendor/bin/pint

feat: Implement Peso currency display
  app/Casts/MoneyCast.php
  app/Services/CurrencyService.php
  resources/js/components/comprehensive-dashboard.tsx
  resources/js/components/expanded-dashboard.tsx
  resources/js/lib/format-currency.ts
  resources/js/pages/shared/invoice.tsx
  resources/js/pages/super-admin/receipts/create.tsx
  resources/js/pages/super-admin/receipts/edit.tsx
  resources/js/pages/super-admin/receipts/index.tsx
  resources/js/pages/super-admin/receipts/show.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Improve DocumentController test coverage from 56.3% to 80.6% (#563)
  tests/Feature/Guardian/DocumentControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: Update InvoiceController tests to match API changes
  tests/Feature/Guardian/InvoiceControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: Update InvoiceController tests to match API changes (#568)
  tests/Feature/Guardian/InvoiceControllerTest.php
Due: php -l, ./vendor/bin/pint

fix(#559): Prevent registration failure when email verification fails
  app/Http/Controllers/Auth/RegisteredUserController.php
Due: php -l, ./vendor/bin/pint

fix(#559): Prevent registration failure when email verification fails (#569)
  app/Http/Controllers/Auth/RegisteredUserController.php
Due: php -l, ./vendor/bin/pint

Add comprehensive feature tests for Registrar happy path
  tests/Feature/Registrar/RegistrarHappyPathTest.php
Due: php -l, ./vendor/bin/pint
