Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: Restore parallel flag in pre-push coverage test
  .husky/pre-push
Due: none

feat: Implement full CRUD for Registrar and fix bugs
  app/Http/Controllers/Registrar/DocumentController.php
  app/Http/Controllers/Registrar/InvoiceController.php
  app/Http/Controllers/Registrar/PaymentController.php
  app/Http/Controllers/Registrar/ReceiptController.php
  app/Http/Requests/SuperAdmin/StoreInvoiceRequest.php
  app/Http/Requests/SuperAdmin/StorePaymentRequest.php
  app/Http/Requests/SuperAdmin/StoreReceiptRequest.php
  app/Http/Requests/SuperAdmin/UpdateInvoiceRequest.php
  app/Http/Requests/SuperAdmin/UpdatePaymentRequest.php
  app/Policies/DocumentPolicy.php
  app/Policies/InvoicePolicy.php
  app/Policies/ReceiptPolicy.php
  resources/js/components/sidebars/registrar-sidebar.tsx
  resources/js/pages/registrar/documents/index.tsx
  resources/js/pages/registrar/documents/pending.tsx
  resources/js/pages/registrar/documents/show.tsx
  resources/js/pages/registrar/invoices/create.tsx
  resources/js/pages/registrar/invoices/edit.tsx
  resources/js/pages/registrar/invoices/index.tsx
  resources/js/pages/registrar/invoices/show.tsx
  resources/js/pages/registrar/payments/columns.tsx
  resources/js/pages/registrar/payments/edit.tsx
  resources/js/pages/registrar/payments/index.tsx
  resources/js/pages/registrar/payments/show.tsx
  resources/js/pages/registrar/receipts/edit.tsx
  resources/js/pages/registrar/receipts/index.tsx
  routes/web.php
  tests/Feature/Policies/ReceiptPolicyTest.php
  tests/Feature/Registrar/DocumentControllerTest.php
  tests/Unit/Http/Requests/SuperAdmin/StoreInvoiceRequestTest.php
  tests/Unit/Http/Requests/SuperAdmin/StoreReceiptRequestTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

refactor: Remove redundant browser smoke test step
  .husky/pre-push
Due: none

fix: Run browser tests serially to avoid parallel conflicts
  .husky/pre-push
Due: none

fix: Configure browser tests to use MySQL instead of SQLite
  .husky/pre-push
Due: none

test: Add unit tests for enums and policies with 0% coverage
  app/Models/Setting.php
  database/factories/SettingFactory.php
  tests/Feature/Policies/PaymentPolicyTest.php
  tests/Feature/Policies/SettingPolicyTest.php
  tests/Unit/Enums/EnrollmentPeriodStatusTest.php
  tests/Unit/Enums/GenderTest.php
  tests/Unit/Enums/VerificationStatusTest.php
Due: php -l, ./vendor/bin/pint

test: Add DocumentTypeTest for enum with 0% coverage
  tests/Unit/Enums/DocumentTypeTest.php
Due: php -l, ./vendor/bin/pint

test: Add comprehensive tests for InvoiceStatus and PaymentMethod enums
  tests/Unit/Enums/InvoiceStatusTest.php
  tests/Unit/Enums/PaymentMethodTest.php
Due: php -l, ./vendor/bin/pint

test: Additional tests to improve code coverage to 60%
  deploy.sh
Due: none

test: Add comprehensive StudentPolicy tests (17 tests covering viewAny, view, and create)
  tests/Feature/Policies/StudentPolicyTest.php
Due: php -l, ./vendor/bin/pint

test: Add comprehensive StudentPolicy tests for update, delete, restore, and forceDelete methods (39 total tests)
  tests/Feature/Policies/StudentPolicyTest.php
Due: php -l, ./vendor/bin/pint

test: Add EnrollmentSubmittedNotification tests (4 tests for via, toMail, toArray methods)
  tests/Feature/Notifications/EnrollmentSubmittedNotificationTest.php
Due: php -l, ./vendor/bin/pint

ci: Exclude Browser tests from CI pipeline (Playwright not installed)
  .github/workflows/ci.yml
Due: prettier --write

chore: Reduce coverage requirement from 60% to 50% in pre-push hook and CI
  .github/workflows/ci.yml
  .husky/pre-push
Due: prettier --write

ci: Add build output verification to diagnose Vite manifest issues
  .github/workflows/ci.yml
Due: prettier --write

ci: Temporarily exclude DocumentControllerTest due to pre-existing Vite manifest issue
  .github/workflows/ci.yml
Due: prettier --write

ci: Exclude vite-dependent tests from CI using --exclude-group
  .github/workflows/ci.yml
  tests/Feature/Registrar/DocumentControllerTest.php
Due: php -l, ./vendor/bin/pint, prettier --write

ci: Exclude vite-dependent tests from pre-push hook
  .husky/pre-push
Due: none

feat: Add school logo to downloadable PDF documents
  resources/views/pdf/enrollment-certificate.blade.php
  resources/views/pdf/invoice.blade.php
  resources/views/pdf/payment-history.blade.php
  resources/views/pdf/payment-receipt.blade.php
Due: php -l, ./vendor/bin/pint

test: Add comprehensive smoke tests and improve code coverage (#602)
  .github/workflows/ci.yml
  .husky/pre-push
  app/Models/Setting.php
  database/factories/SettingFactory.php
  deploy.sh
  phpunit.xml
  tests/Browser/AdminRoutesSmokeTest.php
  tests/Browser/AuthRoutesSmokeTest.php
  tests/Browser/GuardianRoutesSmokeTest.php
  tests/Browser/PublicRoutesSmokeTest.php
  tests/Browser/RegistrarRoutesSmokeTest.php
  tests/Browser/StudentRoutesSmokeTest.php
  tests/Browser/SuperAdminRoutesSmokeTest.php
  tests/Feature/Notifications/EnrollmentSubmittedNotificationTest.php
  tests/Feature/Policies/PaymentPolicyTest.php
  tests/Feature/Policies/SettingPolicyTest.php
  tests/Feature/Policies/StudentPolicyTest.php
  tests/Feature/Registrar/DocumentControllerTest.php
  tests/Unit/Enums/DocumentTypeTest.php
  tests/Unit/Enums/EnrollmentPeriodStatusTest.php
  tests/Unit/Enums/GenderTest.php
  tests/Unit/Enums/InvoiceStatusTest.php
  tests/Unit/Enums/PaymentMethodTest.php
  tests/Unit/Enums/VerificationStatusTest.php
Due: php -l, ./vendor/bin/pint, prettier --write

feat: Improve student report and guardian enrollment search
  app/Http/Controllers/Guardian/EnrollmentController.php
  app/Http/Controllers/StudentReportController.php
  app/Http/Requests/SuperAdmin/StoreReceiptRequest.php
  resources/js/pages/admin/receipts/create.tsx
  resources/js/pages/guardian/billing/billing-module.tsx
  resources/js/pages/registrar/invoices/create.tsx
  resources/js/pages/registrar/invoices/edit.tsx
  resources/js/pages/registrar/receipts/create.tsx
  resources/js/pages/shared/studentreport.tsx
  resources/js/pages/super-admin/invoices/create.tsx
  resources/js/pages/super-admin/invoices/edit.tsx
  resources/js/pages/super-admin/receipts/create.tsx
  storage/app/.gitignore
  storage/app/private/.gitignore
  storage/app/public/.gitignore
  storage/framework/.gitignore
  storage/framework/cache/.gitignore
  storage/framework/cache/data/.gitignore
  storage/framework/sessions/.gitignore
  storage/framework/testing/.gitignore
  storage/framework/views/.gitignore
  storage/logs/.gitignore
  tests/Feature/StudentReportControllerTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Refactor: Update UserSeeder for superadmin role
  database/seeders/UserSeeder.php
Due: php -l, ./vendor/bin/pint

fix: Register Laravel's email verification listener for Registered event
  app/Providers/AppServiceProvider.php
Due: php -l, ./vendor/bin/pint

feat: Consolidate settings and improve UI/UX
  app/Http/Controllers/Guardian/BillingController.php
  app/Http/Controllers/Guardian/DashboardController.php
  app/Http/Controllers/SuperAdmin/SettingController.php
  app/Providers/AppServiceProvider.php
  resources/js/components/notifications/notification-item.tsx
  resources/js/components/sidebars/super-admin-sidebar.tsx
  resources/js/pages/guardian/billing/show.tsx
  resources/js/pages/guardian/dashboard.tsx
  resources/js/pages/super-admin/settings/create.tsx
  resources/js/pages/super-admin/settings/edit.tsx
  resources/js/pages/super-admin/settings/index.tsx
  resources/js/pages/super-admin/settings/show.tsx
  resources/js/pages/super-admin/super-admin-dashboard.tsx
  routes/web.php
  tests/Browser/AdminRoutesSmokeTest.php
  tests/Browser/AuthRoutesSmokeTest.php
  tests/Browser/SuperAdminRoutesSmokeTest.php
  tests/Browser/UpdateEnrollmentStatusTest.php
  tests/Feature/Guardian/BillingControllerTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Register Laravel's email verification listener for Registered event (#614)
  app/Providers/AppServiceProvider.php
Due: php -l, ./vendor/bin/pint

feat: Add Redis service to Docker Compose for Laravel Horizon
  docker-compose.yml
Due: prettier --write

feat: Add Redis service to Docker Compose for Laravel Horizon (#615)
  docker-compose.yml
Due: prettier --write

fix: Align pre-push hook with CI configuration
  .husky/pre-push
Due: none

fix: Align pre-push hook with CI configuration (#616)
  .husky/pre-push
Due: none

fix: Disable HTML coverage generation to prevent parallel test cleanup errors
  phpunit.xml
  storage/framework/testing/.gitignore
Due: none
