Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: correct GuardianStudent relationship and test guardian FK references
  app/Models/GuardianStudent.php
  tests/Feature/Registrar/StudentControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: correct all GuardianStudent FK references in tests to use Guardian model IDs
  tests/Feature/BillingControllerTest.php
  tests/Feature/EnrollmentPendingConstraintTest.php
  tests/Feature/Guardian/BillingControllerTest.php
  tests/Feature/Guardian/EnrollmentControllerTest.php
  tests/Feature/GuardianModelTest.php
  tests/Feature/TuitionControllerTest.php
Due: php -l, ./vendor/bin/pint

feat(documents): implement document upload backend (TICKET-002)
  app/Http/Controllers/Guardian/DocumentController.php
  app/Http/Requests/StoreDocumentRequest.php
  app/Policies/StudentPolicy.php
  routes/web.php
  tests/Feature/Guardian/DocumentControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: correct Guardian ID references in UserSeeder
  database/seeders/UserSeeder.php
Due: php -l, ./vendor/bin/pint

docs: update ticket statuses and implementation progress
  tickets/README.md
Due: prettier --write

fix: update Guardian children() relationship to use correct foreign key
  app/Models/Guardian.php
Due: php -l, ./vendor/bin/pint

fix: update controllers and services to use Guardian model ID
  app/Http/Controllers/Guardian/EnrollmentController.php
  app/Services/StudentService.php
  tests/Feature/EnrollmentControllerTest.php
  tests/Feature/Http/Controllers/Guardian/LayoutTest.php
Due: php -l, ./vendor/bin/pint

fix: remove unused User import and use imported Guardian class
  app/Services/StudentService.php
Due: php -l, ./vendor/bin/pint

fix: update Guardian authorization checks to use Guardian model IDs
  app/Http/Controllers/Guardian/BillingController.php
  app/Http/Controllers/Guardian/StudentController.php
  app/Http/Requests/Guardian/StoreEnrollmentRequest.php
Due: php -l, ./vendor/bin/pint

feat(sidebar): Update logo and remove footer links
  resources/js/components/app-logo-icon.tsx
  resources/js/components/app-logo.tsx
  resources/js/components/app-sidebar.tsx
  resources/js/components/sidebars/admin-sidebar.tsx
  resources/js/components/sidebars/guardian-sidebar.tsx
  resources/js/components/sidebars/registrar-sidebar.tsx
  resources/js/components/sidebars/student-sidebar.tsx
  resources/js/components/sidebars/super-admin-sidebar.tsx
Due: prettier --write, eslint --fix

fix: update UpdateStudentRequest authorization to use Guardian model ID
  app/Http/Requests/Guardian/UpdateStudentRequest.php
Due: php -l, ./vendor/bin/pint

feat(sidebar): Update logo and remove footer links
  resources/js/components/app-header.tsx
  resources/js/layouts/auth/auth-card-layout.tsx
  resources/js/layouts/auth/auth-simple-layout.tsx
  resources/js/layouts/auth/auth-split-layout.tsx
Due: prettier --write, eslint --fix

style: Format code with Prettier
  docker-compose.yml
  resources/js/pages/admin/students/students-table.tsx
  resources/js/pages/admin/users/users-table.tsx
Due: prettier --write, eslint --fix

fix: resolve ESLint configuration and TypeScript linting errors
  eslint.config.js
  resources/js/hooks/use-toast.ts
Due: prettier --write, eslint --fix

chore: apply Prettier formatting to TypeScript files
  resources/js/components/documents/document-upload.tsx
  resources/js/pages/admin/students/students-table.tsx
  resources/js/pages/admin/users/users-table.tsx
Due: prettier --write, eslint --fix

feat: add alert-dialog component for document deletion confirmation
  package-lock.json
  package.json
  resources/js/components/documents/document-list.tsx
  resources/js/components/ui/alert-dialog.tsx
  resources/js/pages/guardian/students/documents/index.tsx
Due: prettier --write, eslint --fix

fix: add -T flag to sail exec in pre-push hook to disable TTY allocation
  .husky/pre-push
Due: none

fix: prevent permission denied errors in PHP syntax check
  scripts/test-local.sh
Due: none

format
  app/Http/Controllers/Admin/DashboardController.php
Due: php -l, ./vendor/bin/pint

fix: add grade filter to admin enrollment index
  app/Http/Controllers/Admin/EnrollmentController.php
Due: php -l, ./vendor/bin/pint

perf: optimize collection queries in InvoiceController and TuitionController
  app/Http/Controllers/InvoiceController.php
  app/Http/Controllers/TuitionController.php
Due: php -l, ./vendor/bin/pint

fix: specify table name in pluck() to resolve SQL ambiguous column error
  app/Http/Controllers/InvoiceController.php
  app/Http/Controllers/TuitionController.php
Due: php -l, ./vendor/bin/pint
