Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

style: apply Pint code style fixes to email notification files
  app/Mail/EnrollmentApproved.php
  app/Mail/EnrollmentRejected.php
  app/Mail/EnrollmentStatusUpdated.php
  app/Mail/EnrollmentSubmitted.php
  app/Services/EnrollmentService.php
  tests/Feature/Services/EmailNotificationTest.php
Due: php -l, ./vendor/bin/pint

fix: resolve PHPStan type hint issue in EnrollmentService
  app/Services/EnrollmentService.php
Due: php -l, ./vendor/bin/pint

Require Telescope
  composer.json
  composer.lock
Due: prettier --write

Install Telescope
  app/Providers/TelescopeServiceProvider.php
  bootstrap/providers.php
  config/telescope.php
  database/migrations/2025_09_24_153910_create_telescope_entries_table.php
Due: php -l, ./vendor/bin/pint

feat: implement Eloquent Observers for models
  app/Models/Enrollment.php
  app/Observers/EnrollmentObserver.php
  app/Observers/InvoiceObserver.php
  app/Observers/PaymentObserver.php
  app/Observers/StudentObserver.php
  app/Providers/ObserverServiceProvider.php
  bootstrap/providers.php
  composer.json
  composer.lock
  database/migrations/2025_09_24_215203_create_activity_log_table.php
  database/migrations/2025_09_24_215204_add_event_column_to_activity_log_table.php
  database/migrations/2025_09_24_215205_add_batch_uuid_column_to_activity_log_table.php
  tests/Feature/Observers/EnrollmentObserverTest.php
  tests/Feature/Observers/StudentObserverTest.php
Due: php -l, ./vendor/bin/pint, prettier --write

fix: resolve CI/CD failures after implementing Eloquent Observers
  app/Models/Enrollment.php
  app/Observers/EnrollmentObserver.php
  app/Observers/InvoiceObserver.php
  app/Observers/PaymentObserver.php
  app/Observers/StudentObserver.php
  app/Providers/ObserverServiceProvider.php
  app/Services/EnrollmentService.php
  database/migrations/2025_09_24_215203_create_activity_log_table.php
  database/migrations/2025_09_24_215204_add_event_column_to_activity_log_table.php
  database/migrations/2025_09_24_215205_add_batch_uuid_column_to_activity_log_table.php
  tests/Feature/Observers/EnrollmentObserverTest.php
  tests/Feature/Observers/StudentObserverTest.php
  tests/Feature/Services/EmailNotificationTest.php
Due: php -l, ./vendor/bin/pint

fix: use enum types in observers to satisfy PHPStan type checking
  app/Observers/EnrollmentObserver.php
  app/Observers/InvoiceObserver.php
  app/Observers/PaymentObserver.php
Due: php -l, ./vendor/bin/pint

feat: implement Laravel custom casts for models
  app/Casts/FormattedMoneyCast.php
  app/Casts/FullNameCast.php
  app/Casts/MoneyCast.php
  app/Models/Enrollment.php
  app/Models/GradeLevelFee.php
  app/Models/Guardian.php
  app/Models/Student.php
Due: php -l, ./vendor/bin/pint

style: apply Pint code style fixes to custom cast files
  app/Casts/FormattedMoneyCast.php
  app/Casts/FullNameCast.php
  app/Casts/MoneyCast.php
  app/Models/Enrollment.php
  app/Models/GradeLevelFee.php
Due: php -l, ./vendor/bin/pint

fix: resolve PHPStan type hint issues in custom casts and TuitionController
  app/Casts/FormattedMoneyCast.php
  app/Casts/MoneyCast.php
  app/Http/Controllers/TuitionController.php
Due: php -l, ./vendor/bin/pint

style: fix indentation in TuitionController mapWithKeys callback
  app/Http/Controllers/TuitionController.php
Due: php -l, ./vendor/bin/pint

fix: correctly position PHPStan ignore comment for mapWithKeys callback
  app/Http/Controllers/TuitionController.php
Due: php -l, ./vendor/bin/pint

removed enroll now button
  resources/js/pages/landing.tsx
Due: prettier --write, eslint --fix

removed contact us button
  resources/js/pages/landing.tsx
Due: prettier --write, eslint --fix

fix: resolve guardian dashboard blank page issue
  app/Http/Controllers/Guardian/DashboardController.php
Due: php -l, ./vendor/bin/pint

fix: resolve flaky student search test
  tests/Feature/Services/StudentServiceTest.php
Due: php -l, ./vendor/bin/pint

refactor: replace route closures with dedicated controllers
  app/Http/Controllers/Admin/DashboardController.php
  app/Http/Controllers/Auth/RegistrationRedirectController.php
  app/Http/Controllers/Profile/ProfileSettingsController.php
  app/Http/Controllers/Public/AboutController.php
  app/Http/Controllers/Public/ApplicationController.php
  app/Http/Controllers/Public/LandingController.php
  app/Http/Controllers/Public/RegistrarInfoController.php
  app/Http/Controllers/Settings/AppearanceController.php
  app/Http/Controllers/Student/DashboardController.php
  routes/auth.php
  routes/settings.php
  routes/web.php
Due: php -l, ./vendor/bin/pint

refactor: remove duplicate profile settings route and consolidate to single controller
  app/Http/Controllers/Profile/ProfileSettingsController.php
  resources/js/components/Sidebar.tsx
  resources/js/pages/profilesettings.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: add role-based visibility for sidebar sections
  resources/js/components/Sidebar.tsx
Due: prettier --write, eslint --fix

test: add tests for public controllers and appearance settings
  tests/Feature/Http/Controllers/Public/AboutControllerTest.php
  tests/Feature/Http/Controllers/Public/ApplicationControllerTest.php
  tests/Feature/Http/Controllers/Public/LandingControllerTest.php
  tests/Feature/Http/Controllers/Public/RegistrarInfoControllerTest.php
  tests/Feature/Http/Controllers/Settings/AppearanceControllerTest.php
Due: php -l, ./vendor/bin/pint

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
