Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: implement working sidebar navigation with Inertia.js Links
  resources/js/components/Sidebar.tsx
  resources/js/pages/application.tsx
  resources/js/pages/enrollment.tsx
  resources/js/pages/invoice.tsx
  resources/js/pages/profilesettings.tsx
  resources/js/pages/registrar.tsx
  resources/js/pages/studentreport.tsx
  resources/js/pages/tuition.tsx
  tests/Browser/SidebarNavigationTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

style: add trailing newline to SidebarNavigationTest.php
  tests/Browser/SidebarNavigationTest.php
Due: php -l, ./vendor/bin/pint

style: fix indentation in SidebarNavigationTest.php per Laravel Pint
  tests/Browser/SidebarNavigationTest.php
Due: php -l, ./vendor/bin/pint

style: fix import order in SidebarNavigationTest.php
  tests/Browser/SidebarNavigationTest.php
Due: php -l, ./vendor/bin/pint

chore: remove SidebarNavigationTest.php due to Pint issues
  tests/Browser/SidebarNavigationTest.php
Due: php -l, ./vendor/bin/pint

fix: standardize sidebar implementation across all pages
  resources/js/components/Sidebar.tsx
  resources/js/pages/dashboard.tsx
Due: prettier --write, eslint --fix

fix: update CD workflows to match successful manual deployment
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-secure.yml
  manual-deployment.sh
Due: prettier --write

fix: resolve npm cache corruption issues in CD workflows
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-secure.yml
  .github/workflows/deploy.yml
Due: prettier --write

fix: simplify npm installation in CD workflows
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-secure.yml
  .github/workflows/deploy.yml
Due: prettier --write

feat: implement consistent UI/UX with shadcn components
  package-lock.json
  package.json
  resources/js/components/PageLayout.tsx
  resources/js/components/ui/scroll-area.tsx
  resources/js/components/ui/table.tsx
  resources/js/components/ui/tabs.tsx
  resources/js/pages/application.tsx
  resources/js/pages/dashboard.tsx
  resources/js/pages/enrollment.tsx
  resources/js/pages/invoice.tsx
  resources/js/pages/profilesettings.tsx
  resources/js/pages/registrar.tsx
  resources/js/pages/studentreport.tsx
  resources/js/pages/tuition.tsx
Due: prettier --write, eslint --fix

feat: update Sidebar to use shadcn components
  package-lock.json
  package.json
  resources/js/components/Sidebar.tsx
Due: prettier --write, eslint --fix

Remove package lock
  .gitignore
  package-lock.json
Due: prettier --write

refactor: remove GitHub Actions CD workflows and update documentation
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-secure.yml
  .github/workflows/deploy.yml
  CLAUDE.md
Due: prettier --write

feat: redesign landing and about pages with shadcn/ui components
  resources/js/pages/about.tsx
  resources/js/pages/landing.tsx
Due: prettier --write, eslint --fix

Add package lock
  .gitignore
  package-lock.json
Due: prettier --write

feat: implement role-based dashboards
  app/Models/User.php
  package-lock.json
  package.json
  resources/js/components/app-header.tsx
  resources/js/components/app-sidebar.tsx
  resources/js/components/ui/progress.tsx
  resources/js/pages/about.tsx
  resources/js/pages/admin/dashboard.tsx
  resources/js/pages/landing.tsx
  resources/js/pages/parent/dashboard.tsx
  resources/js/pages/registrar/dashboard.tsx
  resources/js/pages/student/dashboard.tsx
  resources/js/pages/welcome.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: resolve TypeScript errors in dashboard references
  resources/js/components/app-header.tsx
  resources/js/components/app-sidebar.tsx
Due: prettier --write, eslint --fix

fix: update all dashboard route references to use role-based routing
  app/Http/Controllers/Auth/ConfirmablePasswordController.php
  app/Http/Controllers/Auth/EmailVerificationNotificationController.php
  app/Http/Controllers/Auth/EmailVerificationPromptController.php
  app/Http/Controllers/Auth/RegisteredUserController.php
  app/Http/Controllers/Auth/VerifyEmailController.php
  tests/Feature/Auth/EmailVerificationTest.php
  tests/Feature/Auth/RegistrationTest.php
  tests/Feature/Auth/VerificationNotificationTest.php
  tests/Feature/DashboardTest.php
Due: php -l, ./vendor/bin/pint

fix: add role-based authorization to dashboards and fix test isolation
  routes/web.php
  tests/Feature/DashboardTest.php
Due: php -l, ./vendor/bin/pint
