Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

refactor: optimize pre-push hooks with logging and timing (TICKET-023)
  .gitignore
  .husky/pre-push
  scripts/test-local.sh
Due: none

docs: update tickets README with completed PRs and epic status
  tickets/README.md
Due: prettier --write

feat(admin): Implement CRUD functionality for students, users, and enrollments
  app/Http/Controllers/Admin/EnrollmentController.php
  app/Http/Controllers/Admin/StudentController.php
  app/Http/Controllers/Admin/UserController.php
  app/Models/Student.php
  phpstan.neon
  resources/js/components/enrollment-card.tsx
  resources/js/pages/admin/enrollments/edit.tsx
  resources/js/pages/admin/students/edit.tsx
  resources/js/pages/admin/students/show.tsx
  resources/js/pages/admin/students/students-table.tsx
  resources/js/pages/admin/users/edit.tsx
  resources/js/pages/admin/users/show.tsx
  resources/js/pages/admin/users/users-table.tsx
  resources/js/types/index.d.ts
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: implement notification center UI (TICKET-013)
  app/Http/Controllers/NotificationController.php
  app/Notifications/TestNotification.php
  database/migrations/2025_10_16_212639_create_notifications_table.php
  resources/js/components/app-header.tsx
  resources/js/components/notifications/notification-bell.tsx
  resources/js/components/notifications/notification-item.tsx
  resources/js/pages/notifications/Index.tsx
  routes/web.php
  tests/Feature/Http/Controllers/NotificationControllerTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: resolve TypeScript errors in notification pages
  resources/js/pages/notifications/Index.tsx
Due: prettier --write, eslint --fix

feat: Add/update admin controller tests for Enrollment and User
  tests/Feature/Http/Controllers/Admin/EnrollmentControllerTest.php
  tests/Feature/Http/Controllers/Admin/UserControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: correct Inertia component path case sensitivity for Linux CI
  app/Http/Controllers/NotificationController.php
  tests/Feature/Http/Controllers/NotificationControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: remove duplicate GitHub Actions test workflow (TICKET-024)
  .github/workflows/tests.yml
  tickets/README.md
  tickets/TICKET-024-remove-duplicate-github-actions-workflow.md
Due: prettier --write

docs: update TICKET-024 status to completed with PR #109
  tickets/README.md
  tickets/TICKET-024-remove-duplicate-github-actions-workflow.md
Due: prettier --write

fix: Resolve pre-push hook failures and update tests.
  app/Http/Controllers/Admin/StudentController.php
  app/Http/Controllers/Admin/UserController.php
  app/Models/Student.php
  phpstan.neon
  tests/Feature/Http/Controllers/Admin/StudentControllerTest.php
  tests/Feature/Http/Controllers/Admin/UserControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: Use actual student IDs in StudentControllerTest for robustness.
  app/Http/Controllers/Admin/StudentController.php
  app/Models/Student.php
  resources/js/pages/admin/students/show.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Apply formatting changes
  tests/Feature/Http/Controllers/Admin/StudentControllerTest.php
Due: php -l, ./vendor/bin/pint

Revert "feat(admin): Implement CRUD functionality for students, users, and enrollments"
  app/Http/Controllers/Admin/EnrollmentController.php
  app/Http/Controllers/Admin/StudentController.php
  app/Http/Controllers/Admin/UserController.php
  app/Models/Student.php
  resources/js/components/enrollment-card.tsx
  resources/js/pages/admin/enrollments/edit.tsx
  resources/js/pages/admin/students/edit.tsx
  resources/js/pages/admin/students/show.tsx
  resources/js/pages/admin/students/students-table.tsx
  resources/js/pages/admin/users/edit.tsx
  resources/js/pages/admin/users/show.tsx
  resources/js/pages/admin/users/users-table.tsx
  resources/js/types/index.d.ts
  tests/Feature/Http/Controllers/Admin/EnrollmentControllerTest.php
  tests/Feature/Http/Controllers/Admin/StudentControllerTest.php
  tests/Feature/Http/Controllers/Admin/UserControllerTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

chore: update tickets directory with completed work
  tickets/README.md
  tickets/TICKET-013-notification-center-ui.md
Due: prettier --write

feat: implement notification preferences UI (TICKET-014)
  package-lock.json
  package.json
  resources/js/components/ui/switch.tsx
  resources/js/layouts/settings/layout.tsx
  resources/js/pages/settings/notifications.tsx
Due: prettier --write, eslint --fix

fix: TypeScript type for router.put data parameter
  resources/js/pages/settings/notifications.tsx
Due: prettier --write, eslint --fix

feat: implement audit log viewer UI for super admin (TICKET-016)
  app/Http/Controllers/SuperAdmin/AuditLogController.php
  resources/js/pages/super-admin/audit-logs/index.tsx
  resources/js/pages/super-admin/audit-logs/show.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: remove unnecessary nullsafe operators in audit log export
  app/Http/Controllers/SuperAdmin/AuditLogController.php
Due: php -l, ./vendor/bin/pint

fix: correct TypeScript types and DatePicker props in audit log index
  resources/js/pages/super-admin/audit-logs/index.tsx
Due: prettier --write, eslint --fix

fix: resolve Select component empty value error in audit log filters
  resources/js/pages/super-admin/audit-logs/index.tsx
Due: prettier --write, eslint --fix

docs: update tickets for TICKET-014 and TICKET-016 completion
  tickets/README.md
Due: prettier --write

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
