Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: use shadcn/ui Card components and CSS variables for Guardian page
  resources/js/pages/super-admin/guardians/index.tsx
Due: prettier --write, eslint --fix

feat: Change 'Start Enrollment' button to link to registration page
  package-lock.json
  resources/js/pages/public/landing.tsx
Due: prettier --write, eslint --fix

fix: Adjust registrar dashboard quick links to match sidebar navigation
  resources/js/pages/registrar/dashboard.tsx
Due: prettier --write, eslint --fix

feat: implement Super Admin Invoices CRUD pages (TICKET-028)
  resources/js/components/sidebars/super-admin-sidebar.tsx
  resources/js/pages/super-admin/invoices/create.tsx
  resources/js/pages/super-admin/invoices/edit.tsx
  resources/js/pages/super-admin/invoices/index.tsx
  resources/js/pages/super-admin/invoices/show.tsx
Due: prettier --write, eslint --fix

fix: resolve SelectItem empty value error in invoices index
  resources/js/pages/super-admin/invoices/index.tsx
Due: prettier --write, eslint --fix

feat: add idempotent seeders for enrollments and invoices
  database/seeders/DatabaseSeeder.php
  database/seeders/EnrollmentSeeder.php
  database/seeders/InvoiceSeeder.php
Due: php -l, ./vendor/bin/pint

fix: cast int to string for str_pad in EnrollmentSeeder
  database/seeders/EnrollmentSeeder.php
Due: php -l, ./vendor/bin/pint

fix: add missing invoice_date column to invoices table
  app/Models/Invoice.php
  database/migrations/2025_10_17_160518_add_invoice_date_to_invoices_table.php
  database/seeders/InvoiceSeeder.php
Due: php -l, ./vendor/bin/pint

refactor: convert invoices index to shadcn data table
  resources/js/components/ui/data-table.tsx
  resources/js/pages/super-admin/invoices/columns.tsx
  resources/js/pages/super-admin/invoices/index.tsx
Due: prettier --write, eslint --fix

fix: add invoice_date to InvoiceFactory
  database/factories/InvoiceFactory.php
Due: php -l, ./vendor/bin/pint

fix: add invoice_date to BillingService invoice creation
  app/Services/BillingService.php
Due: php -l, ./vendor/bin/pint

feat: improve invoices index with labels and varied invoice statuses
  database/seeders/InvoiceSeeder.php
  resources/js/pages/super-admin/invoices/index.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: replace date inputs with shadcn calendar component
  resources/js/pages/super-admin/invoices/index.tsx
Due: prettier --write, eslint --fix

fix: add proper alignment to calendar popovers
  resources/js/pages/super-admin/invoices/index.tsx
Due: prettier --write, eslint --fix

fix: improve calendar styling with padding and border
  resources/js/pages/super-admin/invoices/index.tsx
Due: prettier --write, eslint --fix

fix: use shadcn-compliant calendar styling
  resources/js/pages/super-admin/invoices/index.tsx
Due: prettier --write, eslint --fix

fix: import react-day-picker CSS for calendar styling
  resources/css/app.css
Due: none

fix: override calendar blue colors and improve filter layout
  resources/css/app.css
  resources/js/pages/super-admin/invoices/index.tsx
Due: prettier --write, eslint --fix

Fix: Resolve NaN and zero balance issues across invoice, tuition, and student pages
  app/Services/EnrollmentService.php
  resources/js/pages/shared/invoice.tsx
  resources/js/pages/shared/tuition.tsx
  resources/js/pages/super-admin/students/index.tsx
  resources/js/pages/super-admin/students/students-table.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix
