Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: remove age field from students table
  app/Models/Student.php
  database/factories/StudentFactory.php
  database/migrations/2025_09_21_172628_create_students_table.php
  database/seeders/UserSeeder.php
Due: php -l, ./vendor/bin/pint

fix: remove redundant guardian fields from students table
  database/factories/StudentFactory.php
  database/migrations/2025_09_21_172628_create_students_table.php
  database/seeders/UserSeeder.php
Due: php -l, ./vendor/bin/pint

fix: update Guardian model to use proper belongsToMany relationship
  app/Http/Controllers/GuardianDashboardController.php
  app/Http/Controllers/StudentController.php
  app/Models/Guardian.php
  tests/Feature/GuardianModelTest.php
  tests/Feature/GuardianStudentRelationshipTest.php
Due: php -l, ./vendor/bin/pint

fix: correct field name from phone to contact_number in student form
  resources/js/pages/guardian/students/create.tsx
Due: prettier --write, eslint --fix

feat: add students index page for guardian
  resources/js/pages/guardian/students/index.tsx
Due: prettier --write, eslint --fix

fix: preselect student when enrolling from students page
  app/Http/Controllers/EnrollmentController.php
  resources/js/pages/enrollments/create.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: improve student preselection in enrollment form with useEffect
  resources/js/pages/enrollments/create.tsx
Due: prettier --write, eslint --fix

chore: clean up debug code and prepare for PR
  resources/js/pages/enrollments/create.tsx
Due: prettier --write, eslint --fix

feat: improve sidebar navigation with dropdowns
  resources/js/components/Sidebar.tsx
Due: prettier --write, eslint --fix

feat: implement fully functional registrar dashboard
  app/Enums/PaymentStatus.php
  app/Http/Controllers/RegistrarDashboardController.php
  resources/js/pages/registrar/dashboard.tsx
  routes/web.php
  tests/Unit/Enums/PaymentStatusTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: resolve PHPStan type hint issue in RegistrarDashboardController
  app/Http/Controllers/RegistrarDashboardController.php
Due: php -l, ./vendor/bin/pint

feat: enhance database seeder with comprehensive test data
  app/Http/Controllers/RegistrarDashboardController.php
  database/migrations/2025_09_22_172151_make_grade_level_nullable_in_students_table.php
  database/seeders/UserSeeder.php
Due: php -l, ./vendor/bin/pint

style: add trailing newlines (Pint formatting)
  database/migrations/2025_09_22_172151_make_grade_level_nullable_in_students_table.php
  database/seeders/UserSeeder.php
Due: php -l, ./vendor/bin/pint

refactor: make grade_level nullable in original students table migration
  database/migrations/2025_09_21_172628_create_students_table.php
  database/migrations/2025_09_22_172151_make_grade_level_nullable_in_students_table.php
Due: php -l, ./vendor/bin/pint

refactor: implement role-based controller architecture
  app/Http/Controllers/BillingController.php
  app/Http/Controllers/EnrollmentController.php
  app/Http/Controllers/Guardian/BillingController.php
  app/Http/Controllers/Guardian/DashboardController.php
  app/Http/Controllers/Guardian/EnrollmentController.php
  app/Http/Controllers/Guardian/StudentController.php
  app/Http/Controllers/GuardianDashboardController.php
  app/Http/Controllers/Registrar/DashboardController.php
  app/Http/Controllers/Registrar/EnrollmentController.php
  app/Http/Controllers/Registrar/StudentController.php
  app/Http/Controllers/StudentController.php
  routes/web.php
Due: php -l, ./vendor/bin/pint

fix: resolve PHPStan static analysis issues
  app/Http/Controllers/Guardian/BillingController.php
  app/Http/Controllers/Guardian/EnrollmentController.php
  app/Http/Controllers/Guardian/StudentController.php
  app/Http/Controllers/Registrar/StudentController.php
Due: php -l, ./vendor/bin/pint

fix: resolve CI/CD failures
  app/Http/Controllers/Guardian/BillingController.php
  app/Http/Controllers/Guardian/EnrollmentController.php
  app/Http/Controllers/Guardian/StudentController.php
  app/Http/Controllers/Registrar/EnrollmentController.php
  app/Http/Controllers/Registrar/StudentController.php
Due: php -l, ./vendor/bin/pint

feat: create role-specific view structure
  app/Http/Controllers/Guardian/BillingController.php
  app/Http/Controllers/Guardian/EnrollmentController.php
  app/Http/Controllers/Guardian/StudentController.php
  app/Http/Controllers/Registrar/EnrollmentController.php
  app/Http/Controllers/Registrar/StudentController.php
  resources/js/pages/guardian/billing/index.tsx
  resources/js/pages/guardian/billing/show.tsx
  resources/js/pages/guardian/enrollments/create.tsx
  resources/js/pages/guardian/enrollments/edit.tsx
  resources/js/pages/guardian/enrollments/index.tsx
  resources/js/pages/guardian/enrollments/show.tsx
  resources/js/pages/guardian/students/create.tsx
  resources/js/pages/guardian/students/edit.tsx
  resources/js/pages/guardian/students/show.tsx
  resources/js/pages/registrar/enrollments/index.tsx
  resources/js/pages/registrar/enrollments/show.tsx
  resources/js/pages/registrar/students/create.tsx
  resources/js/pages/registrar/students/edit.tsx
  resources/js/pages/registrar/students/index.tsx
  resources/js/pages/registrar/students/show.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: resolve PHPStan and ESLint CI/CD issues
  app/Http/Controllers/Guardian/BillingController.php
  app/Http/Controllers/Guardian/StudentController.php
  app/Http/Controllers/Registrar/StudentController.php
  fix-eslint.sh
  resources/js/pages/guardian/billing/index.tsx
  resources/js/pages/guardian/billing/show.tsx
  resources/js/pages/guardian/enrollments/create.tsx
  resources/js/pages/guardian/enrollments/edit.tsx
  resources/js/pages/guardian/enrollments/index.tsx
  resources/js/pages/guardian/enrollments/show.tsx
  resources/js/pages/guardian/students/create.tsx
  resources/js/pages/guardian/students/edit.tsx
  resources/js/pages/guardian/students/index.tsx
  resources/js/pages/guardian/students/show.tsx
  resources/js/pages/registrar/enrollments/index.tsx
  resources/js/pages/registrar/enrollments/show.tsx
  resources/js/pages/registrar/students/create.tsx
  resources/js/pages/registrar/students/edit.tsx
  resources/js/pages/registrar/students/index.tsx
  resources/js/pages/registrar/students/show.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: resolve TypeScript compilation errors
  resources/js/pages/guardian/enrollments/index.tsx
Due: prettier --write, eslint --fix
