Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: Add registrar view-only permissions and complete sidebar navigation (#624)
  app/Policies/EnrollmentPeriodPolicy.php
  resources/js/components/sidebars/admin-sidebar.tsx
  resources/js/components/sidebars/guardian-sidebar.tsx
  resources/js/components/sidebars/registrar-sidebar.tsx
  resources/js/components/sidebars/student-sidebar.tsx
  resources/js/components/sidebars/super-admin-sidebar.tsx
  resources/js/pages/registrar/enrollment-periods/index.tsx
  resources/js/pages/registrar/enrollment-periods/show.tsx
  resources/js/pages/registrar/school-years/index.tsx
  resources/js/pages/registrar/school-years/show.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: Update email for super admin and clean up role assignment checks
  database/seeders/UserSeeder.php
Due: php -l, ./vendor/bin/pint

fix: Improve notification text visibility in dark mode
  resources/js/components/notifications-dropdown.tsx
Due: prettier --write, eslint --fix

fix: Improve notification text visibility in dark mode (#625)
  resources/js/components/notifications-dropdown.tsx
Due: prettier --write, eslint --fix

feat: Admin Module Sync and Bug Fixes
  app/Http/Controllers/Admin/EnrollmentController.php
  app/Http/Controllers/Admin/GuardianController.php
  app/Http/Controllers/Admin/StudentController.php
  app/Http/Controllers/Admin/UserController.php
  app/Http/Requests/Admin/StoreEnrollmentRequest.php
  app/Http/Requests/Admin/StoreGuardianRequest.php
  app/Http/Requests/Admin/StoreStudentRequest.php
  app/Http/Requests/Admin/StoreUserRequest.php
  app/Http/Requests/Admin/UpdateGuardianRequest.php
  app/Http/Requests/Admin/UpdateUserRequest.php
  app/Observers/StudentObserver.php
  resources/js/components/sidebars/admin-sidebar.tsx
  resources/js/components/sidebars/super-admin-sidebar.tsx
  resources/js/pages/admin/enrollments/columns.tsx
  resources/js/pages/admin/enrollments/create.tsx
  resources/js/pages/admin/enrollments/edit.tsx
  resources/js/pages/admin/enrollments/index.tsx
  resources/js/pages/admin/enrollments/show.tsx
  resources/js/pages/admin/students/columns.tsx
  resources/js/pages/admin/students/create.tsx
  resources/js/pages/admin/students/edit.tsx
  resources/js/pages/admin/students/enrollments.tsx
  resources/js/pages/admin/students/index.tsx
  resources/js/pages/admin/students/show.tsx
  resources/js/pages/admin/students/students-table.tsx
  resources/js/pages/admin/users/create.tsx
  resources/js/pages/admin/users/edit.tsx
  resources/js/pages/admin/users/index.tsx
  resources/js/pages/admin/users/show.tsx
  resources/js/pages/admin/users/users-table.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Update files
  bootstrap/app.php
  phpunit.dusk.xml
  tests/Browser/SuperAdminRoutesSmokeTest.php
  tests/DuskTestCase.php
Due: php -l, ./vendor/bin/pint

refactor: Remove EmailNotificationTest debugging logs
  app/Observers/EnrollmentObserver.php
Due: php -l, ./vendor/bin/pint

feat: Implement payment notifications and update enrollment status display
  app/Http/Controllers/Guardian/DashboardController.php
  app/Services/PaymentService.php
  tests/Browser/StudentRoutesSmokeTest.php
  tests/Browser/SuperAdminEnrollmentPeriodYearRangeTest.php
  tests/Browser/SuperAdminEnrollmentUpdateTest.php
  tests/Browser/SuperAdminRoutesSmokeTest.php
Due: php -l, ./vendor/bin/pint

fix: Add missing enrollment_id to all Enrollment seeder records
  database/seeders/UserSeeder.php
  dev.sh
Due: php -l, ./vendor/bin/pint

Fix: Display 'birthdate' correctly on Guardian Enrollment Show page
  resources/js/pages/guardian/enrollments/show.tsx
Due: prettier --write, eslint --fix

Revert "Fix: Display 'birthdate' correctly on Guardian Enrollment Show page"
  resources/js/pages/guardian/enrollments/show.tsx
Due: prettier --write, eslint --fix

fix: Use dynamic year in receipt test and skip wayfinder in frontend-only builds
  tests/Feature/Models/ReceiptTest.php
  vite.config.ts
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

docs: add comprehensive README
  CONTRIBUTING.md
  DEPLOYMENT-GUIDE.md
  README.md
  ROADMAP.md
  SRS.md
  SRS.pdf
  TESTING_GUIDE.md
  TESTING_GUIDE_VERIFICATION.md
  guardian_commit_message.txt
Due: prettier --write

fix: add vercel.json to skip PHP-dependent build steps
  vercel.json
Due: prettier --write

chore: remove vercel.json - project is Laravel/PHP backend
  vercel.json
Due: prettier --write

chore: add security dependency update script
  scripts/security-update.sh
Due: none

ci: add automated dependency update workflow
  .github/workflows/update-dependencies.yml
Due: prettier --write

chore: update dependencies to latest secure versions
  composer.lock
Due: none

fix: update dependency workflow permissions and action versions
  .github/workflows/update-dependencies.yml
Due: prettier --write
