Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: implement frontend for users and students pages
  package-lock.json
  package.json
  resources/js/pages/super-admin/students/index.tsx
  resources/js/pages/super-admin/students/students-table.tsx
  resources/js/pages/super-admin/users/index.tsx
  resources/js/pages/super-admin/users/users-table.tsx
Due: prettier --write, eslint --fix

feat(super-admin): implement shadcn data tables for students and users
  package-lock.json
  package.json
  resources/js/pages/super-admin/students/index.tsx
  resources/js/pages/super-admin/students/students-table.tsx
  resources/js/pages/super-admin/users/index.tsx
  resources/js/pages/super-admin/users/users-table.tsx
Due: prettier --write, eslint --fix

feat: add tickets directory with gitignore configuration
  .gitignore
  tickets/.gitkeep
Due: none

fix: correct guardian relationship in Enrollment, Student, and GuardianStudent models
  app/Enums/DocumentType.php
  app/Enums/VerificationStatus.php
  app/Models/Document.php
  app/Models/Enrollment.php
  app/Models/GuardianStudent.php
  app/Models/Student.php
  database/migrations/2025_10_10_125013_create_documents_table.php
Due: php -l, ./vendor/bin/pint

fix: update tests and services for Guardian relationship changes
  app/Http/Controllers/Registrar/StudentController.php
  app/Models/GuardianStudent.php
  app/Observers/EnrollmentObserver.php
  tests/Feature/GuardianStudentRelationshipTest.php
  tests/Feature/Services/EmailNotificationTest.php
Due: php -l, ./vendor/bin/pint

fix: update EnrollmentObserverTest and EnrollmentTest for Guardian relationship
  app/Http/Controllers/Registrar/StudentController.php
  tests/Feature/EnrollmentTest.php
  tests/Feature/Observers/EnrollmentObserverTest.php
Due: php -l, ./vendor/bin/pint

fix: change students.guardian_id to reference guardians table
  database/factories/StudentFactory.php
  database/migrations/2025_10_11_085347_update_students_guardian_id_to_reference_guardians.php
  tests/Feature/BillingControllerTest.php
  tests/Feature/Guardian/BillingControllerTest.php
  tests/Feature/Guardian/EnrollmentControllerTest.php
  tests/Feature/TuitionControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: update StudentService and tests for students.guardian_id schema change
  app/Services/StudentService.php
  tests/Feature/Observers/EnrollmentObserverTest.php
  tests/Feature/Services/DashboardServiceTest.php
Due: php -l, ./vendor/bin/pint

fix: remove unnecessary nullsafe operator in StudentController
  app/Http/Controllers/Registrar/StudentController.php
Due: php -l, ./vendor/bin/pint

fix: update enrollments.guardian_id foreign key to reference guardians table
  app/Http/Controllers/Guardian/EnrollmentController.php
  database/factories/EnrollmentFactory.php
  database/migrations/2025_10_11_100724_update_enrollments_guardian_id_to_reference_guardians.php
  tests/Feature/EnrollmentControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: update all test files to use Guardian model IDs instead of User IDs
  tests/Feature/BillingControllerTest.php
  tests/Feature/EnrollmentPendingConstraintTest.php
  tests/Feature/Guardian/BillingControllerTest.php
  tests/Feature/Guardian/StudentControllerTest.php
  tests/Feature/Registrar/StudentControllerTest.php
  tests/Feature/Services/EmailNotificationTest.php
  tests/Feature/Services/EnrollmentServiceTest.php
  tests/Feature/TuitionControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: update UserSeeder to use Guardian model IDs for enrollments
  database/seeders/UserSeeder.php
Due: php -l, ./vendor/bin/pint

feat(registrar): implement shadcn data tables for enrollments and students
  resources/js/pages/registrar/enrollments/enrollments-table.tsx
  resources/js/pages/registrar/enrollments/index.tsx
  resources/js/pages/registrar/students/index.tsx
  resources/js/pages/registrar/students/students-table.tsx
Due: prettier --write, eslint --fix

feat(guardian): implement new guardian dashboard and billing UI
  resources/js/pages/guardian/billing/billing-module.tsx
  resources/js/pages/guardian/billing/index.tsx
  resources/js/pages/guardian/students/guardian-dashboard.tsx
  resources/js/pages/guardian/students/index.tsx
Due: prettier --write, eslint --fix

refactor: modularize student and enrollment pages
  resources/js/pages/guardian/billing/index.tsx
  resources/js/pages/guardian/students/index.tsx
  resources/js/pages/registrar/enrollments/enrollments-table.tsx
  resources/js/pages/registrar/enrollments/index.tsx
  resources/js/pages/registrar/students/index.tsx
  resources/js/pages/registrar/students/students-table.tsx
Due: prettier --write, eslint --fix

feat: Restore original table components and fix compatibility
  resources/js/pages/admin/students/index.tsx
  resources/js/pages/admin/students/students-table.tsx
  resources/js/pages/admin/users/index.tsx
  resources/js/pages/admin/users/users-table.tsx
Due: prettier --write, eslint --fix

fix: resolve ESLint errors and warnings
  eslint.config.js
  resources/js/pages/admin/students/index.tsx
  resources/js/pages/admin/users/index.tsx
  resources/js/pages/shared/enrollments/create.tsx
Due: prettier --write, eslint --fix

feat(documents): add Document model, migration, factory and tests (TICKET-001)
  app/Models/Document.php
  database/factories/DocumentFactory.php
  tests/Feature/DocumentModelTest.php
Due: php -l, ./vendor/bin/pint

feat(enrollment): complete enrollment period management (TICKET-007-011)
  app/Models/EnrollmentPeriod.php
  database/factories/EnrollmentPeriodFactory.php
  database/migrations/2025_10_11_174123_create_enrollment_periods_table.php
Due: php -l, ./vendor/bin/pint

fix: remove empty parentheses from new Document instantiation
  tests/Feature/DocumentModelTest.php
Due: php -l, ./vendor/bin/pint

fix: use single quotes for static strings in EnrollmentPeriodFactory
  database/factories/EnrollmentPeriodFactory.php
Due: php -l, ./vendor/bin/pint

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
