Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: filters now apply immediately by passing values directly to applyFilters
  resources/js/pages/super-admin/grade-level-fees/grade-level-fees-table.tsx
Due: prettier --write, eslint --fix

fix: remove non-existent description column from search query
  app/Http/Controllers/SuperAdmin/GradeLevelFeeController.php
Due: php -l, ./vendor/bin/pint

fix: ignore PHPStan modelAppends rule for cast-generated properties
  phpstan.neon
Due: none

fix: add other_fees and payment_terms to factory, add default to tuition_fee_cents
  database/factories/GradeLevelFeeFactory.php
  database/migrations/2025_10_17_040415_add_default_to_tuition_fee_cents_in_grade_level_fees.php
Due: php -l, ./vendor/bin/pint

fix: add cent columns to fillable array and update test expectations
  app/Models/GradeLevelFee.php
  tests/Unit/Http/Requests/SuperAdmin/UpdateGradeLevelFeeRequestTest.php
Due: php -l, ./vendor/bin/pint

feat: add View action to grade level fees DataTable
  resources/js/pages/super-admin/grade-level-fees/grade-level-fees-table.tsx
Due: prettier --write, eslint --fix

feat: add duplicate functionality for SuperAdmin grade level fees
  app/Http/Controllers/SuperAdmin/GradeLevelFeeController.php
  routes/web.php
Due: php -l, ./vendor/bin/pint

feat: add flash message support for success and error notifications
  app/Http/Middleware/HandleInertiaRequests.php
  resources/js/pages/super-admin/grade-level-fees/index.tsx
  resources/js/types/index.d.ts
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

chore: consolidate GitHub Actions workflows into single CI pipeline
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  package.json
Due: prettier --write

fix: run Vite build before TypeScript check to generate route files
  scripts/test-local.sh
Due: none

perf: optimize GitHub Actions CI workflow for faster execution
  .github/workflows/ci.yml
  phpstan.neon
Due: prettier --write

fix: add Composer dependencies to build job for Wayfinder
  .github/workflows/ci.yml
Due: prettier --write

fix: restore executable permissions for vendor binaries after artifact download
  .github/workflows/ci.yml
Due: prettier --write

fix: add Node dependencies and test cache directory in quality-checks job
  .github/workflows/ci.yml
Due: prettier --write

fix: explicitly set PHPUnit cache directory in phpunit.xml
  .github/workflows/ci.yml
  phpunit.xml
Due: prettier --write

perf: maximize CI parallelization by splitting quality checks into separate jobs
  .github/workflows/ci.yml
Due: prettier --write

fix: run npm ci in frontend-checks job instead of using artifacts
  .github/workflows/ci.yml
Due: prettier --write

fix: add Guardians navigation to Super Admin sidebar
  resources/js/components/sidebars/super-admin-sidebar.tsx
Due: prettier --write, eslint --fix

fix: correct Guardian controller data mapping and stats
  app/Http/Controllers/SuperAdmin/GuardianController.php
Due: php -l, ./vendor/bin/pint

fix: change Guardians icon to ShieldCheck for better visual consistency
  resources/js/components/sidebars/super-admin-sidebar.tsx
Due: prettier --write, eslint --fix
