Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix #456: Update Student button failing for students 18+ years old (#526)
  app/Http/Requests/Guardian/UpdateStudentRequest.php
  tests/Browser/Issue456Test.php
Due: php -l, ./vendor/bin/pint

Fix #459: Allow guardians to delete students from their account (#527)
  app/Policies/StudentPolicy.php
  tests/Browser/Issue459Test.php
Due: php -l, ./vendor/bin/pint

Fix #446: Improve document upload validation for Grade 1+ students (#529)
  app/Http/Requests/Guardian/StoreStudentRequest.php
  tests/Browser/Issue446Test.php
Due: php -l, ./vendor/bin/pint

Fix notification routing bugs (#528, #523, #520, #525)
  app/Http/Controllers/NotificationController.php
  tests/Browser/Issue528NotificationRoutingTest.php
  tests/Feature/Http/Controllers/NotificationControllerTest.php
Due: php -l, ./vendor/bin/pint

Fix notification routing bugs (#528, #523, #520, #525) (#531)
  app/Http/Controllers/NotificationController.php
  tests/Browser/Issue528NotificationRoutingTest.php
  tests/Feature/Http/Controllers/NotificationControllerTest.php
Due: php -l, ./vendor/bin/pint

Fix enrollment 500 error when notifications fail (#519)
  app/Http/Controllers/Guardian/EnrollmentController.php
  tests/Feature/Issue519EnrollmentSubmissionTest.php
Due: php -l, ./vendor/bin/pint

Fix enrollment 500 error when notifications fail (#519) (#532)
  app/Http/Controllers/Guardian/EnrollmentController.php
  tests/Feature/Issue519EnrollmentSubmissionTest.php
Due: php -l, ./vendor/bin/pint

Fix #521: Add Update Enrollment Status menu option for registrars
  app/Http/Controllers/Registrar/EnrollmentController.php
  app/Http/Requests/Registrar/UpdateEnrollmentStatusRequest.php
  resources/js/pages/registrar/enrollments/enrollments-table.tsx
  routes/web.php
  tests/Feature/Http/Controllers/Registrar/EnrollmentControllerUpdateStatusTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix #521: Add Update Enrollment Status menu option for registrars (#533)
  app/Http/Controllers/Registrar/EnrollmentController.php
  app/Http/Requests/Registrar/UpdateEnrollmentStatusRequest.php
  resources/js/pages/registrar/enrollments/enrollments-table.tsx
  routes/web.php
  tests/Feature/Http/Controllers/Registrar/EnrollmentControllerUpdateStatusTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix #471: Add query scopes to Document model
  app/Models/Document.php
  tests/Feature/DocumentModelTest.php
Due: php -l, ./vendor/bin/pint

Fix #471: Add query scopes to Document model (#534)
  app/Models/Document.php
  tests/Feature/DocumentModelTest.php
Due: php -l, ./vendor/bin/pint

fix: Resolve invoice and document display issues, and update billing logic
  app/Http/Controllers/Guardian/BillingController.php
  app/Http/Controllers/Guardian/InvoiceController.php
  resources/js/pages/shared/invoice.tsx
  resources/js/pages/super-admin/invoices/edit.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix #472: Update document validation to JPEG/PNG only
  app/Http/Requests/StoreDocumentRequest.php
  tests/Feature/Guardian/DocumentControllerTest.php
Due: php -l, ./vendor/bin/pint

Fix #472: Update document validation to JPEG/PNG only (#535)
  app/Http/Requests/StoreDocumentRequest.php
  tests/Feature/Guardian/DocumentControllerTest.php
Due: php -l, ./vendor/bin/pint

fix: Resolve invoice and document display issues, and update billing logic
  resources/js/pages/shared/invoice.tsx
Due: prettier --write, eslint --fix

fix(test): Update BillingControllerTest to reflect invoice prop structure
  tests/Feature/BillingControllerTest.php
Due: php -l, ./vendor/bin/pint

Fix #473: Update frontend document upload to JPEG/PNG only
  resources/js/components/documents/document-upload.tsx
Due: prettier --write, eslint --fix

Fix #473: Update frontend document upload to JPEG/PNG only (#537)
  resources/js/components/documents/document-upload.tsx
Due: prettier --write, eslint --fix

Fix #475: Add activate() and close() methods to EnrollmentPeriod model
  app/Models/EnrollmentPeriod.php
  tests/Feature/EnrollmentPeriodModelTest.php
Due: php -l, ./vendor/bin/pint

Fix test data validation issues in EnrollmentPeriodModelTest
  tests/Feature/EnrollmentPeriodModelTest.php
Due: php -l, ./vendor/bin/pint

Fix #475: Add EnrollmentPeriod model scopes and methods (#538)
  app/Models/EnrollmentPeriod.php
  tests/Feature/EnrollmentPeriodModelTest.php
Due: php -l, ./vendor/bin/pint

Add Admin EnrollmentPeriod CRUD controller with tests
  app/Http/Controllers/Admin/EnrollmentPeriodController.php
  tests/Feature/Admin/EnrollmentPeriodControllerTest.php
Due: php -l, ./vendor/bin/pint

Add Admin EnrollmentPeriod CRUD controller with tests (#539)
  app/Http/Controllers/Admin/EnrollmentPeriodController.php
  tests/Feature/Admin/EnrollmentPeriodControllerTest.php
Due: php -l, ./vendor/bin/pint

Add public API endpoint for active enrollment period
  app/Http/Controllers/Api/EnrollmentPeriodController.php
  routes/web.php
  tests/Feature/Api/EnrollmentPeriodControllerTest.php
Due: php -l, ./vendor/bin/pint

Add public API endpoint for active enrollment period (#540)
  app/Http/Controllers/Api/EnrollmentPeriodController.php
  routes/web.php
  tests/Feature/Api/EnrollmentPeriodControllerTest.php
Due: php -l, ./vendor/bin/pint

Fix #486: Add LogsActivity to critical models and verify coverage
  app/Models/EnrollmentPeriod.php
  app/Models/SchoolYear.php
  tests/Feature/ActivityLogging/EnrollmentPeriodActivityTest.php
  tests/Feature/ActivityLogging/SchoolYearActivityTest.php
  tests/Feature/Admin/EnrollmentPeriodControllerTest.php
Due: php -l, ./vendor/bin/pint

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
