Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Add Guardian/UpdateEnrollmentRequest for form validation (#395)
  app/Http/Controllers/Guardian/EnrollmentController.php
  app/Http/Requests/Guardian/UpdateEnrollmentRequest.php
Due: php -l, ./vendor/bin/pint

refactor: Replace hardcoded payment method strings with PaymentMethod enum (#394)
  app/Http/Requests/SuperAdmin/StorePaymentRequest.php
  app/Http/Requests/SuperAdmin/UpdatePaymentRequest.php
Due: php -l, ./vendor/bin/pint

fix: Add critical missing columns to StudentFactory and EnrollmentFactory (#388)
  database/factories/EnrollmentFactory.php
  database/factories/StudentFactory.php
Due: php -l, ./vendor/bin/pint

refactor: Extract status badge components to eliminate 260+ lines of duplicate code (#398)
  resources/js/components/status-badges/DocumentStatusBadge.tsx
  resources/js/components/status-badges/EnrollmentStatusBadge.tsx
  resources/js/components/status-badges/InvoiceStatusBadge.tsx
  resources/js/components/status-badges/PaymentStatusBadge.tsx
  resources/js/components/status-badges/index.ts
  resources/js/pages/admin/enrollments/columns.tsx
  resources/js/pages/admin/enrollments/show.tsx
  resources/js/pages/guardian/invoices/index.tsx
  resources/js/pages/registrar/dashboard.tsx
  resources/js/pages/shared/enrollments/index.tsx
  resources/js/pages/shared/enrollments/show.tsx
  resources/js/pages/shared/invoice.tsx
  resources/js/pages/shared/tuition.tsx
  resources/js/pages/super-admin/documents/index.tsx
  resources/js/pages/super-admin/documents/show.tsx
  resources/js/pages/super-admin/enrollments/columns.tsx
  resources/js/pages/super-admin/enrollments/show.tsx
  resources/js/pages/super-admin/invoices/columns.tsx
  resources/js/pages/super-admin/invoices/show.tsx
Due: prettier --write, eslint --fix

docs: Update model documentation, fix fillables, and enhance permissions (#377, #376, #374)
  app/Http/Controllers/Registrar/GradeLevelFeeController.php
  app/Models/GradeLevelFee.php
  app/Models/Payment.php
  app/Models/README.md
  database/seeders/RolesAndPermissionsSeeder.php
Due: php -l, ./vendor/bin/pint, prettier --write

fix: correct GradeLevelFee query to use enrollment_period_id (#407)
  app/Http/Controllers/Guardian/EnrollmentController.php
Due: php -l, ./vendor/bin/pint

fix: Remove empty string values from SelectItem components in receipts create page
  resources/js/pages/super-admin/receipts/create.tsx
Due: prettier --write, eslint --fix

fix: Clear permission cache in RegistrarGradeLevelFeeTest
  tests/Feature/RegistrarGradeLevelFeeTest.php
Due: php -l, ./vendor/bin/pint

fix: Correct payment query in downloadPaymentHistory method
  app/Http/Controllers/Guardian/EnrollmentController.php
Due: php -l, ./vendor/bin/pint

Fix #409: Return Inertia response instead of JSON when clicking notifications
  app/Http/Controllers/NotificationController.php
  app/Notifications/TestNotification.php
  resources/js/components/notifications-dropdown.tsx
  tests/Feature/Http/Controllers/NotificationControllerTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Move logout button outside profile dropdown in Super Admin sidebar
  resources/js/components/sidebars/super-admin-sidebar.tsx
Due: prettier --write, eslint --fix

Move logout button outside profile dropdown in Super Admin sidebar (#421)
  resources/js/components/sidebars/super-admin-sidebar.tsx
Due: prettier --write, eslint --fix

Fix #420: Replace temporaryUrl() with route-based document viewing
  app/Http/Controllers/SuperAdmin/DocumentController.php
Due: php -l, ./vendor/bin/pint

Fix #420: Replace temporaryUrl() with route-based document viewing (#422)
  app/Http/Controllers/SuperAdmin/DocumentController.php
Due: php -l, ./vendor/bin/pint

Fix #415: Add payment plan field to guardian enrollment form
  resources/js/pages/guardian/enrollments/create.tsx
Due: prettier --write, eslint --fix

Fix #415: Add payment plan field to guardian enrollment form (#423)
  resources/js/pages/guardian/enrollments/create.tsx
Due: prettier --write, eslint --fix

Fix #410: Add Update Payment Status action to Super Admin Students page
  resources/js/pages/super-admin/students/columns.tsx
  resources/js/pages/super-admin/students/index.tsx
Due: prettier --write, eslint --fix

Fix #410: Add Update Payment Status action to Super Admin Students page (#427)
  resources/js/pages/super-admin/students/columns.tsx
  resources/js/pages/super-admin/students/index.tsx
Due: prettier --write, eslint --fix

Fix #413: Add notifications for Super Admin and Registrar
  app/Events/EnrollmentCreated.php
  app/Events/StudentCreated.php
  app/Http/Controllers/Admin/EnrollmentController.php
  app/Http/Controllers/Guardian/EnrollmentController.php
  app/Http/Controllers/Guardian/StudentController.php
  app/Http/Controllers/Registrar/StudentController.php
  app/Http/Controllers/SuperAdmin/StudentController.php
  app/Listeners/NotifyRegistrarOfNewEnrollment.php
  app/Listeners/NotifyRegistrarOfNewStudent.php
  app/Listeners/NotifySuperAdminOfNewUser.php
  app/Notifications/NewEnrollmentCreatedNotification.php
  app/Notifications/NewStudentCreatedNotification.php
  app/Notifications/NewUserRegisteredNotification.php
  app/Providers/AppServiceProvider.php
Due: php -l, ./vendor/bin/pint

Fix PHPStan type error in NotifySuperAdminOfNewUser
  app/Listeners/NotifySuperAdminOfNewUser.php
Due: php -l, ./vendor/bin/pint

Make notification listeners synchronous to fix tests
  app/Listeners/NotifyRegistrarOfNewEnrollment.php
  app/Listeners/NotifyRegistrarOfNewStudent.php
  app/Listeners/NotifySuperAdminOfNewUser.php
Due: php -l, ./vendor/bin/pint

Fix notification text color for better visibility
  resources/js/components/notifications/notification-item.tsx
Due: prettier --write, eslint --fix

Fix enum to string conversion in NewStudentCreatedNotification
  app/Notifications/NewStudentCreatedNotification.php
Due: php -l, ./vendor/bin/pint

Fix #413: Add notifications for Super Admin and Registrar (#431)
  app/Events/EnrollmentCreated.php
  app/Events/StudentCreated.php
  app/Http/Controllers/Admin/EnrollmentController.php
  app/Http/Controllers/Guardian/EnrollmentController.php
  app/Http/Controllers/Guardian/StudentController.php
  app/Http/Controllers/Registrar/StudentController.php
  app/Http/Controllers/SuperAdmin/StudentController.php
  app/Listeners/NotifyRegistrarOfNewEnrollment.php
  app/Listeners/NotifyRegistrarOfNewStudent.php
  app/Listeners/NotifySuperAdminOfNewUser.php
  app/Notifications/NewEnrollmentCreatedNotification.php
  app/Notifications/NewStudentCreatedNotification.php
  app/Notifications/NewUserRegisteredNotification.php
  app/Providers/AppServiceProvider.php
  resources/js/components/notifications/notification-item.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix #408: Add invoice, payment, and receipt notifications for Guardians
  app/Http/Controllers/SuperAdmin/ReceiptController.php
  app/Notifications/InvoiceCreatedNotification.php
  app/Notifications/PaymentReceivedNotification.php
  app/Notifications/ReceiptGeneratedNotification.php
  app/Observers/InvoiceObserver.php
  app/Observers/PaymentObserver.php
Due: php -l, ./vendor/bin/pint

Remove non-existent route references from notifications
  app/Notifications/PaymentReceivedNotification.php
  app/Notifications/ReceiptGeneratedNotification.php
Due: php -l, ./vendor/bin/pint

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
