Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Fix #486: Add LogsActivity to critical models and verify coverage (#541)
  app/Models/EnrollmentPeriod.php
  app/Models/SchoolYear.php
  tests/Feature/ActivityLogging/EnrollmentPeriodActivityTest.php
  tests/Feature/ActivityLogging/SchoolYearActivityTest.php
  tests/Feature/Admin/EnrollmentPeriodControllerTest.php
Due: php -l, ./vendor/bin/pint

Fix #478: Create system_settings and setting_history migrations
  app/Models/Setting.php
  database/migrations/2025_11_01_183753_rename_settings_to_system_settings_and_create_history.php
  database/seeders/SettingsSeeder.php
Due: php -l, ./vendor/bin/pint

Fix #478: Create system_settings and setting_history migrations (#542)
  app/Models/Setting.php
  database/migrations/2025_11_01_183753_rename_settings_to_system_settings_and_create_history.php
  database/seeders/SettingsSeeder.php
Due: php -l, ./vendor/bin/pint

Fix #479: Implement SystemSetting model with caching and helpers
  app/Console/Commands/CacheSettingsCommand.php
  app/Helpers/settings.php
  app/Models/Setting.php
  composer.json
  tests/Feature/Console/CacheSettingsCommandTest.php
  tests/Feature/Models/SettingTest.php
Due: php -l, ./vendor/bin/pint, prettier --write

Fix #479: Implement SystemSetting model with caching and helpers (#543)
  app/Console/Commands/CacheSettingsCommand.php
  app/Helpers/settings.php
  app/Models/Setting.php
  composer.json
  tests/Feature/Console/CacheSettingsCommandTest.php
  tests/Feature/Models/SettingTest.php
Due: php -l, ./vendor/bin/pint, prettier --write

WIP #481: Reporting backend implementation
  app/Http/Controllers/Admin/ReportController.php
  routes/web.php
  tests/Feature/Admin/ReportControllerTest.php
Due: php -l, ./vendor/bin/pint

feat: Align enrollment approval and payment workflows
  app/Http/Controllers/Registrar/EnrollmentController.php
  app/Services/EnrollmentService.php
  app/Services/PaymentService.php
Due: php -l, ./vendor/bin/pint

fix: Correct EnrollmentService instantiation in ServiceLayerProvider
  app/Providers/ServiceLayerProvider.php
Due: php -l, ./vendor/bin/pint

test: Fix failing tests for EnrollmentService
  tests/Feature/Services/EnrollmentServiceTest.php
Due: php -l, ./vendor/bin/pint

test: Fix failing test for logActivity
  tests/Feature/Services/EnrollmentServiceTest.php
Due: php -l, ./vendor/bin/pint

fix: Align quick approve workflow with EnrollmentService
  app/Http/Controllers/Registrar/DashboardController.php
Due: php -l, ./vendor/bin/pint

Refactor reporting backend to use string-based grade_level schema
  app/Http/Controllers/Admin/ReportController.php
  tests/Feature/Admin/ReportControllerTest.php
Due: php -l, ./vendor/bin/pint

fix(frontend): Correct invoice calculations and data display
  resources/js/pages/shared/invoice.tsx
Due: prettier --write, eslint --fix

Add PHPStan ignore for roster mapping closure
  app/Http/Controllers/Admin/ReportController.php
Due: php -l, ./vendor/bin/pint

fix(frontend): Ensure subtotal calculation is NaN-safe
  resources/js/pages/shared/invoice.tsx
Due: prettier --write, eslint --fix

fix: Dispatch EnrollmentApprovedNotification from EnrollmentService
  app/Services/EnrollmentService.php
Due: php -l, ./vendor/bin/pint

refactor: Remove notification logic from EnrollmentObserver
  app/Observers/EnrollmentObserver.php
Due: php -l, ./vendor/bin/pint

Fix: Enrollment email notifications and tests
  app/Services/EnrollmentService.php
  tests/Feature/Observers/EnrollmentObserverTest.php
Due: php -l, ./vendor/bin/pint

Fix: Grade Level Fees Management Issues
  app/Http/Controllers/SuperAdmin/GradeLevelFeeController.php
  app/Http/Requests/SuperAdmin/UpdateGradeLevelFeeRequest.php
  app/Providers/AppServiceProvider.php
  resources/js/pages/super-admin/grade-level-fees/grade-level-fees-table.tsx
  routes/web.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Feat: Add payment terms column and filter to Grade Level Fees table
  app/Http/Controllers/SuperAdmin/GradeLevelFeeController.php
  resources/js/pages/super-admin/grade-level-fees/grade-level-fees-table.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Enhance in-app and email notification consistency
  app/Notifications/CustomVerifyEmailNotification.php
  app/Notifications/DocumentRejectedNotification.php
  app/Notifications/DocumentVerifiedNotification.php
  app/Notifications/EnrollmentApprovedNotification.php
  app/Notifications/EnrollmentPeriodStatusChangedNotification.php
  app/Notifications/EnrollmentRejectedNotification.php
  app/Notifications/EnrollmentSubmittedNotification.php
  app/Notifications/InvoiceCreatedNotification.php
  app/Notifications/NewEnrollmentCreatedNotification.php
  app/Notifications/NewEnrollmentForReviewNotification.php
  app/Notifications/NewStudentCreatedNotification.php
  app/Notifications/NewUserRegisteredNotification.php
  app/Notifications/PaymentReceivedNotification.php
  app/Notifications/ReceiptGeneratedNotification.php
  resources/js/components/notifications/notification-item.tsx
  resources/js/pages/guardian/billing/billing-module.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: Enhance in-app and email notification consistency
  resources/views/app.blade.php
Due: php -l, ./vendor/bin/pint

Revert "Feature/enhance notifications"
  app/Notifications/CustomVerifyEmailNotification.php
  app/Notifications/DocumentRejectedNotification.php
  app/Notifications/DocumentVerifiedNotification.php
  app/Notifications/EnrollmentApprovedNotification.php
  app/Notifications/EnrollmentPeriodStatusChangedNotification.php
  app/Notifications/EnrollmentRejectedNotification.php
  app/Notifications/EnrollmentSubmittedNotification.php
  app/Notifications/InvoiceCreatedNotification.php
  app/Notifications/NewEnrollmentCreatedNotification.php
  app/Notifications/NewEnrollmentForReviewNotification.php
  app/Notifications/NewStudentCreatedNotification.php
  app/Notifications/NewUserRegisteredNotification.php
  app/Notifications/PaymentReceivedNotification.php
  app/Notifications/ReceiptGeneratedNotification.php
  resources/js/components/notifications/notification-item.tsx
  resources/js/pages/guardian/billing/billing-module.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
