Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

style: add newline at end of GuardianDashboardController
  app/Http/Controllers/GuardianDashboardController.php
Due: php -l, ./vendor/bin/pint

fix: remove unnecessary nullsafe operator as per PHPStan
  app/Http/Controllers/GuardianDashboardController.php
Due: php -l, ./vendor/bin/pint

fix: replace route helper with direct URLs for TypeScript compatibility
  resources/js/pages/guardian/dashboard.tsx
  resources/js/pages/guardian/students/create.tsx
Due: prettier --write, eslint --fix

feat: replace native inputs with shadcn components in student creation form
  package-lock.json
  package.json
  resources/js/components/ui/button.tsx
  resources/js/components/ui/calendar.tsx
  resources/js/components/ui/date-picker.tsx
  resources/js/components/ui/popover.tsx
  resources/js/pages/guardian/students/create.tsx
Due: prettier --write, eslint --fix

feat: Improve routes and fix guardian children display
  app/Http/Controllers/InvoiceController.php
  database/seeders/UserSeeder.php
  routes/web.php
  tests/Feature/BillingControllerTest.php
Due: php -l, ./vendor/bin/pint

feat: Improve routes and test performance
  app/Http/Controllers/StudentReportController.php
  phpunit.xml
  resources/js/pages/guardian/dashboard.tsx
  routes/web.php
  tests/Feature/BillingControllerTest.php
  tests/Feature/TuitionControllerTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: standardize phone field to contact_number across all models
  app/Http/Controllers/StudentController.php
  app/Models/Guardian.php
  app/Models/Student.php
  database/factories/GuardianFactory.php
  database/migrations/2025_09_22_023138_create_guardians_table.php
  database/seeders/UserSeeder.php
  tests/Feature/BillingControllerTest.php
  tests/Feature/GuardianModelTest.php
  tests/Feature/GuardianStudentRelationshipTest.php
  tests/Feature/TuitionControllerTest.php
Due: php -l, ./vendor/bin/pint

perf: optimize GitHub Actions CI pipeline for faster execution
  .github/workflows/ci.yml
Due: prettier --write

perf: optimize CI/CD pipeline for 60% faster execution
  .husky/pre-push
Due: none

fix: resolve GitHub Actions test failure
  .github/workflows/ci.yml
Due: prettier --write

ci: enable fast code coverage on all GitHub Actions runs using PCOV
  .github/workflows/ci.yml
Due: prettier --write

refactor: migrate enrollment routes to RESTful resource pattern
  app/Http/Controllers/EnrollmentController.php
  database/factories/EnrollmentFactory.php
  resources/js/components/Sidebar.tsx
  resources/js/lib/utils.ts
  resources/js/pages/enrollments/create.tsx
  resources/js/pages/enrollments/index.tsx
  resources/js/pages/enrollments/show.tsx
  routes/web.php
  tests/Feature/EnrollmentControllerTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: correct sidebar navigation links to match actual routes
  resources/js/components/Sidebar.tsx
Due: prettier --write, eslint --fix

feat: improve enrollment form with student selection and proper submission
  app/Http/Controllers/EnrollmentController.php
  resources/js/pages/enrollments/create.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

refactor: improve enrollment system architecture and fix navigation issues
  app/Http/Controllers/EnrollmentController.php
  app/Models/Enrollment.php
  database/factories/EnrollmentFactory.php
  resources/js/components/public-nav.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

fix: resolve enrollment form submission and dashboard access issues
  app/Http/Controllers/EnrollmentController.php
  app/Http/Controllers/GuardianDashboardController.php
  resources/js/pages/enrollments/create.tsx
  resources/js/pages/enrollments/index.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: add duplicate enrollment validation and fix field consistency
  app/Http/Controllers/EnrollmentController.php
  resources/js/pages/enrollments/show.tsx
  tests/Feature/BillingControllerTest.php
  tests/Feature/EnrollmentControllerTest.php
  tests/Feature/TuitionControllerTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: implement comprehensive enrollment business rules and constraints
  app/Enums/EnrollmentStatus.php
  app/Enums/GradeLevel.php
  app/Http/Controllers/EnrollmentController.php
  app/Http/Controllers/StudentController.php
  app/Models/Enrollment.php
  app/Models/Student.php
  database/factories/EnrollmentFactory.php
  database/migrations/2025_09_22_150339_add_grade_level_to_enrollments_table.php
  database/seeders/UserSeeder.php
  resources/js/pages/enrollments/create.tsx
  tests/Feature/EnrollmentControllerTest.php
  tests/Feature/EnrollmentPendingConstraintTest.php
  tests/Feature/EnrollmentTest.php
  tests/Unit/Enums/EnrollmentStatusTest.php
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

refactor: consolidate grade_level into main enrollments migration
  database/migrations/2025_09_21_173000_create_enrollments_table.php
  database/migrations/2025_09_22_150339_add_grade_level_to_enrollments_table.php
Due: php -l, ./vendor/bin/pint

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
