Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.php": ["php -l", "./vendor/bin/pint"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: import route helper function in guardian student create
  resources/js/pages/guardian/students/create.tsx
Due: prettier --write, eslint --fix

fix: remove incorrect route import (route is a global function)
  resources/js/pages/guardian/students/create.tsx
Due: prettier --write, eslint --fix

debug: add console logging to track form submission
  resources/js/pages/guardian/students/create.tsx
Due: prettier --write, eslint --fix

fix: add @wayfinder directive to load route helper
  resources/views/app.blade.php
Due: php -l, ./vendor/bin/pint

fix: use Wayfinder route imports instead of global route() function
  resources/js/pages/guardian/students/create.tsx
Due: prettier --write, eslint --fix

fix: remove @wayfinder directive that was rendering as text
  resources/views/app.blade.php
Due: php -l, ./vendor/bin/pint

feat: use shadcn DatePicker for birthdate field
  resources/js/components/ui/date-picker.tsx
  resources/js/pages/guardian/students/create.tsx
Due: prettier --write, eslint --fix

fix: remove 18-year age restriction from student birthdate validation
  app/Http/Requests/Guardian/StoreStudentRequest.php
Due: php -l, ./vendor/bin/pint

refactor: rebuild guardian student create form from scratch
  resources/js/pages/guardian/students/create.tsx
Due: prettier --write, eslint --fix

fix: use Wayfinder routes for guardian enrollment links
  resources/js/pages/guardian/enrollments/index.tsx
Due: prettier --write, eslint --fix

fix: display enrollment error messages when button doesn't work
  resources/js/pages/guardian/enrollments/index.tsx
Due: prettier --write, eslint --fix

refactor: use toast notifications for enrollment errors
  resources/js/pages/guardian/enrollments/index.tsx
Due: prettier --write, eslint --fix

feat: add missing navigation items to super admin sidebar
  resources/js/components/sidebars/super-admin-sidebar.tsx
Due: prettier --write, eslint --fix

feat: implement enrollment periods index page with shadcn/ui
  resources/js/pages/super-admin/enrollment-periods/index.tsx
Due: prettier --write, eslint --fix

feat: implement complete CRUD operations for enrollment periods
  resources/js/pages/super-admin/enrollment-periods/create.tsx
  resources/js/pages/super-admin/enrollment-periods/edit.tsx
  resources/js/pages/super-admin/enrollment-periods/show.tsx
Due: prettier --write, eslint --fix

fix: allow future dates in enrollment period date pickers
  resources/js/components/ui/date-picker.tsx
  resources/js/pages/super-admin/enrollment-periods/create.tsx
  resources/js/pages/super-admin/enrollment-periods/edit.tsx
Due: prettier --write, eslint --fix

feat: implement guardian enrollment create form
  resources/js/pages/guardian/enrollments/create.tsx
Due: prettier --write, eslint --fix

fix: filter out students with active/pending enrollments
  app/Http/Controllers/Guardian/EnrollmentController.php
Due: php -l, ./vendor/bin/pint

feat: implement guardian enrollment edit page
  resources/js/pages/guardian/enrollments/edit.tsx
Due: prettier --write, eslint --fix

feat: implement guardian student detail page with enrollment history
  resources/js/pages/guardian/students/show.tsx
Due: prettier --write, eslint --fix

feat: complete guardian student CRUD operations
  app/Http/Controllers/Guardian/StudentController.php
  resources/js/pages/guardian/students/edit.tsx
Due: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

feat: implement shadcn DataTable for guardian students index
  resources/js/pages/guardian/students/columns.tsx
  resources/js/pages/guardian/students/index.tsx
Due: prettier --write, eslint --fix
