Repository st4rboy1/cbhlc: changes, and which lint-staged commands are due for each by the changed paths.
All: php -l, ./vendor/bin/pint, prettier --write, eslint --fix

refactor: separate invoice functionality and reorganize controllers
  app/Http/Controllers/BillingController.php
  app/Http/Controllers/InvoiceController.php
  app/Http/Controllers/StudentController.php
  routes/web.php
  tests/Feature/BillingControllerTest.php
Due: php -l, ./vendor/bin/pint

test: fix relationship tests after Guardian model refactor
  app/Http/Controllers/BillingController.php
  tests/Feature/GuardianStudentRelationshipTest.php
Due: php -l, ./vendor/bin/pint

fix: add isset check for optional remarks field in payment update
  app/Http/Controllers/BillingController.php
Due: php -l, ./vendor/bin/pint

fix: return 404 instead of 403 for unauthorized invoice access
  app/Http/Controllers/InvoiceController.php
Due: php -l, ./vendor/bin/pint

fix: cast accessor return values to float for consistency
  app/Models/Enrollment.php
Due: php -l, ./vendor/bin/pint

fix: ensure specific invoice route comes before generic route
  routes/web.php
Due: php -l, ./vendor/bin/pint

test: fix billing controller test expectations and data
  tests/Feature/BillingControllerTest.php
Due: php -l, ./vendor/bin/pint

chore: remove obsolete PHPStan ignored error patterns
  phpstan.neon
Due: none

feat: create TuitionController for tuition functionality
  app/Http/Controllers/TuitionController.php
Due: php -l, ./vendor/bin/pint

refactor: remove tuition method from BillingController
  app/Http/Controllers/BillingController.php
Due: php -l, ./vendor/bin/pint

refactor: reorganize routes with better structure and grouping
  routes/web.php
Due: php -l, ./vendor/bin/pint

test: add comprehensive tests for TuitionController
  tests/Feature/TuitionControllerTest.php
Due: php -l, ./vendor/bin/pint

test: remove tuition tests from BillingControllerTest
  tests/Feature/BillingControllerTest.php
Due: php -l, ./vendor/bin/pint

feat: add GuardianDashboardController to serve real children data
  app/Http/Controllers/GuardianDashboardController.php
Due: php -l, ./vendor/bin/pint

feat: add comprehensive student creation form for guardians
  resources/js/pages/guardian/students/create.tsx
Due: prettier --write, eslint --fix

feat: update guardian dashboard route to use dedicated controller
  routes/web.php
Due: php -l, ./vendor/bin/pint

feat: add 'Add Student' navigation link for guardians in sidebar
  resources/js/components/Sidebar.tsx
Due: prettier --write, eslint --fix

feat: enhance guardian dashboard with plus button card and real data integration
  resources/js/pages/guardian/dashboard.tsx
Due: prettier --write, eslint --fix

chore: update pre-push hook to include coverage tests
  .husky/pre-push
Due: none

style: fix code formatting in GuardianDashboardController
  app/Http/Controllers/GuardianDashboardController.php
Due: php -l, ./vendor/bin/pint

Path conditions:
  php -l: any of: *.php
  ./vendor/bin/pint: any of: *.php
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
